@charset "UTF-8";
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  width: 100%;
}
header .logo {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  background: var(--primary);
  overflow: hidden;
  width: 128px;
  height: 80px;
}
header.fixed {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
header.fixed .top-header {
  position: absolute;
  transform: translateY(-100%);
  opacity: 0;
}

.infomation-header {
  display: flex;
  align-items: center;
  height: 50px;
}
.infomation-header ul {
  display: flex;
  flex-wrap: wrap;
}
.infomation-header ul li {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--primary);
}
.infomation-header ul li a {
  transition: 0.3s all ease-in-out;
}
@media (min-width: 1025px) {
  .infomation-header ul li a:hover {
    color: var(--secondary);
  }
}
.infomation-header ul li + li {
  position: relative;
  margin-left: 24px;
  padding-left: 24px;
}
.infomation-header ul li + li:after {
  content: "";
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 2px;
  height: 70%;
  background: var(--primary);
}
.infomation-header ul:last-child {
  margin-left: auto;
}

@media (min-width: 1440px) {
  .top-header,
.bottom-header {
    padding: 0 35px;
  }
}

.top-header {
  transition: opacity 0.3s, transform 0.6s;
}
@media (max-width: 1024.98px) {
  .top-header {
    display: none;
  }
}

.seach-header,
.cart-header {
  cursor: pointer;
  align-self: center;
  margin-left: 34px;
}
@media (max-width: 1439.98px) {
  .seach-header,
.cart-header {
    margin-left: 24px;
  }
}

.seach-header .icon {
  color: var(--white);
  font-size: 20px;
}

.cart-header {
  padding-right: 12px;
}
.cart-header .icon {
  position: relative;
  color: var(--white);
  font-size: 20px;
}
.cart-header .icon span {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -8px;
  right: -12px;
  font-size: 12px;
  font-weight: 700;
  width: 22px;
  height: 22px;
  color: var(--primary);
  background: var(--white);
  border-radius: 50%;
}

.bottom-header {
  background: var(--primary);
}
.bottom-header .navigation-wrapper {
  display: flex;
}
@media (max-width: 1299.98px) {
  .bottom-header .navigation-wrapper {
    align-items: center;
  }
}

.languages {
  align-self: center;
  margin-left: 56px;
}
.languages ul {
  position: relative;
  display: flex;
}
.languages ul::before {
  content: "-";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: var(--white);
}
.languages li {
  cursor: pointer;
  user-select: none;
  color: var(--white);
}
.languages li + li {
  margin-left: 16px;
}
.languages li.active {
  color: var(--secondary);
}
@media (max-width: 1439.98px) {
  .languages {
    margin-left: 32px;
  }
}
@media (max-width: 1299.98px) {
  .languages {
    margin-left: auto;
  }
}

.toggle-menu-mobile {
  cursor: pointer;
  position: relative;
  width: 40px;
  height: 40px;
  background: var(--secondary);
  border-radius: 5px;
  margin-left: 24px;
}
.toggle-menu-mobile:before, .toggle-menu-mobile:after {
  position: absolute;
  left: 11px;
  width: 18px;
  height: 2px;
  background-color: var(--white);
  content: "";
  transition: 0.3s all linear;
}
.toggle-menu-mobile:before {
  top: 23px;
}
.toggle-menu-mobile:after {
  top: 15px;
}
.toggle-menu-mobile.active:before, .toggle-menu-mobile.active:after {
  top: 50%;
  left: 50%;
}
.toggle-menu-mobile.active:before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.toggle-menu-mobile.active:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
@media (min-width: 1300px) {
  .toggle-menu-mobile {
    display: none;
  }
}

.nav-config-mobile {
  display: flex;
  margin-left: auto;
}

nav {
  display: flex;
  margin-left: auto;
  transition: 0.3s all ease-in-out;
}
nav ul {
  display: flex;
  flex-wrap: wrap;
}
nav ul li.has-sub > a {
  position: relative;
  padding-right: 24px;
}
nav ul li.has-sub > a:after {
  content: "";
  font-family: "Font Awesome 5 Pro";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  color: var(--white);
}
nav ul > li {
  position: relative;
  display: flex;
  align-items: center;
}
nav ul > li a {
  display: block;
  width: 100%;
  text-transform: uppercase;
  color: var(--white);
}
@media (max-width: 1299.98px) {
  nav ul > li a {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--primary);
  }
}
nav ul > li + li {
  margin-left: 28px;
}
@media (max-width: 1299.98px) {
  nav ul > li + li {
    margin-left: 0;
    margin-top: 16px;
    padding-top: 16px;
    border-top: 1px solid var(--neutral-gray);
  }
}
nav ul > li > ul {
  position: absolute;
  top: 100%;
  flex-direction: column;
  background: var(--white);
  width: max-content;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s all ease-in-out;
}
nav ul > li > ul > li {
  padding: 0 24px;
  border-bottom: 0;
}
nav ul > li > ul > li ul {
  left: calc(100%);
  top: 0;
  /*Vertical*/
  background-image: linear-gradient(#ebebeb 33%, rgba(255, 255, 255, 0) 0%);
  background-position: left;
  background-size: 2px 16px;
  background-repeat: repeat-y;
}
nav ul > li > ul > li ul li a::after {
  content: none;
}
nav ul > li > ul > li.has-sub a:after {
  transform: translateY(-50%) rotate(-90deg);
  color: var(--primary);
}
nav ul > li > ul > li a {
  position: relative;
  font-size: 1.6rem;
  padding: 16px 24px;
  color: var(--primary);
  text-transform: unset;
}
nav ul > li > ul > li + li {
  margin-left: 0;
}
nav ul > li > ul > li + li a {
  border-top: 1px solid #ebebeb;
}
nav ul > li > ul > li:after {
  content: none;
}
@media (min-width: 1025px) {
  nav ul > li > ul > li:hover a:after {
    transform: translateY(-50%) rotate(-90deg);
    color: var(--secondary);
  }
}
nav ul > li:after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  left: 50%;
  background: var(--secondary);
  transform: translateX(-50%);
  height: 5px;
}
@media (min-width: 1300px) {
  nav ul > li > a,
nav ul > li a:after, nav ul > li:after {
    transition: 0.3s all ease-in-out;
  }
  nav ul > li:hover:after {
    width: 100%;
  }
  nav ul > li:hover > ul {
    opacity: 1;
    visibility: visible;
  }
  nav ul > li:hover > a,
nav ul > li:hover a:after {
    color: var(--secondary);
  }
}
nav .button-close-wrapper {
  text-align: right;
}
nav .button-close-wrapper .close-menu-mobile {
  cursor: pointer;
  right: 24px;
  top: 24px;
  font-size: 32px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
}
@media (min-width: 1300px) {
  nav .button-close-wrapper .close-menu-mobile {
    display: none;
  }
}
@media (max-width: 1299.98px) {
  nav {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    right: -375px;
    background: var(--white);
    z-index: 700;
    padding: 24px;
    max-width: 375px;
    width: 100%;
  }
  nav ul {
    display: block;
    width: 100%;
  }
  nav ul li.has-sub > a:after {
    color: var(--primary);
  }
  nav.active {
    right: 0;
  }
}