@charset "UTF-8";
@import url("reset.css");
@import url("global.css");
@import url("variables.css");
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  width: 100%;
}
header .top-header {
  padding: 0 35px;
  transition: opacity 0.3s, transform 0.6s;
}
@media (max-width: 1024.98px) {
  header .top-header {
    display: none;
  }
}
header .bottom-header {
  background: var(--primary);
  padding: 0 35px;
}
header .navigation-wrapper {
  display: flex;
}
@media (max-width: 1299.98px) {
  header .navigation-wrapper {
    align-items: center;
  }
}
header .infomation-header {
  display: flex;
  align-items: center;
  height: 50px;
}
header .infomation-header ul {
  display: flex;
  flex-wrap: wrap;
}
header .infomation-header ul li {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--primary);
}
header .infomation-header ul li a {
  transition: 0.3s all ease-in-out;
}
@media (min-width: 1025px) {
  header .infomation-header ul li a:hover {
    color: var(--secondary);
  }
}
header .infomation-header ul li + li {
  position: relative;
  margin-left: 24px;
  padding-left: 24px;
}
header .infomation-header ul li + li:after {
  content: "";
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 2px;
  height: 70%;
  background: var(--primary);
}
header .infomation-header ul:last-child {
  margin-left: auto;
}
header nav {
  display: flex;
  margin-left: auto;
  transition: 0.3s all ease-in-out;
}
header nav ul {
  display: flex;
  flex-wrap: wrap;
}
header nav ul li.has-sub > a {
  position: relative;
  padding-right: 24px;
}
header nav ul li.has-sub > a:after {
  content: "";
  font-family: "Font Awesome 5 Pro";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  color: var(--white);
}
header nav ul > li {
  position: relative;
  display: flex;
  align-items: center;
}
header nav ul > li a {
  display: block;
  width: 100%;
  text-transform: uppercase;
  color: var(--white);
}
@media (max-width: 1299.98px) {
  header nav ul > li a {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--primary);
  }
}
header nav ul > li + li {
  margin-left: 28px;
}
@media (max-width: 1299.98px) {
  header nav ul > li + li {
    margin-left: 0;
    margin-top: 16px;
    padding-top: 16px;
    border-top: 1px solid var(--neutral-gray);
  }
}
header nav ul > li > ul {
  position: absolute;
  top: 100%;
  flex-direction: column;
  background: var(--white);
  width: max-content;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s all ease-in-out;
}
header nav ul > li > ul > li {
  padding: 0 24px;
  border-bottom: 0;
}
header nav ul > li > ul > li ul {
  left: calc(100%);
  top: 0;
  /*Vertical*/
  background-image: linear-gradient(#ebebeb 33%, rgba(255, 255, 255, 0) 0%);
  background-position: left;
  background-size: 2px 16px;
  background-repeat: repeat-y;
}
header nav ul > li > ul > li ul li a::after {
  content: none;
}
header nav ul > li > ul > li.has-sub a:after {
  transform: translateY(-50%) rotate(-90deg);
  color: var(--primary);
}
header nav ul > li > ul > li a {
  position: relative;
  font-size: 1.6rem;
  padding: 16px 24px;
  color: var(--primary);
  text-transform: unset;
}
header nav ul > li > ul > li + li {
  margin-left: 0;
}
header nav ul > li > ul > li + li a {
  border-top: 1px solid #ebebeb;
}
header nav ul > li > ul > li:after {
  content: none;
}
@media (min-width: 1025px) {
  header nav ul > li > ul > li:hover a:after {
    transform: translateY(-50%) rotate(-90deg);
    color: var(--secondary);
  }
}
header nav ul > li:after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  left: 50%;
  background: var(--secondary);
  transform: translateX(-50%);
  height: 5px;
}
@media (min-width: 1300px) {
  header nav ul > li > a,
header nav ul > li a:after, header nav ul > li:after {
    transition: 0.3s all ease-in-out;
  }
  header nav ul > li:hover:after {
    width: 100%;
  }
  header nav ul > li:hover > ul {
    opacity: 1;
    visibility: visible;
  }
  header nav ul > li:hover > a,
header nav ul > li:hover a:after {
    color: var(--secondary);
  }
}
header nav .button-close-wrapper {
  text-align: right;
}
header nav .button-close-wrapper .close-menu-mobile {
  cursor: pointer;
  right: 24px;
  top: 24px;
  font-size: 32px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
}
@media (min-width: 1300px) {
  header nav .button-close-wrapper .close-menu-mobile {
    display: none;
  }
}
@media (max-width: 1299.98px) {
  header nav {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    right: -360px;
    background: var(--white);
    z-index: 600;
    padding: 24px;
    width: 360px;
  }
  header nav ul {
    display: block;
    width: 100%;
  }
  header nav ul li.has-sub > a:after {
    color: var(--primary);
  }
  header nav.active {
    right: 0;
  }
}
header .logo {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  background: var(--primary);
  overflow: hidden;
  width: 128px;
  height: 80px;
}
header .languages {
  align-self: center;
  margin-left: 56px;
}
header .languages ul {
  position: relative;
  display: flex;
}
header .languages ul::before {
  content: "-";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: var(--white);
}
header .languages li {
  cursor: pointer;
  user-select: none;
  color: var(--white);
}
header .languages li + li {
  margin-left: 16px;
}
header .languages li.active {
  color: var(--secondary);
}
@media (max-width: 1439.98px) {
  header .languages {
    margin-left: 32px;
  }
}
@media (max-width: 1299.98px) {
  header .languages {
    margin-left: auto;
  }
}
header .seach-header,
header .cart-header {
  cursor: pointer;
  align-self: center;
  margin-left: 34px;
}
@media (max-width: 1439.98px) {
  header .seach-header,
header .cart-header {
    margin-left: 24px;
  }
}
header .seach-header .icon {
  color: var(--white);
  font-size: 20px;
}
header .cart-header {
  padding-right: 12px;
}
header .cart-header .icon {
  position: relative;
  color: var(--white);
  font-size: 20px;
}
header .cart-header .icon span {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -8px;
  right: -12px;
  font-size: 12px;
  font-weight: 700;
  width: 22px;
  height: 22px;
  color: var(--primary);
  background: var(--white);
  border-radius: 50%;
}
header .toggle-menu-mobile {
  cursor: pointer;
  position: relative;
  width: 40px;
  height: 40px;
  background: var(--secondary);
  border-radius: 5px;
  margin-left: 24px;
}
header .toggle-menu-mobile:before, header .toggle-menu-mobile:after {
  position: absolute;
  left: 11px;
  width: 18px;
  height: 2px;
  background-color: var(--white);
  content: "";
  transition: 0.3s all linear;
}
header .toggle-menu-mobile:before {
  top: 23px;
}
header .toggle-menu-mobile:after {
  top: 15px;
}
header .toggle-menu-mobile.active:before, header .toggle-menu-mobile.active:after {
  top: 50%;
  left: 50%;
}
header .toggle-menu-mobile.active:before {
  transform: translate(-50%, -50%) rotate(45deg);
}
header .toggle-menu-mobile.active:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
@media (min-width: 1300px) {
  header .toggle-menu-mobile {
    display: none;
  }
}
header.fixed {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
header.fixed .top-header {
  position: absolute;
  transform: translateY(-100%);
  opacity: 0;
}

footer {
  padding: 70px 0 38px;
  color: var(--white);
  background: var(--primary);
}
footer h3 {
  font-weight: 600;
  font-size: 1.8rem;
}
footer span {
  color: var(--neutral-gray);
  font-style: italic;
}
@media (min-width: 1025px) {
  footer a {
    transition: 0.3s all ease-in-out;
  }
  footer a:hover {
    color: var(--secondary) !important;
    text-decoration: underline;
  }
}
footer .socials {
  display: flex;
  margin-left: auto;
}
footer .socials .item-social a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 4px;
  background: var(--secondary);
  color: var(--primary);
}
footer .socials .item-social + .item-social {
  margin-left: 10px;
}
footer .wrapper {
  margin-top: 24px;
}
footer .block-form {
  max-width: 400px;
}
footer .block-form button {
  margin-top: 24px;
}
footer .form-group + .form-group {
  margin-top: 20px;
}
footer .list-informations {
  margin-top: 24px;
}
footer .list-informations li + li {
  margin-top: 4px;
}
footer .list-nav li + li {
  margin-top: 12px;
}
footer .list-nav a {
  color: var(--white);
}
footer .list-nav:last-child {
  margin-left: 68px;
}
footer .btn-map {
  display: inline-block;
  margin-top: 40px;
  color: var(--white);
  text-decoration: underline;
  text-transform: uppercase;
}
footer .copy-right {
  display: flex;
  margin-top: 82px;
}
footer .copy-right p i,
footer .copy-right p svg {
  color: var(--secondary);
}
footer .copy-right p:last-child {
  margin-left: auto;
}
@media (min-width: 1025px) {
  footer .btn.only-icon:hover {
    color: var(--primary);
    background: var(--white);
  }
}

@media (max-width: 1024.98px) {
  main {
    padding-top: 80px;
  }
}

.hero-banner .group-images {
  display: flex;
  flex-wrap: wrap;
}
.hero-banner .group-images img {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}
@media (max-width: 1024.98px) {
  .hero-banner .group-images img {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    object-position: bottom;
  }
  .hero-banner .group-images img:last-child {
    display: none;
  }
}
@media (max-width: 1024.98px) {
  .hero-banner .group-images {
    height: 600px;
  }
}
.hero-banner .main-item {
  position: absolute;
  left: 52%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.hero-banner .main-item img {
  width: 70%;
}
@media (min-width: 1400px) {
  .hero-banner .main-item img {
    width: 100%;
  }
}
@media (max-width: 1024.98px) {
  .hero-banner .main-item {
    top: 25%;
    transform: unset;
  }
}
.hero-banner .content {
  position: absolute;
  left: 0;
  top: 40%;
  transform: translateY(-50%);
  width: 100%;
}
.hero-banner .content h2 {
  color: var(--primary);
  font-size: 7rem;
  font-weight: 900;
  line-height: 1.2;
}
.hero-banner .content h2 span {
  color: var(--white);
  text-shadow: -1px -1px 0 var(--primary), 1px -1px 0 var(--primary), -1px 1px 0 var(--primary), 1px 1px 0 var(--primary);
}
@media (max-width: 1199.98px) {
  .hero-banner .content h2 {
    font-size: 5rem;
  }
}
.hero-banner .content p {
  color: var(--primary);
  max-width: 400px;
  margin-top: 24px;
}
.hero-banner .cta-button {
  width: 100%;
  position: absolute;
  bottom: 60px;
  left: 0;
}
@media (max-width: 1024.98px) {
  .hero-banner .cta-button .btn {
    background: var(--primary);
    border: 0;
  }
}

.index-service {
  padding: 100px 0;
  overflow: hidden;
}
.index-service .wrapper {
  position: relative;
  max-width: 1070px;
  width: 100%;
  margin: 0 auto;
}
.index-service .wrapper:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-image: url(../../resources//images/index/index-service-background.png);
  background-size: 100% 100%;
  width: 850px;
  height: 400px;
  pointer-events: none;
  z-index: -1;
}
.index-service .item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.index-service .item .text {
  display: flex;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
}
.index-service .item h2 {
  font-family: "SFU TradeGothic";
  margin-left: auto;
  font-size: 5rem;
  text-transform: uppercase;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  width: 100%;
  margin: 0;
  float: left;
  color: var(--white);
  text-shadow: -1px -1px 0 var(--primary), 1px -1px 0 var(--primary), -1px 1px 0 var(--primary), 1px 1px 0 var(--primary);
}
.index-service .item .img {
  -ms-flex: 0 0 80%;
  flex: 0 0 80%;
  max-width: 80%;
}
.index-service .item img {
  display: block;
  margin: 0 auto;
}
@media (min-width: 1025px) {
  .index-service .item h2 {
    transition: 0.3s all ease-in-out;
  }
  .index-service .item:hover h2 {
    color: var(--primary);
  }
}
@media (max-width: 1024.98px) {
  .index-service {
    padding: 50px 0;
  }
}
@media (max-width: 767.98px) {
  .index-service {
    padding: 25px 0;
  }
}

.index-about {
  position: relative;
  width: 100%;
  padding-top: 85px;
  background-image: var(--url-background-index-about);
  background-size: 100% 100%;
}
.index-about .content-section {
  margin-top: 30px;
}
.index-about .content-section p {
  color: var(--primary);
}
.index-about .content-section p + p {
  margin-top: 30px;
}
.index-about .img-bottom {
  position: relative;
  margin-top: -85px;
  z-index: 10;
}
.index-about .cta-button {
  margin-top: 30px;
}

.index-best-seller {
  padding: 80px 0;
}
.index-best-seller .title-section {
  margin-bottom: 30px;
}
.index-best-seller .group-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 26px;
}

.slider-index-best-seller {
  position: relative;
}
.slider-index-best-seller .item {
  min-height: 505px;
  border: 1px solid #d3d3d3;
  border-left: 0;
  padding: 24px;
}
.slider-index-best-seller .item .img {
  position: relative;
  display: block;
  width: auto;
  min-height: 260px;
  max-height: 260px;
  overflow: hidden;
}
.slider-index-best-seller .item .img img {
  display: block;
  margin: 0 auto;
}
.slider-index-best-seller .item .img .item-hover {
  position: absolute;
  bottom: 0;
  left: 60%;
  transform: translateX(-60%);
  opacity: 0;
  pointer-events: none;
  z-index: 10;
}
.slider-index-best-seller .item .description {
  margin-top: 44px;
}
.slider-index-best-seller .item h3 {
  display: inline-block;
  position: relative;
  margin-bottom: 8px;
}
.slider-index-best-seller .item h3:after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: var(--secondary);
  left: 0;
  bottom: 0;
}
.slider-index-best-seller .item h3,
.slider-index-best-seller .item h4 {
  text-transform: uppercase;
  color: var(--primary);
  font-size: 2.2rem;
  letter-spacing: -1px;
}
.slider-index-best-seller .item p {
  color: var(--primary);
}
.slider-index-best-seller .item-fixed {
  position: relative;
}
.slider-index-best-seller .item-fixed .logo {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}
.slider-index-best-seller .item-fixed p {
  font-style: italic;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  color: var(--white);
  text-align: center;
}
.slider-index-best-seller .item-fixed p:after, .slider-index-best-seller .item-fixed p:before {
  font-size: 24px;
  font-family: "Font Awesome 5 Pro";
  font-weight: 700;
  position: absolute;
  color: var(--secondary);
}
.slider-index-best-seller .item-fixed p:before {
  content: "";
  top: -8px;
  right: 103%;
}
.slider-index-best-seller .item-fixed p:after {
  content: "";
  bottom: -8px;
  left: 100%;
}
.slider-index-best-seller .item-fixed .cta-button {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
}
@media (min-width: 1025px) {
  .slider-index-best-seller .item .img .item-hover {
    transition: opacity 0.3s ease-in-out, transform 0.5s ease-in-out;
  }
  .slider-index-best-seller .item h3 {
    transition: 0.3s all ease-in-out;
  }
  .slider-index-best-seller .item h3:after {
    transition: 0.5s all ease-in-out;
  }
  .slider-index-best-seller .item:hover .img .item-hover {
    opacity: 1;
    transition: opacity 0.3s ease-in-out, transform 0.5s ease-in-out;
    transform: translateX(-50%);
  }
  .slider-index-best-seller .item:hover h3 {
    color: var(--secondary);
  }
  .slider-index-best-seller .item:hover h3:after {
    width: 100%;
  }
  .slider-index-best-seller .item:hover .btn {
    background: var(--secondary);
    color: var(--primary);
  }
}

.index-educate {
  background-image: var(--url-background-index-edicate);
  background-size: 100% 100%;
  padding: 80px 0;
}
.index-educate .content {
  margin-top: 30px;
}
.index-educate .content p {
  color: var(--primary);
}
.index-educate .content p + p {
  margin-top: 24px;
}
.index-educate .cta-button {
  margin-top: 44px;
}
.index-educate .thumbnail-video {
  position: relative;
}

.index-setup {
  padding: 100px 0;
}
.index-setup .title-section {
  margin-bottom: 35px;
}
.index-setup .description h3,
.index-setup .description p {
  color: var(--primary);
}
.index-setup .description h3 {
  font-size: 2rem;
}
.index-setup .description p {
  margin-top: 8px;
}
.index-setup .big-item {
  position: relative;
}
.index-setup .big-item .img {
  height: 600px;
  width: auto;
}
.index-setup .big-item .description {
  position: absolute;
  left: 30px;
  right: 30px;
  bottom: 30px;
  z-index: 10;
}
.index-setup .big-item .description h3 {
  color: var(--white);
  font-size: 2.2rem;
}
.index-setup .big-item .description p {
  color: var(--white);
}
.index-setup .big-item .description .cta-button {
  margin-top: 20px;
}
.index-setup .big-item:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background: #020024;
  background: linear-gradient(180deg, rgba(2, 0, 36, 0) 0%, rgba(0, 0, 0, 0.8) 90%);
}
@media (min-width: 1025px) {
  .index-setup .big-item .description h3 {
    transition: 0.3s all ease-in-out;
  }
  .index-setup .big-item .img img {
    transition: transform 0.5s ease-in-out;
  }
  .index-setup .big-item:hover .img img {
    transform: scale(1.1);
  }
  .index-setup .big-item:hover .description h3 {
    color: var(--secondary);
    text-decoration: underline;
  }
  .index-setup .big-item:hover .btn {
    color: var(--primary);
    background: var(--secondary);
  }
}
@media (min-width: 1200px) {
  .index-setup [class*=col-]:last-child {
    padding-left: 45px;
  }
}
.index-setup .item {
  display: flex;
  align-items: center;
}
.index-setup .item .img {
  position: relative;
  -ms-flex: 0 0 180px;
  flex: 0 0 180px;
  max-width: 180px;
  height: 180px;
}
.index-setup .item .img:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
}
.index-setup .item .description {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
  padding-left: 30px;
}
.index-setup .item .cta-button {
  margin-top: 8px;
}
.index-setup .item + .item {
  margin-top: 30px;
}
@media (min-width: 1025px) {
  .index-setup .item .img:after {
    transition: opacity 0.3s ease-in-out;
  }
  .index-setup .item .img img {
    transition: transform 0.3s ease-in-out;
  }
  .index-setup .item .description h3 {
    transition: 0.3s all ease-in-out;
  }
  .index-setup .item:hover .img:after {
    opacity: 1;
  }
  .index-setup .item:hover .img img {
    transform: scale(1.05);
  }
  .index-setup .item:hover .description h3 {
    color: var(--secondary);
  }
  .index-setup .item:hover .description .btn {
    color: var(--secondary);
  }
}

.index-recipe {
  position: relative;
  padding: 80px 0;
  background-image: var(--url-background-index-recipe);
  background-size: cover;
}
.index-recipe .header-recipe {
  display: flex;
  align-items: flex-end;
}
.index-recipe .list-tab {
  display: flex;
  margin-left: auto;
}
.index-recipe .list-tab .item-tab {
  cursor: pointer;
  user-select: none;
  font-weight: 900;
  color: var(--white);
  text-transform: uppercase;
}
.index-recipe .list-tab .item-tab + .item-tab {
  margin-left: 20px;
}
.index-recipe .list-tab .item-tab.active {
  color: var(--secondary);
}
@media (min-width: 1025px) {
  .index-recipe .list-tab .item-tab {
    transition: 0.3s all ease-in-out;
  }
  .index-recipe .list-tab .item-tab:hover {
    color: var(--secondary);
  }
}

.slider-index-recipe {
  position: relative;
  margin-top: 35px;
}
.slider-index-recipe .img {
  position: relative;
  height: 300px;
  width: auto;
}
.slider-index-recipe .img:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background: #020024;
  background: linear-gradient(180deg, rgba(2, 0, 36, 0) 50%, rgba(0, 0, 0, 0.8) 90%);
}
.slider-index-recipe .description {
  position: absolute;
  left: 30px;
  bottom: 30px;
  right: 30px;
}
.slider-index-recipe .description h3 {
  color: var(--white);
  font-size: 2.2rem;
}
.slider-index-recipe .item {
  position: relative;
}
@media (min-width: 1025px) {
  .slider-index-recipe .item .description h3 {
    transition: 0.3s all ease-in-out;
  }
  .slider-index-recipe .item .img img {
    transition: 0.3s all ease-in-out;
  }
  .slider-index-recipe .item:hover .img img {
    transform: scale(1.1);
  }
  .slider-index-recipe .item:hover .description h3 {
    color: var(--secondary);
  }
}

.customers-clients {
  padding: 80px 0;
}

.slider-index-customer {
  position: relative;
  margin-top: 38px;
}
.slider-index-customer .item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 160px;
  width: auto;
  border: 1px solid #d3d3d3;
}

.index-news {
  padding: 80px 0;
  background-image: var(--url-background-index-news);
  background-size: 100% 100%;
}

.slider-index-news {
  position: relative;
  margin-top: 38px;
}
.slider-index-news .header-description {
  display: flex;
}
.slider-index-news .description {
  background: var(--white);
  padding: 30px;
}
.slider-index-news .description span {
  text-transform: uppercase;
  font-size: 1.3rem;
}
.slider-index-news .description span:first-child {
  color: var(--secondary);
  font-weight: 900;
}
.slider-index-news .description span:last-child {
  margin-left: auto;
  color: var(--primary);
  font-weight: 500;
}
.slider-index-news .description h3,
.slider-index-news .description p {
  color: var(--primary);
}
.slider-index-news .description h3 {
  font-size: 2.2rem;
  font-weight: 400;
  margin-top: 16px;
}
.slider-index-news .description p {
  margin-top: 8px;
}
.slider-index-news .img {
  height: 300px;
  width: auto;
}
.slider-index-news .cta-button {
  margin-top: 20px;
}
@media (min-width: 1025px) {
  .slider-index-news .item .img img {
    transition: 0.3s all ease-in-out;
  }
  .slider-index-news .item .description h3 {
    transition: 0.3s all ease-in-out;
  }
  .slider-index-news .item:hover .img img {
    transform: scale(1.1);
  }
  .slider-index-news .item:hover .description h3 {
    color: var(--secondary);
  }
  .slider-index-news .item:hover .btn {
    color: var(--secondary);
  }
}