@charset "UTF-8";
@import url("reset.css");
@import url("global.css");
@import url("variables.css");
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  width: 100%;
}
header .top-header {
  padding: 0 35px;
}
header .bottom-header {
  background: var(--primary);
  padding: 0 35px;
}
header .navigation-wrapper {
  display: flex;
}
header .infomation-header {
  display: flex;
  align-items: center;
  height: 50px;
}
header .infomation-header ul {
  display: flex;
  flex-wrap: wrap;
}
header .infomation-header ul li {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--primary);
}
header .infomation-header ul li + li {
  position: relative;
  margin-left: 24px;
  padding-left: 24px;
}
header .infomation-header ul li + li:after {
  content: "";
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 2px;
  height: 70%;
  background: var(--primary);
}
header .infomation-header ul:last-child {
  margin-left: auto;
}
header nav {
  display: flex;
  margin-left: auto;
}
header nav ul {
  display: flex;
  flex-wrap: wrap;
}
header nav ul li.has-sub > a {
  position: relative;
  padding-right: 24px;
}
header nav ul li.has-sub > a:after {
  content: "";
  font-family: "Font Awesome 5 Pro";
  font-weight: 700;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  color: var(--white);
}
header nav ul > li {
  position: relative;
  display: flex;
  align-items: center;
}
header nav ul > li a {
  display: block;
  width: 100%;
  text-transform: uppercase;
  color: var(--white);
}
header nav ul > li + li {
  margin-left: 28px;
}
header nav ul > li > ul {
  position: absolute;
  top: 100%;
  flex-direction: column;
  background: var(--white);
  width: max-content;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s all ease-in-out;
}
header nav ul > li > ul > li {
  padding: 0 24px;
  border-bottom: 0;
}
header nav ul > li > ul > li ul {
  left: calc(100%);
  top: 0;
  /*Vertical*/
  background-image: linear-gradient(#ebebeb 33%, rgba(255, 255, 255, 0) 0%);
  background-position: left;
  background-size: 2px 16px;
  background-repeat: repeat-y;
}
header nav ul > li > ul > li ul li a::after {
  content: none;
}
header nav ul > li > ul > li.has-sub a:after {
  transform: translateY(-50%) rotate(-90deg);
  color: var(--primary);
}
header nav ul > li > ul > li a {
  position: relative;
  font-size: 1.6rem;
  padding: 16px 24px;
  color: var(--primary);
  text-transform: unset;
}
header nav ul > li > ul > li + li {
  margin-left: 0;
}
header nav ul > li > ul > li + li a {
  border-top: 1px solid #ebebeb;
}
header nav ul > li > ul > li:after {
  content: none;
}
@media (min-width: 1025px) {
  header nav ul > li > ul > li:hover a:after {
    transform: translateY(-50%) rotate(-90deg);
    color: var(--secondary);
  }
}
header nav ul > li:after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  left: 50%;
  background: var(--secondary);
  transform: translateX(-50%);
  height: 5px;
}
@media (min-width: 1025px) {
  header nav ul > li > a,
header nav ul > li a:after, header nav ul > li:after {
    transition: 0.3s all ease-in-out;
  }
  header nav ul > li:hover:after {
    width: 100%;
  }
  header nav ul > li:hover > ul {
    opacity: 1;
    visibility: visible;
  }
  header nav ul > li:hover > a,
header nav ul > li:hover a:after {
    color: var(--secondary);
  }
}
header .logo {
  display: inline-block;
  background: var(--primary);
  width: 80px;
}
header .languages {
  align-self: center;
  margin-left: 56px;
}
header .languages ul {
  position: relative;
  display: flex;
}
header .languages ul::before {
  content: "-";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: var(--white);
}
header .languages li {
  cursor: pointer;
  user-select: none;
  color: var(--white);
}
header .languages li + li {
  margin-left: 16px;
}
header .seach-header {
  align-self: center;
  margin-left: 34px;
}
header .seach-header .icon {
  color: var(--white);
  font-size: 20px;
}
header .cart-header {
  align-self: center;
  margin-left: 34px;
}
header .cart-header .icon {
  position: relative;
  color: var(--white);
  font-size: 20px;
}
header .cart-header .icon span {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -8px;
  right: -12px;
  font-size: 12px;
  font-weight: 700;
  width: 22px;
  height: 22px;
  color: var(--primary);
  background: var(--white);
  border-radius: 50%;
}

.hero-banner .group-images {
  display: flex;
  flex-wrap: wrap;
}
.hero-banner .group-images img {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}
.hero-banner .main-item {
  position: absolute;
  left: 52%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.hero-banner .main-item img {
  width: 70%;
}
@media (min-width: 1400px) {
  .hero-banner .main-item img {
    width: 100%;
  }
}
.hero-banner .content {
  position: absolute;
  left: 0;
  top: 40%;
  transform: translateY(-50%);
  width: 100%;
}
.hero-banner .content h2 {
  color: var(--primary);
  font-size: 7rem;
  font-weight: 900;
  line-height: 1.2;
}
.hero-banner .content h2 span {
  color: var(--white);
  text-shadow: -1px -1px 0 var(--primary), 1px -1px 0 var(--primary), -1px 1px 0 var(--primary), 1px 1px 0 var(--primary);
}
.hero-banner .content p {
  color: var(--primary);
  font-size: 1.5rem;
  max-width: 400px;
  margin-top: 24px;
}
.hero-banner .cta-button {
  width: 100%;
  position: absolute;
  bottom: 60px;
  left: 0;
}

.index-service {
  padding: 100px 0;
}
.index-service .wrapper {
  position: relative;
  max-width: 1070px;
  width: 100%;
  margin: 0 auto;
}
.index-service .wrapper:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-image: url(/resources//images/index/index-service-background.png);
  background-size: 100% 100%;
  width: 850px;
  height: 400px;
  pointer-events: none;
  z-index: -1;
}
.index-service .item {
  display: flex;
  justify-content: center;
}
.index-service .item .text {
  display: flex;
}
.index-service .item h2 {
  margin-left: auto;
  font-size: 3.2rem;
  text-transform: uppercase;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  width: 100%;
  margin: 0;
  float: left;
  color: var(--white);
  text-shadow: -1px -1px 0 var(--primary), 1px -1px 0 var(--primary), -1px 1px 0 var(--primary), 1px 1px 0 var(--primary);
}

.index-about {
  position: relative;
  width: 100%;
  padding-top: 85px;
  background-image: var(--url-background-index-about);
  background-size: 100% 100%;
}
.index-about .content-section {
  margin-top: 30px;
}
.index-about .content-section p {
  color: var(--primary);
}
.index-about .content-section p + p {
  margin-top: 30px;
}
.index-about .img-bottom {
  position: relative;
  margin-top: -85px;
  z-index: 10;
}
.index-about .cta-button {
  margin-top: 30px;
}

.index-best-seller {
  padding: 80px 0;
}
.index-best-seller .title-section {
  margin-bottom: 30px;
}
.index-best-seller .item {
  min-height: 505px;
  border: 1px solid #d3d3d3;
  border-left: 0;
  padding: 24px;
}
.index-best-seller .item .img {
  width: auto;
  min-height: 260px;
  max-height: 260px;
  overflow: hidden;
}
.index-best-seller .item .img img {
  display: block;
  margin: 0 auto;
}
.index-best-seller .item .description {
  margin-top: 44px;
}
.index-best-seller .item h3 {
  margin-bottom: 8px;
}
.index-best-seller .item h3,
.index-best-seller .item h4 {
  text-transform: uppercase;
  color: var(--primary);
  font-size: 2.2rem;
  letter-spacing: -1px;
}
.index-best-seller .item p {
  color: var(--primary);
}
.index-best-seller .item-fixed {
  position: relative;
}
.index-best-seller .item-fixed .logo {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}
.index-best-seller .item-fixed p {
  font-style: italic;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  color: var(--white);
  text-align: center;
}
.index-best-seller .item-fixed p:after, .index-best-seller .item-fixed p:before {
  font-size: 24px;
  font-family: "Font Awesome 5 Pro";
  font-weight: 700;
  position: absolute;
  color: var(--secondary);
}
.index-best-seller .item-fixed p:before {
  content: "";
  top: -8px;
  right: 103%;
}
.index-best-seller .item-fixed p:after {
  content: "";
  bottom: -8px;
  left: 100%;
}
.index-best-seller .item-fixed .cta-button {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
}
.index-best-seller .group-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 26px;
}
.index-best-seller .slider-index-best-seller {
  position: relative;
}

.index-educate {
  background-image: var(--url-background-index-edicate);
  background-size: 100% 100%;
  padding: 80px 0;
}
.index-educate .content {
  margin-top: 30px;
}
.index-educate .content p {
  color: var(--primary);
}
.index-educate .content p + p {
  margin-top: 24px;
}
.index-educate .cta-button {
  margin-top: 44px;
}
.index-educate .thumbnail-video {
  position: relative;
}

.index-setup {
  padding: 100px 0;
}
.index-setup .title-section {
  margin-bottom: 35px;
}
.index-setup .description h3,
.index-setup .description p {
  color: var(--primary);
}
.index-setup .description h3 {
  font-size: 2rem;
}
.index-setup .description p {
  font-size: 1.5rem;
  margin-top: 8px;
}
.index-setup .big-item {
  position: relative;
}
.index-setup .big-item .img {
  height: 600px;
}
.index-setup .big-item .description {
  position: absolute;
  left: 30px;
  right: 30px;
  bottom: 30px;
}
.index-setup .big-item .description h3 {
  color: var(--white);
  font-size: 2.2rem;
}
.index-setup .big-item .description p {
  color: var(--white);
}
.index-setup .big-item .description .cta-button {
  margin-top: 20px;
}
@media (min-width: 1200px) {
  .index-setup [class*=col-]:last-child {
    padding-left: 45px;
  }
}
.index-setup .item {
  display: flex;
  align-items: center;
}
.index-setup .item .img {
  -ms-flex: 0 0 180px;
  flex: 0 0 180px;
  max-width: 180px;
  height: 180px;
}
.index-setup .item .description {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
  padding-left: 30px;
}
.index-setup .item .cta-button {
  margin-top: 8px;
}
.index-setup .item + .item {
  margin-top: 30px;
}

.index-recipe {
  position: relative;
  padding: 80px 0;
  background-image: var(--url-background-index-recipe);
  background-size: cover;
}
.index-recipe .header-recipe {
  display: flex;
  align-items: flex-end;
}
.index-recipe .list-tab {
  display: flex;
  margin-left: auto;
}
.index-recipe .list-tab .item-tab {
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 900;
  color: var(--white);
  text-transform: uppercase;
}
.index-recipe .list-tab .item-tab + .item-tab {
  margin-left: 20px;
}
.index-recipe .list-tab .item-tab.active {
  color: var(--secondary);
}
@media (min-width: 1025px) {
  .index-recipe .list-tab .item-tab {
    transition: 0.3s all ease-in-out;
  }
  .index-recipe .list-tab .item-tab:hover {
    color: var(--secondary);
  }
}
.index-recipe .slider-index-recipe {
  position: relative;
  margin-top: 35px;
}
.index-recipe .slider-index-recipe .item {
  position: relative;
}
.index-recipe .slider-index-recipe .item .description {
  position: absolute;
  left: 30px;
  bottom: 30px;
  right: 30px;
}
.index-recipe .slider-index-recipe .item .description h3 {
  color: var(--white);
  font-size: 2.2rem;
}