.page-banner {
  position: relative;
}
.page-banner .img {
  height: 400px;
}
@media (max-width: 767.98px) {
  .page-banner .img {
    height: 300px;
  }
}
@media (max-width: 575.98px) {
  .page-banner .img {
    height: 250px;
  }
}
.page-banner .wrapper {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  height: 100%;
}
.page-banner .wrapper .container {
  height: 100%;
}
.page-banner .group-infomation {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  align-items: flex-end;
  padding-bottom: 50px;
}
.page-banner .group-infomation h1 {
  position: relative;
  color: var(--white);
  font-family: "SFU TradeGothic";
  font-size: 5.5rem;
  text-transform: uppercase;
  line-height: 1;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  padding-top: 10px;
}
.page-banner .group-infomation h1 span {
  display: block;
  font-size: 1.5rem;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
.page-banner .group-infomation h1:before {
  content: "";
  top: 0;
  width: 100%;
  position: absolute;
  left: 0;
  height: 2px;
  background: var(--white);
}
.page-banner .group-infomation .breadcrumb {
  margin-left: auto;
  margin-right: 30px;
}
@media (max-width: 575.98px) {
  .page-banner .group-infomation .breadcrumb {
    margin-left: 0;
    margin-top: 24px;
  }
}
@media (max-width: 575.98px) {
  .page-banner .group-infomation {
    padding-bottom: 24px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
  }
}