@charset "UTF-8";
.Educate-value [class*=col-] {
  text-align: center;
}
.Educate-value [class*=col-]:first-child, .Educate-value [class*=col-]:nth-child(2), .Educate-value [class*=col-]:nth-child(3) {
  margin-bottom: 44px;
}
@media (max-width: 767.98px) {
  .Educate-value [class*=col-] {
    margin-bottom: 24px !important;
  }
}
.Educate-value .icon {
  margin: 0 auto;
  width: 120px;
  height: 120px;
  border-radius: 100%;
  background: var(--secondary);
  display: flex;
  align-items: center;
  justify-content: center;
}
.Educate-value .icon i {
  font-size: 6rem;
  color: var(--primary);
}
@media (max-width: 575.98px) {
  .Educate-value .icon {
    width: 100px;
    height: 100px;
  }
  .Educate-value .icon i {
    font-size: 4rem;
  }
}
.Educate-value .desc {
  margin-top: 25px;
  text-align: center;
}
@media (max-width: 1439.98px) {
  .Educate-value .desc {
    margin-top: 20px;
  }
}
@media (max-width: 575.98px) {
  .Educate-value .desc {
    margin-top: 10px;
  }
}
.Educate-value .desc h3,
.Educate-value .desc p {
  color: var(--primary);
}
.Educate-value .desc p {
  max-width: 85%;
  margin: 0 auto;
}
@media (max-width: 1024.98px) {
  .Educate-value .desc p {
    max-width: 95%;
  }
}
@media (max-width: 575.98px) {
  .Educate-value .desc p {
    max-width: 70%;
  }
}
@media (max-width: 425.98px) {
  .Educate-value .desc p {
    max-width: 95%;
  }
}
.Educate-value .desc h3 {
  font-size: 2.5rem;
  font-family: "SFU TradeGothic";
  margin-bottom: 20px;
}
@media (max-width: 1439.98px) {
  .Educate-value .desc h3 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
}

.Educate-images {
  position: relative;
}

.slider-educate-images {
  position: relative;
  padding: 0 60px;
}
.slider-educate-images.no-padding {
  padding: 0 !important;
}
.slider-educate-images .item {
  cursor: pointer;
}
.slider-educate-images .item .img {
  position: relative;
  padding-bottom: calc(400 / 580 * 100%);
}
.slider-educate-images .item .img:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--black);
  opacity: 0;
  z-index: 1;
  transition: 0.3s all ease-in-out;
}
@media (min-width: 1025px) {
  .slider-educate-images .item .img img {
    transition: 0.3s all ease-in-out;
  }
  .slider-educate-images .item:hover .img:after {
    opacity: 0.5;
  }
  .slider-educate-images .item:hover .img img {
    transform: scale(1.1);
  }
}
@media (max-width: 575.98px) {
  .slider-educate-images {
    padding: 0 15px;
  }
}

.Educate-info {
  position: relative;
}

.slider-educate-info {
  position: relative;
}
.slider-educate-info .item .img {
  position: relative;
  padding-bottom: calc(360 / 430 * 100%);
}
.slider-educate-info .item .img:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--black);
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 1;
  transition: 0.3s all ease-in-out;
}
@media (min-width: 1025px) {
  .slider-educate-info .item .img img {
    transition: 0.3s all ease-in-out;
  }
  .slider-educate-info .item:hover .img:after {
    opacity: 0.5;
  }
  .slider-educate-info .item:hover .img img {
    transform: scale(1.1);
  }
}

.Educate-gallery {
  position: relative;
}
.Educate-gallery [class*=col-] {
  margin-bottom: 30px;
}
@media (max-width: 575.98px) {
  .Educate-gallery [class*=col-] {
    margin-bottom: 15px;
  }
}
.Educate-gallery .item {
  display: block;
  position: relative;
}
.Educate-gallery .item .img {
  position: relative;
  padding-bottom: calc(400 / 580 * 100%);
}
.Educate-gallery .item .img:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--black);
  opacity: 0;
  transition: 0.3s all ease-in-out;
  pointer-events: none;
}
@media (min-width: 1025px) {
  .Educate-gallery .item .img img {
    transition: 0.3s all ease-in-out;
  }
  .Educate-gallery .item:hover .img img {
    transform: scale(1.1);
  }
  .Educate-gallery .item:hover .img:after {
    opacity: 0.5;
  }
}

.Educate-gallery-view {
  position: relative;
}
.Educate-gallery-view .list-img {
  position: relative;
  margin-top: 40px;
}
@media (max-width: 1024.98px) {
  .Educate-gallery-view .list-img {
    margin-top: 24px;
  }
}
.Educate-gallery-view .list-img ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -7.5px;
}
.Educate-gallery-view .list-img ul a {
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease;
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: block;
  padding-bottom: calc(260 / 260 * 100%);
}
.Educate-gallery-view .list-img ul a::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.564);
  z-index: 1;
  content: "";
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.Educate-gallery-view .list-img ul a::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-self: center;
  font-family: "Font Awesome 5 Pro";
  color: var(--white);
  font-size: 2rem;
  z-index: 2;
  content: "ï€‚";
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 767.98px) {
  .Educate-gallery-view .list-img ul a::after {
    font-size: 2rem;
  }
}
.Educate-gallery-view .list-img ul li {
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
  padding: 0 7.5px;
  margin-bottom: 15px;
}
@media (min-width: 1025px) {
  .Educate-gallery-view .list-img ul li img {
    transition: 0.3s all ease-in-out;
  }
  .Educate-gallery-view .list-img ul li:hover img {
    transform: scale(1.1);
  }
  .Educate-gallery-view .list-img ul li:hover a::before {
    opacity: 1;
    transition: all 0.3s ease-in-out;
  }
  .Educate-gallery-view .list-img ul li:hover a:after {
    opacity: 1;
    transition: all 0.3s ease-in-out;
  }
}
@media (max-width: 1024.98px) {
  .Educate-gallery-view .list-img ul li a::before {
    opacity: 1;
  }
  .Educate-gallery-view .list-img ul li a:after {
    opacity: 1;
  }
}
@media (max-width: 1024.98px) {
  .Educate-gallery-view .list-img ul li {
    -ms-flex: 0 0 33.3333%;
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }
}
@media (max-width: 767.98px) {
  .Educate-gallery-view .list-img ul li {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}
.Educate-gallery-view .load-more {
  position: relative;
  text-align: center;
  margin-top: 45px;
}

.Educate-teacher {
  position: relative;
}
.Educate-teacher [class*=col-] {
  margin-bottom: 40px;
}
.Educate-teacher h2 {
  margin-bottom: 40px;
}
.Educate-teacher .description {
  position: relative;
  margin-top: 20px;
  text-align: center;
}
.Educate-teacher .description::before {
  position: absolute;
  content: "";
  width: 52px;
  height: 57px;
  border-left: 2px solid var(--primary);
  border-bottom: 2px solid var(--primary);
  bottom: 0;
  left: 0;
}
@media (max-width: 768.98px) {
  .Educate-teacher .description::before {
    width: 40px;
    height: 40px;
  }
}
.Educate-teacher .description h4 {
  font-size: 2.5rem;
  font-weight: normal;
  color: var(--primary);
}
@media (min-width: 1025px) {
  .Educate-teacher .description h4 {
    transition: all 0.3s ease;
  }
  .Educate-teacher .description h4:hover {
    color: var(--secondary);
    text-decoration: underline;
  }
}
.Educate-teacher .description p {
  font-size: 1.7rem;
  color: var(--primary);
}
@media (max-width: 1439.98px) {
  .Educate-teacher .description p {
    font-size: 1.5rem;
  }
}
.Educate-teacher .img {
  position: relative;
  padding-bottom: calc(425 / 425 * 100%);
}
.Educate-teacher .img .plus {
  position: absolute;
  z-index: 1;
  width: 60px;
  height: 60px;
  background: var(--primary);
  right: 0;
  bottom: 0;
  cursor: pointer;
  opacity: 1;
  transition: all 0.3s ease;
}
.Educate-teacher .img .plus::before {
  position: absolute;
  bottom: 0;
  right: 0;
  border-left: 60px solid transparent;
  border-bottom: 60px solid var(--neutral-light);
  border-right: none;
  width: 0;
  height: 0;
  content: "";
}
.Educate-teacher .img .plus i {
  color: var(--white);
  font-size: 2rem;
  padding: 10px;
}
@media (min-width: 1025px) {
  .Educate-teacher .img .plus {
    transition: all 0.3s ease;
  }
  .Educate-teacher .img .plus:hover {
    background: var(--secondary);
  }
}
@media (min-width: 1025px) {
  .Educate-teacher .img img {
    transition: 0.3s all ease-in-out;
  }
  .Educate-teacher .img:hover img {
    transform: scale(1.1);
  }
  .Educate-teacher .img:hover:after {
    opacity: 0.5;
  }
}
.Educate-teacher .img:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--black);
  opacity: 0;
  transition: 0.3s all ease-in-out;
}

.Educate-teacher-view [class*=col-]:first-child {
  padding-right: 80px;
}
@media (max-width: 1439.98px) {
  .Educate-teacher-view [class*=col-]:first-child {
    padding-right: 40px;
  }
}
@media (max-width: 1024.98px) {
  .Educate-teacher-view [class*=col-]:first-child {
    padding-right: 20px;
  }
}
@media (max-width: 767.98px) {
  .Educate-teacher-view [class*=col-]:first-child {
    padding-right: unset;
  }
}
.Educate-teacher-view [class*=col-]:first-child p {
  margin-bottom: 15px;
}
.Educate-teacher-view [class*=col-]:first-child p:last-child {
  margin-bottom: 0;
}
.Educate-teacher-view [class*=col-]:first-child p.option {
  display: inline-block;
}
.Educate-teacher-view [class*=col-]:first-child ul {
  display: block;
}
@media (max-width: 767.98px) {
  .Educate-teacher-view [class*=col-] {
    flex: 0 0 100%;
  }
}
.Educate-teacher-view .title-section {
  margin-bottom: 25px;
}
@media (max-width: 1439.98px) {
  .Educate-teacher-view .title-section {
    margin-bottom: 20px;
  }
}
.Educate-teacher-view b {
  color: var(--primary);
}
.Educate-teacher-view .content h4 {
  color: var(--primary);
}
.Educate-teacher-view .content p {
  margin-bottom: 25px;
}
.Educate-teacher-view .content p:last-child {
  margin-bottom: 0;
}
.Educate-teacher-view ul {
  padding: 15px 0;
}
.Educate-teacher-view ul li {
  margin-left: 20px;
  padding-left: 20px;
  position: relative;
  margin-bottom: 15px;
}
.Educate-teacher-view ul li:last-child {
  margin-bottom: 0;
}
.Educate-teacher-view ul li::before {
  position: absolute;
  width: 6px;
  height: 6px;
  background: var(--secondary);
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  content: "";
}
.Educate-teacher-view .img {
  margin-bottom: 25px;
}
.Educate-teacher-view .img img {
  max-width: 600px;
  min-height: 600px;
  width: 100%;
  height: 100%;
}

.Educate-teacher-view-more {
  position: relative;
}
.Educate-teacher-view-more .educate-teacher-more {
  position: relative;
}
.Educate-teacher-view-more .educate-teacher-more .description {
  position: relative;
  margin-top: 20px;
  text-align: center;
}
.Educate-teacher-view-more .educate-teacher-more .description::before {
  position: absolute;
  content: "";
  width: 52px;
  height: 57px;
  border-left: 2px solid var(--primary);
  border-bottom: 2px solid var(--primary);
  bottom: 0;
  left: 0;
}
.Educate-teacher-view-more .educate-teacher-more .description h4 {
  font-size: 2.5rem;
  font-weight: normal;
  color: var(--primary);
}
@media (min-width: 1025px) {
  .Educate-teacher-view-more .educate-teacher-more .description h4 {
    transition: all 0.3s ease;
  }
  .Educate-teacher-view-more .educate-teacher-more .description h4:hover {
    color: var(--secondary);
    text-decoration: underline;
  }
}
.Educate-teacher-view-more .educate-teacher-more .description p {
  font-size: 1.7rem;
  color: var(--primary);
}
@media (max-width: 1439.98px) {
  .Educate-teacher-view-more .educate-teacher-more .description p {
    font-size: 1.5rem;
  }
}
.Educate-teacher-view-more .educate-teacher-more .img {
  position: relative;
  padding-bottom: calc(425 / 425 * 100%);
}
.Educate-teacher-view-more .educate-teacher-more .img .plus {
  position: absolute;
  z-index: 1;
  width: 60px;
  height: 60px;
  background: var(--primary);
  right: 0;
  bottom: 0;
  cursor: pointer;
  opacity: 1;
  transition: all 0.3s ease;
}
.Educate-teacher-view-more .educate-teacher-more .img .plus::before {
  position: absolute;
  bottom: 0;
  right: 0;
  border-left: 60px solid transparent;
  border-bottom: 60px solid var(--neutral-light);
  border-right: none;
  width: 0;
  height: 0;
  content: "";
}
@media (min-width: 1025px) {
  .Educate-teacher-view-more .educate-teacher-more .img .plus:hover {
    background: var(--secondary);
  }
}
.Educate-teacher-view-more .educate-teacher-more .img .plus i {
  color: var(--white);
  font-size: 2rem;
  padding: 10px;
}
@media (min-width: 1025px) {
  .Educate-teacher-view-more .educate-teacher-more .img img {
    transition: 0.3s all ease-in-out;
  }
  .Educate-teacher-view-more .educate-teacher-more .img:hover img {
    transform: scale(1.1);
  }
}