.desc-shadow {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 20px;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}
.desc-shadow h4 {
  font-size: 2.5rem;
  font-weight: normal;
  color: var(--white);
}
@media (max-width: 1439.98px) {
  .desc-shadow h4 {
    font-size: 1.8rem;
  }
}
.desc-shadow p {
  color: var(--white);
  margin-top: 10px;
}
.desc-shadow::before {
  position: absolute;
  width: 100%;
  height: 200%;
  content: "";
  background: linear-gradient(to top, #000, rgba(0, 0, 0, 0));
  background-blend-mode: multiply;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.Educate-value {
  padding: 100px 0;
}
.Educate-value .educate-value-wrap {
  margin-top: 50px;
}
.Educate-value .educate-value-wrap [class*=col-] {
  text-align: center;
  margin-bottom: 40px;
}
.Educate-value .educate-value-wrap .icon {
  margin: 0 auto;
  width: 120px;
  height: 120px;
  border-radius: 100%;
  background: var(--secondary);
  display: flex;
  align-items: center;
  justify-content: center;
}
.Educate-value .educate-value-wrap .icon i {
  font-size: 6rem;
  color: var(--primary);
}
.Educate-value .educate-value-wrap .desc {
  margin-top: 25px;
}
.Educate-value .educate-value-wrap .desc h3 {
  font-size: 2.5rem;
  font-family: "SFU TradeGothic";
  color: var(--primary);
  margin-bottom: 20px;
}

.Educate-images {
  position: relative;
  padding: 50px 0;
}
.Educate-images .slider-educate-images {
  position: relative;
  padding: 0 30px;
  margin-top: 30px;
}
.Educate-images .slider-educate-images .item {
  cursor: pointer;
  position: relative;
}

.Educate-info {
  position: relative;
}
.Educate-info .slider-educate-info {
  position: relative;
  padding: 50px 0;
}

.Educate-feedback {
  padding: 100px 0;
  background: var(--primary);
  background-image: var(--url-background-educate-news);
  position: relative;
}
@media (max-width: 1024.98px) {
  .Educate-feedback {
    padding: 40px 0;
  }
}
@media (max-width: 575.98px) {
  .Educate-feedback {
    padding: 30px 0;
  }
}
.Educate-feedback .slider-educate-feedback {
  position: relative;
}
.Educate-feedback h2 {
  font-size: 5.5rem;
  font-family: "SFU TradeGothic";
  color: var(--white);
  text-align: center;
  margin-bottom: 40px;
  text-transform: uppercase;
}
.Educate-feedback .item {
  display: block;
  position: relative;
}
.Educate-feedback .item h5 {
  position: relative;
  text-align: center;
  font-size: 2.2rem;
  letter-spacing: -0.01em;
  color: var(--white);
  font-weight: 400;
  margin-top: 30px;
}

.Educate-news {
  padding: 80px 0;
  background-image: var(--url-background-index-news);
  background-size: 100% 100%;
}
@media (max-width: 1024.98px) {
  .Educate-news {
    padding: 50px 0;
  }
}
@media (max-width: 575.98px) {
  .Educate-news {
    padding: 35px 0;
  }
}

.slider-educate-news {
  position: relative;
  margin-top: 38px;
}
.slider-educate-news .header-description {
  display: flex;
}
.slider-educate-news .description {
  background: var(--white);
  padding: 30px;
}
.slider-educate-news .description span {
  text-transform: uppercase;
  font-size: 1.3rem;
}
.slider-educate-news .description span:first-child {
  color: var(--secondary);
  font-weight: 900;
}
.slider-educate-news .description span:last-child {
  margin-left: auto;
  color: var(--primary);
  font-weight: 500;
}
.slider-educate-news .description h3,
.slider-educate-news .description p {
  color: var(--primary);
}
.slider-educate-news .description h3 {
  display: inline-block;
  position: relative;
  font-size: 2.2rem;
  font-weight: 400;
  margin-top: 16px;
}
.slider-educate-news .description p {
  margin-top: 8px;
}
@media (max-width: 767.98px) {
  .slider-educate-news .description {
    padding: 16px;
  }
}
.slider-educate-news .img {
  position: relative;
  height: 300px;
  width: auto;
}
.slider-educate-news .img:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  opacity: 0;
}
@media (max-width: 575.98px) {
  .slider-educate-news .img {
    height: 250px;
  }
}
.slider-educate-news .cta-button {
  margin-top: 20px;
}
@media (min-width: 1025px) {
  .slider-educate-news .item .img img {
    transition: 0.3s all ease-in-out;
  }
  .slider-educate-news .item .img:after {
    transition: 0.3s all ease-in-out;
  }
  .slider-educate-news .item .img:hover img {
    transform: scale(1.1);
  }
  .slider-educate-news .item .img:hover:after {
    opacity: 1;
  }
  .slider-educate-news .item .description h3 {
    transition: 0.3s all ease-in-out;
  }
  .slider-educate-news .item .description h3:hover {
    text-decoration: underline;
    color: var(--secondary);
  }
  .slider-educate-news .item .description h3:hover:after {
    width: 100%;
  }
}

.Educate-gallery {
  position: relative;
  padding: 100px 0;
}
.Educate-gallery [class*=col-] {
  margin-bottom: 30px;
}
.Educate-gallery .item {
  display: block;
  position: relative;
}

.block-pagination {
  display: block;
  position: relative;
  width: 100%;
}
.block-pagination ul {
  display: flex;
}
.block-pagination ul li {
  margin-right: 10px;
}
.block-pagination ul li a {
  width: 45px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ebebeb;
  font-weight: bold;
}
@media (max-width: 575.98px) {
  .block-pagination ul li a {
    width: 20px;
    height: 20px;
  }
}
.block-pagination ul li.active a {
  background: var(--secondary);
}
.block-pagination ul li:last-child {
  margin-right: unset;
}
@media (min-width: 1025px) {
  .block-pagination ul li:hover a {
    background: var(--secondary-light);
  }
}
.block-pagination.box-right ul {
  justify-content: flex-end;
}
.block-pagination.box-left ul {
  justify-content: flex-start;
}
.block-pagination.box-center ul {
  justify-content: center;
}

.Educate-gallery-view {
  position: relative;
  padding: 100px 0;
}
@media (max-width: 1439.98px) {
  .Educate-gallery-view {
    padding: 60px 0;
  }
}
@media (max-width: 1024.98px) {
  .Educate-gallery-view {
    padding: 30px 0;
  }
}
@media (max-width: 575.98px) {
  .Educate-gallery-view {
    padding: 20px 0;
  }
}
.Educate-gallery-view .title-section {
  margin-bottom: 35px;
}
@media (max-width: 1024.98px) {
  .Educate-gallery-view .title-section {
    margin-bottom: 20px;
  }
}
.Educate-gallery-view .list-img {
  position: relative;
  margin-top: 40px;
}
.Educate-gallery-view .list-img ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -7.5px;
}
@media (max-width: 767.98px) {
  .Educate-gallery-view .list-img ul {
    margin: 0 -5px;
  }
}
.Educate-gallery-view .list-img ul li {
  flex: 0 0 20%;
  padding: 0 7.5px;
  margin-bottom: 15px;
}
@media (max-width: 1439.98px) {
  .Educate-gallery-view .list-img ul li {
    flex: 0 0 25%;
  }
}
@media (max-width: 767.98px) {
  .Educate-gallery-view .list-img ul li {
    flex: 0 0 calc(100% / 3);
    padding: 0 5px;
  }
}
@media (max-width: 575.98px) {
  .Educate-gallery-view .list-img ul li {
    flex: 0 0 50%;
  }
}
.Educate-gallery-view .load-more {
  position: relative;
  text-align: center;
  margin-top: 45px;
}
.Educate-gallery-view .list-share {
  position: relative;
  margin-top: 60px;
  padding-top: 30px;
}
.Educate-gallery-view .list-share::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 7px;
  background: url(../../resources/images/educate/line.png);
  content: "";
}
.Educate-gallery-view .list-share ul {
  display: flex;
}
.Educate-gallery-view .list-share ul li {
  margin-right: 15px;
}
.Educate-gallery-view .list-share ul li:last-child {
  margin-left: auto;
}
@media (max-width: 575.98px) {
  .Educate-gallery-view .list-share ul {
    flex-wrap: wrap;
  }
  .Educate-gallery-view .list-share ul li:last-child {
    flex: 0 0 100%;
  }
}

.Educate-teacher {
  position: relative;
  padding: 80px 0;
}
@media (max-width: 1024.98px) {
  .Educate-teacher {
    padding: 40px 0;
  }
}
@media (max-width: 575.98px) {
  .Educate-teacher {
    padding: 20px 0;
  }
}
.Educate-teacher [class*=col-] {
  margin-bottom: 40px;
}
@media (max-width: 1024.98px) {
  .Educate-teacher [class*=col-] {
    flex: 0 0 50%;
  }
}
@media (max-width: 575.98px) {
  .Educate-teacher [class*=col-] {
    flex: 0 0 100%;
  }
}
.Educate-teacher h2 {
  font-size: 5.5rem;
  text-align: center;
  margin-bottom: 40px;
}
@media (min-width: 1024.98px) {
  .Educate-teacher .item:hover h4 {
    color: var(--secondary);
    text-decoration: underline;
    transition: all 0.3s ease;
  }
}
.Educate-teacher .description {
  padding-left: 105px;
  position: relative;
  margin-top: 20px;
  text-align: center;
}
@media (max-width: 1024.98px) {
  .Educate-teacher .description {
    padding-left: 80px;
  }
}
@media (max-width: 767.98px) {
  .Educate-teacher .description {
    padding-left: 40px;
  }
}
.Educate-teacher .description::before {
  position: absolute;
  content: "";
  width: 52px;
  height: 57px;
  border-left: 2px solid var(--primary);
  border-bottom: 2px solid var(--primary);
  bottom: 0;
  left: 0;
}
@media (max-width: 768.98px) {
  .Educate-teacher .description::before {
    width: 40px;
    height: 40px;
  }
}
.Educate-teacher .description h4 {
  font-size: 2.5rem;
  font-weight: normal;
  color: var(--primary);
  transition: all 0.3s ease;
}
.Educate-teacher .description p {
  font-size: 1.7rem;
  color: var(--primary);
}
@media (max-width: 1439.98px) {
  .Educate-teacher .description p {
    font-size: 1.5rem;
  }
}
.Educate-teacher .img {
  position: relative;
  height: 425px;
}
@media (max-width: 1439.98px) {
  .Educate-teacher .img {
    height: 400px;
  }
}
@media (max-width: 767.98px) {
  .Educate-teacher .img {
    height: 300px;
  }
}
@media (max-width: 575.98px) {
  .Educate-teacher .img {
    height: 400px;
  }
}
@media (max-width: 320.98px) {
  .Educate-teacher .img {
    height: 300px;
  }
}
.Educate-teacher .img .plus {
  position: absolute;
  z-index: 1;
  width: 60px;
  height: 60px;
  background: var(--primary);
  right: 0;
  bottom: 0;
  cursor: pointer;
  opacity: 1;
  transition: all 0.3s ease;
}
.Educate-teacher .img .plus::before {
  position: absolute;
  bottom: 0;
  right: 0;
  border-left: 60px solid transparent;
  border-bottom: 60px solid var(--primary-light);
  border-right: none;
  width: 0;
  height: 0;
  content: "";
}
@media (min-width: 1025px) {
  .Educate-teacher .img .plus:hover {
    opacity: 0.9;
    transition: all 0.3s ease;
    background: var(--secondary);
  }
}
.Educate-teacher .img .plus i {
  color: var(--primary);
  font-size: 2rem;
  padding: 10px;
}

.Educate-teacher-view {
  padding: 95px 0;
}
@media (max-width: 1439.98px) {
  .Educate-teacher-view {
    padding: 40px 0;
  }
}
.Educate-teacher-view h2 {
  font-size: 5.5rem;
}
.Educate-teacher-view [class*=col-]:first-child {
  padding-right: 80px;
}
@media (max-width: 1439.98px) {
  .Educate-teacher-view [class*=col-]:first-child {
    padding-right: 40px;
  }
}
@media (max-width: 1024.98px) {
  .Educate-teacher-view [class*=col-]:first-child {
    padding-right: 20px;
  }
}
@media (max-width: 767.98px) {
  .Educate-teacher-view [class*=col-]:first-child {
    padding-right: unset;
  }
}
.Educate-teacher-view [class*=col-]:first-child p {
  margin-bottom: 15px;
}
.Educate-teacher-view [class*=col-]:first-child p:last-child {
  margin-bottom: 0;
}
.Educate-teacher-view [class*=col-]:first-child p.option {
  display: inline-block;
}
.Educate-teacher-view [class*=col-]:first-child ul {
  display: inline-block;
}
@media (max-width: 767.98px) {
  .Educate-teacher-view [class*=col-] {
    flex: 0 0 100%;
  }
}
.Educate-teacher-view .title-section {
  margin-bottom: 25px;
}
@media (max-width: 1439.98px) {
  .Educate-teacher-view .title-section {
    margin-bottom: 20px;
  }
}
.Educate-teacher-view b {
  color: var(--primary);
}
.Educate-teacher-view .content p {
  margin-bottom: 25px;
}
.Educate-teacher-view .content p:last-child {
  margin-bottom: 0;
}
.Educate-teacher-view ul {
  padding: 15px 0;
}
.Educate-teacher-view ul li {
  margin-left: 20px;
  padding-left: 20px;
  position: relative;
  margin-bottom: 15px;
}
.Educate-teacher-view ul li:last-child {
  margin-bottom: 0;
}
.Educate-teacher-view ul li::before {
  position: absolute;
  width: 6px;
  height: 6px;
  background: var(--secondary);
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  content: "";
}
.Educate-teacher-view .img {
  margin-bottom: 25px;
}
.Educate-teacher-view .img img {
  max-width: 600px;
  min-height: 600px;
  width: 100%;
  height: 100%;
}

.Educate-teacher-view-more {
  position: relative;
  padding: 80px 0;
}
@media (max-width: 1024.98px) {
  .Educate-teacher-view-more {
    padding: 40px 0;
  }
}
@media (max-width: 575.98px) {
  .Educate-teacher-view-more {
    padding: 20px 0;
  }
}
.Educate-teacher-view-more h2 {
  font-size: 5.5rem;
  text-align: center;
  margin-bottom: 40px;
}
.Educate-teacher-view-more .educate-teacher-more {
  position: relative;
}
.Educate-teacher-view-more .educate-teacher-more .description {
  padding-left: 105px;
  position: relative;
  margin-top: 20px;
  text-align: center;
}
.Educate-teacher-view-more .educate-teacher-more .description::before {
  position: absolute;
  content: "";
  width: 52px;
  height: 57px;
  border-left: 2px solid var(--primary);
  border-bottom: 2px solid var(--primary);
  bottom: 0;
  left: 0;
}
.Educate-teacher-view-more .educate-teacher-more .description h4 {
  font-size: 2.5rem;
  font-weight: normal;
  color: var(--primary);
}
.Educate-teacher-view-more .educate-teacher-more .description p {
  font-size: 1.7rem;
  color: var(--primary);
}
@media (max-width: 1439.98px) {
  .Educate-teacher-view-more .educate-teacher-more .description p {
    font-size: 1.5rem;
  }
}
.Educate-teacher-view-more .educate-teacher-more .img {
  position: relative;
  height: 425px;
}
@media (max-width: 1439.98px) {
  .Educate-teacher-view-more .educate-teacher-more .img {
    height: 400px;
  }
}
.Educate-teacher-view-more .educate-teacher-more .img .plus {
  position: absolute;
  z-index: 1;
  width: 60px;
  height: 60px;
  background: var(--primary);
  right: 0;
  bottom: 0;
  cursor: pointer;
  opacity: 1;
  transition: all 0.3s ease;
}
.Educate-teacher-view-more .educate-teacher-more .img .plus::before {
  position: absolute;
  bottom: 0;
  right: 0;
  border-left: 60px solid transparent;
  border-bottom: 60px solid var(--neutral-light);
  border-right: none;
  width: 0;
  height: 0;
  content: "";
}
@media (min-width: 1025px) {
  .Educate-teacher-view-more .educate-teacher-more .img .plus:hover {
    opacity: 0.9;
    transition: all 0.3s ease;
  }
}
.Educate-teacher-view-more .educate-teacher-more .img .plus i {
  color: var(--white);
  font-size: 2rem;
  padding: 10px;
}

.Educate-information-wrap {
  position: relative;
  height: 550px;
}
@media (max-width: 1024.98px) {
  .Educate-information-wrap {
    height: 100%;
  }
}
.Educate-information-wrap [class*=col-] {
  align-self: center;
}
@media (max-width: 1024.98px) {
  .Educate-information-wrap [class*=col-] {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.Educate-information-wrap .container,
.Educate-information-wrap .row {
  height: 100%;
}
@media (max-width: 1024.98px) {
  .Educate-information-wrap .container,
.Educate-information-wrap .row {
    height: unset;
  }
}
.Educate-information-wrap .content {
  margin-top: 24px;
}
@media (max-width: 1024.98px) {
  .Educate-information-wrap .content {
    margin-top: 20px;
  }
}
.Educate-information-wrap .content p {
  color: var(--primary);
}
.Educate-information-wrap .content p + p {
  margin-top: 28px;
}
@media (max-width: 1024.98px) {
  .Educate-information-wrap .content p + p {
    margin-bottom: 15px;
  }
}
.Educate-information-wrap .content ul li {
  padding: 10px;
  background: var(--white);
  margin-bottom: 10px;
}
@media (min-width: 1025px) {
  .Educate-information-wrap .content ul li:hover {
    background: var(--primary);
  }
  .Educate-information-wrap .content ul li:hover a {
    color: var(--white);
  }
}
.Educate-information-wrap .content ul li a {
  color: var(--primary);
  font-weight: bold;
  font-size: 1.6rem;
}
.Educate-information-wrap .content ul li a i {
  padding-right: 10px;
}
.Educate-information-wrap .content,
.Educate-information-wrap .title-section {
  padding-right: 80px;
}
@media (max-width: 1439.98px) {
  .Educate-information-wrap .content,
.Educate-information-wrap .title-section {
    padding-right: 40px;
  }
}
@media (max-width: 1024.98px) {
  .Educate-information-wrap .content,
.Educate-information-wrap .title-section {
    padding-right: unset;
  }
}
.Educate-information-wrap .img {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  height: 100%;
}
@media (max-width: 1024.98px) {
  .Educate-information-wrap .img {
    position: relative;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin: 0 auto;
    height: 300px;
    width: 100%;
  }
}
.Educate-information-wrap.img-left .content,
.Educate-information-wrap.img-left .title-section {
  padding-right: 0;
  padding-left: 80px;
}
@media (max-width: 1439.98px) {
  .Educate-information-wrap.img-left .content,
.Educate-information-wrap.img-left .title-section {
    padding-left: 40px;
  }
}
@media (max-width: 1024.98px) {
  .Educate-information-wrap.img-left .content,
.Educate-information-wrap.img-left .title-section {
    padding-left: unset;
  }
}
.Educate-information-wrap.img-left .img {
  right: unset;
  left: 0;
}
@media (max-width: 767.98px) {
  .Educate-information-wrap.img-left .img {
    position: relative;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin: 0 auto;
    height: 300px;
  }
}