@media (max-width: 1024.98px) {
  main {
    padding-top: 80px;
  }
}

.overlay {
  cursor: pointer;
  position: fixed;
  height: 100%;
  width: 1000%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 600;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: 0.3s opacity ease-in-out;
}
.overlay.active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
}

.blur-up {
  -webkit-filter: blur(5px);
  filter: blur(5px);
  transition: filter 400ms, -webkit-filter 400ms;
}
.blur-up.lazyloaded {
  -webkit-filter: blur(0);
  filter: blur(0);
}

.pos-center-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.btn {
  user-select: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  line-height: 20px;
  white-space: nowrap;
  padding: 16px 28px;
  color: var(--white);
  border: 2px solid var(--white);
  border-radius: 4px;
  background: none;
}
.btn.bg-primary {
  background: var(--primary);
  border: 0;
}
.btn.bg-white {
  color: var(--primary);
  background: var(--white);
  border: 0;
}
.btn.bg-none {
  color: var(--primary);
  border: 0;
}
.btn.bg-secondary {
  background: var(--secondary);
  color: var(--primary);
  border: 0;
}
.btn.size-small {
  font-size: 1.4rem;
  padding: 8px 16px;
}
.btn.only-icon {
  padding: 8px 32px;
  font-size: 2.4rem;
  border-radius: 30px;
}
.btn.only-icon i {
  margin-left: 0;
}
.btn svg,
.btn i {
  margin-left: 14px;
}
@media (max-width: 767.98px) {
  .btn {
    padding: 12px 24px;
  }
}
@media (max-width: 575.98px) {
  .btn {
    padding: 8px 14px;
  }
}
@media (min-width: 1025px) {
  .btn {
    transition: 0.3s all ease-in-out;
  }
  .btn:hover {
    background: var(--primary);
    color: var(--secondary);
  }
  .btn:hover.bg-none {
    background: none;
  }
  .btn:hover.bg-white {
    color: var(--primary);
    background: var(--secondary);
  }
}

.btn-play {
  cursor: pointer;
  font-size: 3rem;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  background: rgba(255, 255, 255, 0.5);
}
.btn-play i,
.btn-play svg {
  position: relative;
  z-index: 10;
}
.btn-play.size-small {
  width: 100px;
  height: 100px;
}
.btn-play.size-small:after {
  width: 80px;
  height: 80px;
}
.btn-play.bg-white {
  font-size: 2rem;
  color: var(--primary);
}
.btn-play.bg-white:after {
  background: var(--white);
}
.btn-play:after {
  content: "";
  position: absolute;
  width: 120px;
  height: 120px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: var(--primary);
  border-radius: 50%;
}
@media (min-width: 1025px) {
  .btn-play {
    transition: 0.3s all ease-in-out;
  }
  .btn-play:after {
    transition: 0.3s all ease-in-out;
  }
  .btn-play:hover {
    color: var(--primary);
    transform: translate(-50%, -50%) scale(1.1);
    background: rgba(255, 200, 100, 0.3);
  }
  .btn-play:hover:after {
    background: var(--secondary);
  }
}
@media (max-width: 1024.98px) {
  .btn-play {
    font-size: 2.4rem;
    width: 100px;
    height: 100px;
  }
  .btn-play:after {
    width: 70px;
    height: 70px;
  }
}
.title-section h2,
.title-section p {
  font-family: "SFU TradeGothic";
  color: var(--primary);
}
.title-section h2 {
  font-size: 4rem;
  text-transform: uppercase;
}
.title-section p {
  font-style: italic;
  position: relative;
  font-size: 2.2rem;
  padding-left: 44px;
}
.title-section p:after {
  content: "";
  position: absolute;
  left: 0;
  top: 18px;
  height: 1px;
  width: 32px;
  background: var(--primary);
}
.title-section.color-white h2,
.title-section.color-white p {
  color: var(--white);
}
.title-section.color-white p:after {
  background: var(--white);
}

.button-navigation-slider {
  position: absolute;
  cursor: pointer;
  color: var(--white);
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  overflow: hidden;
  background: var(--primary);
  border-radius: 5px;
  z-index: 50;
}
.button-navigation-slider.center-50px {
  top: 50%;
  transform: translateY(-50%);
}
.button-navigation-slider.center-50px.prev {
  left: 50px;
}
@media (max-width: 1024.98px) {
  .button-navigation-slider.center-50px.prev {
    left: 24px;
  }
}
.button-navigation-slider.center-50px.next {
  right: 50px;
}
@media (max-width: 1024.98px) {
  .button-navigation-slider.center-50px.next {
    right: 24px;
  }
}
@media (min-width: 1025px) {
  .button-navigation-slider {
    transition: 0.3s all ease-in-out;
  }
  .button-navigation-slider:hover {
    color: var(--primary);
    background: var(--secondary);
  }
}
.button-navigation-slider.swiper-button-disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
@media (max-width: 767.98px) {
  .button-navigation-slider {
    font-size: 16px;
    width: 44px;
    height: 44px;
  }
}

.form-group input {
  color: var(--white);
  font-size: 1.5rem;
  line-height: 32px;
  width: 100%;
}
.form-group input::placeholder {
  color: var(--neutral-gray);
}
.form-group input.no-background, .form-group input.no-bg-bb {
  background: none;
}
.form-group input.border-bottom, .form-group input.no-bg-bb {
  border-bottom: 1px solid #203458;
}