@charset "UTF-8";
main {
  padding-top: 130px;
}
@media (max-width: 1024.98px) {
  main {
    padding-top: 80px;
  }
}

.overlay {
  cursor: pointer;
  position: fixed;
  height: 100%;
  width: 1000%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 600;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: 0.3s opacity ease-in-out;
}
.overlay.active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
}

.blur-up {
  -webkit-filter: blur(5px);
  filter: blur(5px);
  transition: filter 400ms, -webkit-filter 400ms;
}
.blur-up.lazyloaded {
  -webkit-filter: blur(0);
  filter: blur(0);
}

.pos-center-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.btn {
  user-select: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  line-height: 20px;
  white-space: nowrap;
  padding: 16px 28px;
  color: var(--white);
  border: 2px solid var(--white);
  border-radius: 4px;
  background: none;
}
.btn.bg-primary {
  background: var(--primary);
  border: 0;
}
.btn.bg-white {
  color: var(--primary);
  background: var(--white);
  border: 0;
}
.btn.bg-none {
  color: var(--primary);
  border: 0;
}
.btn.bg-secondary {
  background: var(--secondary);
  color: var(--primary);
  border: 0;
}
.btn.size-small {
  font-size: 1.4rem;
  padding: 8px 16px;
}
.btn.only-icon {
  padding: 8px 32px;
  font-size: 2.4rem;
  border-radius: 30px;
}
.btn.only-icon i {
  margin-left: 0;
}
.btn svg,
.btn i {
  margin-left: 14px;
}
@media (max-width: 767.98px) {
  .btn {
    padding: 12px 24px;
  }
}
@media (max-width: 575.98px) {
  .btn {
    padding: 8px 14px;
  }
}
@media (min-width: 1025px) {
  .btn {
    transition: 0.3s all ease-in-out;
  }
  .btn:hover {
    background: var(--primary);
    color: var(--secondary);
  }
  .btn:hover.bg-none {
    background: none;
  }
  .btn:hover.bg-white {
    color: var(--primary);
    background: var(--secondary);
  }
}

.btn-play {
  cursor: pointer;
  font-size: 3rem;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  background: rgba(255, 255, 255, 0.5);
}
.btn-play i,
.btn-play svg {
  position: relative;
  z-index: 10;
}
.btn-play.size-small {
  width: 100px;
  height: 100px;
}
.btn-play.size-small:after {
  width: 80px;
  height: 80px;
}
.btn-play.bg-white {
  font-size: 2rem;
  color: var(--primary);
}
.btn-play.bg-white:after {
  background: var(--white);
}
.btn-play:after {
  content: "";
  position: absolute;
  width: 120px;
  height: 120px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: var(--primary);
  border-radius: 50%;
}
@media (min-width: 1025px) {
  .btn-play {
    transition: 0.3s all ease-in-out;
  }
  .btn-play:after {
    transition: 0.3s all ease-in-out;
  }
  .btn-play:hover {
    color: var(--primary);
    transform: translate(-50%, -50%) scale(1.1);
    background: rgba(255, 200, 100, 0.3);
  }
  .btn-play:hover:after {
    background: var(--secondary);
  }
}
@media (max-width: 1024.98px) {
  .btn-play {
    font-size: 2.4rem;
    width: 100px;
    height: 100px;
  }
  .btn-play:after {
    width: 70px;
    height: 70px;
  }
}
.title-section h2,
.title-section p {
  font-family: "SFU TradeGothic";
  color: var(--primary);
  user-select: none;
}
.title-section h2 {
  display: inline-block;
  position: relative;
  font-size: 4rem;
  text-transform: uppercase;
}
.title-section h2:after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: var(--secondary);
}
.title-section p {
  font-style: italic;
  position: relative;
  font-size: 2.2rem;
  padding-left: 44px;
}
.title-section p:after {
  content: "";
  position: absolute;
  left: 0;
  top: 18px;
  height: 1px;
  width: 32px;
  background: var(--primary);
}
.title-section.center {
  text-align: center;
}
.title-section.color-white h2,
.title-section.color-white p {
  color: var(--white);
}
.title-section.color-white p:after {
  background: var(--white);
}
.title-section.color-secondary h2,
.title-section.color-secondary p {
  user-select: all;
}
.title-section.color-secondary h2 {
  color: var(--primary);
}
.title-section.color-secondary p {
  color: var(--secondary);
  font-style: normal;
}
.title-section.color-secondary p:after {
  background: var(--secondary);
}
@media (min-width: 1025px) {
  .title-section.color-secondary h2,
.title-section.color-secondary p {
    transition: 0.3s all ease-in-out;
  }
  .title-section.color-secondary h2:after {
    transition: 0.3s all ease-in-out;
  }
  .title-section.color-secondary:hover h2:after {
    width: 100%;
  }
  .title-section.color-secondary:hover h2 {
    color: var(--secondary);
  }
  .title-section.color-secondary:hover p {
    color: var(--primary);
  }
}
@media (min-width: 1025px) {
  .title-section h2,
.title-section p {
    transition: 0.3s all ease-in-out;
  }
  .title-section h2:after {
    transition: 0.3s all ease-in-out;
  }
  .title-section:hover h2:after {
    width: 100%;
  }
  .title-section:hover h2,
.title-section:hover p {
    color: var(--secondary);
  }
}

.button-navigation-slider {
  position: absolute;
  cursor: pointer;
  color: var(--white);
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  overflow: hidden;
  background: var(--primary);
  border-radius: 5px;
  z-index: 50;
}
.button-navigation-slider.bg-primary {
  background: var(--primary);
}
.button-navigation-slider.bg-white {
  color: var(--primary);
  background: var(--white);
}
.button-navigation-slider.bg-none {
  color: var(--primary);
}
.button-navigation-slider.bg-secondary {
  background: var(--secondary);
  color: var(--primary);
}
.button-navigation-slider.center-50px {
  top: 50%;
  transform: translateY(-50%);
}
.button-navigation-slider.center-50px.prev {
  left: 50px;
}
@media (max-width: 1024.98px) {
  .button-navigation-slider.center-50px.prev {
    left: 24px;
  }
}
.button-navigation-slider.center-50px.next {
  right: 50px;
}
@media (max-width: 1024.98px) {
  .button-navigation-slider.center-50px.next {
    right: 24px;
  }
}
@media (min-width: 1025px) {
  .button-navigation-slider {
    transition: 0.3s all ease-in-out;
  }
  .button-navigation-slider:hover {
    color: var(--primary);
    background: var(--secondary);
  }
}
.button-navigation-slider.swiper-button-disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
@media (max-width: 767.98px) {
  .button-navigation-slider {
    font-size: 16px;
    width: 44px;
    height: 44px;
  }
}

.block-form input {
  color: var(--white);
  font-size: 1.5rem;
  line-height: 32px;
  width: 100%;
  background: none;
  border-bottom: 1px solid var(--primary-light);
}
.block-form input::placeholder {
  color: var(--neutral-gray);
}
.block-form textarea {
  color: var(--primary);
  width: 100%;
  height: 60px;
  border-bottom: 1px solid var(--primary-light);
}

.breadcrumb {
  display: flex;
}
.breadcrumb a {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--white);
}
@media (min-width: 1025px) {
  .breadcrumb a {
    transition: 0.3s all ease-in-out;
  }
  .breadcrumb a:hover {
    color: var(--secondary);
  }
}
.breadcrumb li + li a {
  position: relative;
  padding-left: 18px;
  margin-left: 18px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.breadcrumb li + li a:after {
  content: "ÔÅî";
  font-family: "Font Awesome 5 Pro";
  font-weight: 400;
  position: absolute;
  font-size: 1.3rem;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.pagination {
  display: block;
  position: relative;
  width: 100%;
}
.pagination ul {
  display: flex;
}
.pagination ul li {
  margin-right: 10px;
}
.pagination ul li a {
  width: 45px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ebebeb;
  font-weight: bold;
}
@media (max-width: 575.98px) {
  .pagination ul li a {
    width: 20px;
    height: 20px;
  }
}
.pagination ul li.active a {
  background: var(--secondary);
}
.pagination ul li:last-child {
  margin-right: unset;
}
@media (min-width: 1025px) {
  .pagination ul li:hover a {
    background: var(--secondary-light);
  }
}
.pagination.right ul {
  justify-content: flex-end;
}
.pagination.left ul {
  justify-content: flex-start;
}
.pagination.center ul {
  justify-content: center;
}

.customers-clients {
  padding: 80px 0;
}
@media (max-width: 1024.98px) {
  .customers-clients {
    padding: 50px 0;
  }
}
@media (max-width: 575.98px) {
  .customers-clients {
    padding: 35px 0;
  }
}
.customers-clients.has-bg {
  background: var(--url-background-customers-clients);
}

.slider-customers-clients {
  position: relative;
  margin-top: 38px;
}
.slider-customers-clients .item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 160px;
  width: auto;
  border: 1px solid #d3d3d3;
  background: var(--white);
}

.Section-Image-Content-Global {
  position: relative;
  height: 550px;
}
.Section-Image-Content-Global [class*=col-] {
  align-self: center;
}
.Section-Image-Content-Global [class*=col-]:first-child {
  display: none;
}
@media (max-width: 1024.98px) {
  .Section-Image-Content-Global [class*=col-] {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .Section-Image-Content-Global [class*=col-]:last-child {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.Section-Image-Content-Global .container,
.Section-Image-Content-Global .row {
  height: 100%;
}
@media (max-width: 1024.98px) {
  .Section-Image-Content-Global .container,
.Section-Image-Content-Global .row {
    height: unset;
  }
}
.Section-Image-Content-Global .content {
  margin-top: 24px;
}
.Section-Image-Content-Global .content p {
  color: var(--primary);
}
.Section-Image-Content-Global .content p + p {
  margin-top: 28px;
}
@media (max-width: 1024.98px) {
  .Section-Image-Content-Global .content p + p {
    margin-bottom: 15px;
  }
}
.Section-Image-Content-Global .content ul {
  margin-top: 20px;
  margin-right: 40px;
}
@media (max-width: 1024.98px) {
  .Section-Image-Content-Global .content ul {
    margin-right: 20px;
  }
}
.Section-Image-Content-Global .content ul li {
  padding: 10px;
  background: var(--white);
  margin-bottom: 10px;
}
@media (min-width: 1025px) {
  .Section-Image-Content-Global .content ul li:hover {
    background: var(--primary);
  }
  .Section-Image-Content-Global .content ul li:hover p {
    color: var(--white);
  }
}
.Section-Image-Content-Global .content ul li p {
  color: var(--primary);
  font-weight: bold;
}
.Section-Image-Content-Global .content ul li p i {
  padding-right: 10px;
}
.Section-Image-Content-Global .content.color-white p {
  color: white;
}
.Section-Image-Content-Global .content.max-heigt-370px {
  max-height: 370px;
  overflow-y: auto;
  padding-right: 40px;
}
.Section-Image-Content-Global .content.max-heigt-370px::-webkit-scrollbar-track {
  background-color: var(--neutral-gray);
}
.Section-Image-Content-Global .content.max-heigt-370px::-webkit-scrollbar-thumb {
  background-color: var(--primary);
}
.Section-Image-Content-Global .content.max-heigt-370px::-webkit-scrollbar {
  width: 8px;
  background-color: var(--primary);
}
@media (max-width: 1024.98px) {
  .Section-Image-Content-Global .content.max-heigt-370px {
    margin: 20px 0;
    max-height: 250px;
  }
}
@media (max-width: 1024.98px) {
  .Section-Image-Content-Global .content {
    margin-top: 20px;
  }
}
.Section-Image-Content-Global .content,
.Section-Image-Content-Global .title-section {
  padding-right: 80px;
}
@media (max-width: 1439.98px) {
  .Section-Image-Content-Global .content,
.Section-Image-Content-Global .title-section {
    padding-right: 40px;
  }
}
@media (max-width: 1024.98px) {
  .Section-Image-Content-Global .content,
.Section-Image-Content-Global .title-section {
    padding-right: unset;
  }
}
.Section-Image-Content-Global .img {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  height: 100%;
}
@media (max-width: 1024.98px) {
  .Section-Image-Content-Global .img {
    position: relative;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin: 0 auto;
    height: 300px;
    width: 100%;
  }
}
.Section-Image-Content-Global.img-left [class*=col-]:first-child {
  display: block;
}
.Section-Image-Content-Global.img-left .content,
.Section-Image-Content-Global.img-left .title-section {
  padding-right: 0;
  padding-left: 80px;
}
@media (max-width: 1439.98px) {
  .Section-Image-Content-Global.img-left .content,
.Section-Image-Content-Global.img-left .title-section {
    padding-left: 40px;
  }
}
@media (max-width: 1024.98px) {
  .Section-Image-Content-Global.img-left .content,
.Section-Image-Content-Global.img-left .title-section {
    padding-left: unset;
  }
}
.Section-Image-Content-Global.img-left .img {
  right: unset;
  left: 0;
}
@media (max-width: 767.98px) {
  .Section-Image-Content-Global.img-left .img {
    position: relative;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin: 0 auto;
    height: 300px;
  }
}
.Section-Image-Content-Global.img-left.has-background::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background: var(--bg-before);
  background-size: cover;
  z-index: -1;
}
@media (max-width: 1024.98px) {
  .Section-Image-Content-Global.img-left.has-background::before {
    width: 100%;
  }
}
@media (max-width: 1024.98px) {
  .Section-Image-Content-Global {
    height: 100%;
  }
}

.tab-container .list-tab .item {
  cursor: pointer;
}
.tab-container .list-tab .item.active {
  color: transparent;
}
.tab-container .tab-content .content {
  display: none;
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.2, 0.5, 0.5, 0.8);
}
.tab-container .tab-content .content.show {
  opacity: 1;
}