@charset "UTF-8";
main {
  padding-top: 130px;
}
@media (max-width: 1024.98px) {
  main {
    padding-top: 80px;
  }
}

.overlay {
  cursor: pointer;
  position: fixed;
  height: 100%;
  width: 1000%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 600;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: 0.3s opacity ease-in-out;
}
.overlay.active {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
}

.blur-up {
  -webkit-filter: blur(5px);
  filter: blur(5px);
  transition: filter 400ms, -webkit-filter 400ms;
}
.blur-up.lazyloaded {
  -webkit-filter: blur(0);
  filter: blur(0);
}

.pos-center-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.pt-section, .pd-section {
  padding-top: 30px;
}
@media (min-width: 768px) {
  .pt-section, .pd-section {
    padding-top: 55px;
  }
}
@media (min-width: 1200px) {
  .pt-section, .pd-section {
    padding-top: 90px;
  }
}

.pb-section, .pd-section {
  padding-bottom: 30px;
}
@media (min-width: 768px) {
  .pb-section, .pd-section {
    padding-bottom: 55px;
  }
}
@media (min-width: 1200px) {
  .pb-section, .pd-section {
    padding-bottom: 90px;
  }
}

.btn {
  user-select: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  line-height: 20px;
  white-space: nowrap;
  padding: 16px 28px;
  color: var(--white);
  border: 2px solid var(--white);
  border-radius: 4px;
  background: none;
}
.btn.bg-primary {
  background: var(--primary);
  border: 0;
}
.btn.bg-white {
  color: var(--primary);
  background: var(--white);
  border: 0;
}
.btn.bg-none {
  color: var(--primary);
  border: 0;
}
.btn.bg-secondary {
  background: var(--secondary);
  color: var(--primary);
  border: 0;
}
.btn.size-small {
  font-size: 1.4rem;
  padding: 8px 16px;
}
.btn.only-icon {
  padding: 8px 32px;
  font-size: 2.4rem;
  border-radius: 30px;
}
.btn.only-icon i {
  margin-left: 0;
}
.btn svg,
.btn i {
  margin-left: 14px;
}
@media (max-width: 767.98px) {
  .btn {
    padding: 12px 24px;
  }
}
@media (max-width: 575.98px) {
  .btn {
    padding: 8px 14px;
  }
}
@media (min-width: 1025px) {
  .btn {
    transition: 0.3s all ease-in-out;
  }
  .btn:hover {
    background: var(--primary);
    color: var(--secondary);
  }
  .btn:hover.bg-none {
    background: none;
  }
  .btn:hover.bg-white {
    color: var(--primary);
    background: var(--secondary);
  }
}

.btn-play {
  cursor: pointer;
  font-size: 3rem;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  background: rgba(255, 255, 255, 0.5);
}
.btn-play i,
.btn-play svg {
  position: relative;
  z-index: 10;
}
.btn-play.size-small {
  width: 100px;
  height: 100px;
}
.btn-play.size-small:after {
  width: 80px;
  height: 80px;
}
.btn-play.bg-white {
  font-size: 2rem;
  color: var(--primary);
}
.btn-play.bg-white:after {
  background: var(--white);
}
.btn-play:after {
  content: "";
  position: absolute;
  width: 120px;
  height: 120px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: var(--primary);
  border-radius: 50%;
}
@media (min-width: 1025px) {
  .btn-play {
    transition: 0.3s all ease-in-out;
  }
  .btn-play:after {
    transition: 0.3s all ease-in-out;
  }
  .btn-play:hover {
    color: var(--primary);
    transform: translate(-50%, -50%) scale(1.1);
    background: rgba(255, 200, 100, 0.3);
  }
  .btn-play:hover:after {
    background: var(--secondary);
  }
}
@media (max-width: 1024.98px) {
  .btn-play {
    font-size: 2.4rem;
    width: 100px;
    height: 100px;
  }
  .btn-play:after {
    width: 70px;
    height: 70px;
  }
}
.title-section h2,
.title-section p {
  font-family: "SFU TradeGothic";
  color: var(--primary);
  user-select: none;
}
.title-section h2 {
  display: inline-block;
  position: relative;
  font-size: 5.5rem;
  text-transform: uppercase;
}
.title-section h2:after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: var(--secondary);
}
@media (max-width: 767.98px) {
  .title-section h2 {
    font-size: 3.2rem;
  }
}
@media (min-width: 1025px) {
  .title-section h2 {
    transition: 0.3s all ease-in-out;
  }
  .title-section h2:after {
    transition: 0.3s all ease-in-out;
  }
  .title-section h2:hover {
    color: var(--secondary);
  }
  .title-section h2:hover:after {
    width: 100%;
  }
}
.title-section h6 {
  position: relative;
  font-size: 1.3rem;
  text-transform: uppercase;
  padding-left: 40px;
  color: var(--primary);
}
.title-section h6 a {
  color: var(--secondary);
  font-weight: bold;
}
.title-section h6::before {
  position: absolute;
  width: 22px;
  height: 2px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: var(--secondary);
  content: "";
}
.title-section p {
  font-style: italic;
  position: relative;
  font-size: 2.2rem;
  padding-left: 44px;
}
.title-section p:after {
  content: "";
  position: absolute;
  left: 0;
  top: 18px;
  height: 1px;
  width: 32px;
  background: var(--primary);
}
.title-section.color-white h2,
.title-section.color-white p {
  color: var(--white);
}
.title-section.color-white p:after {
  background: var(--white);
}
.title-section.center {
  text-align: center;
}
.title-section.color-secondary p {
  color: var(--secondary);
}
.title-section.color-secondary p:after {
  background: var(--secondary);
}
.title-section.color-secondary h2 {
  color: var(--primary);
}
@media (min-width: 1025px) {
  .title-section.color-secondary h2:hover {
    color: var(--secondary);
  }
  .title-section.color-secondary h2:hover:after {
    width: 100%;
  }
}

.mt-title, .mg-title {
  margin-top: 16px;
}
@media (min-width: 768px) {
  .mt-title, .mg-title {
    margin-top: 24px;
  }
}
@media (min-width: 1200px) {
  .mt-title, .mg-title {
    margin-top: 50px;
  }
}

.mb-title, .mg-title {
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .mb-title, .mg-title {
    margin-bottom: 24px;
  }
}
@media (min-width: 1200px) {
  .mb-title, .mg-title {
    margin-bottom: 50px;
  }
}

.button-navigation-slider {
  position: absolute;
  cursor: pointer;
  color: var(--white);
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  overflow: hidden;
  background: var(--primary);
  border-radius: 5px;
  z-index: 50;
}
.button-navigation-slider.bg-primary {
  background: var(--primary);
}
.button-navigation-slider.bg-white {
  color: var(--primary);
  background: var(--white);
}
.button-navigation-slider.bg-none {
  color: var(--primary);
}
.button-navigation-slider.bg-secondary {
  background: var(--secondary);
  color: var(--primary);
}
.button-navigation-slider.center-50px {
  top: 50%;
  transform: translateY(-50%);
}
.button-navigation-slider.center-50px.prev {
  left: 50px;
}
@media (max-width: 1024.98px) {
  .button-navigation-slider.center-50px.prev {
    left: 24px;
  }
}
.button-navigation-slider.center-50px.next {
  right: 50px;
}
@media (max-width: 1024.98px) {
  .button-navigation-slider.center-50px.next {
    right: 24px;
  }
}
@media (min-width: 1025px) {
  .button-navigation-slider {
    transition: 0.3s all ease-in-out;
  }
  .button-navigation-slider:hover {
    color: var(--primary);
    background: var(--secondary);
  }
}
.button-navigation-slider.swiper-button-disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
@media (max-width: 767.98px) {
  .button-navigation-slider {
    font-size: 16px;
    width: 44px;
    height: 44px;
  }
}

.block-form input {
  color: var(--white);
  font-size: 1.5rem;
  line-height: 32px;
  width: 100%;
  background: none;
  border-bottom: 1px solid var(--primary-light);
}
.block-form input::placeholder {
  color: var(--neutral-gray);
}
.block-form textarea {
  color: var(--primary);
  width: 100%;
  height: 60px;
  border-bottom: 1px solid var(--primary-light);
}

.breadcrumb {
  display: flex;
}
.breadcrumb a {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--white);
}
@media (min-width: 1025px) {
  .breadcrumb a {
    transition: 0.3s all ease-in-out;
  }
  .breadcrumb a:hover {
    color: var(--secondary);
  }
}
.breadcrumb li + li a {
  position: relative;
  padding-left: 18px;
  margin-left: 18px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.breadcrumb li + li a:after {
  content: "";
  font-family: "Font Awesome 5 Pro";
  font-weight: 400;
  position: absolute;
  font-size: 1.3rem;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.pagination {
  display: block;
  position: relative;
  width: 100%;
}
.pagination ul {
  display: flex;
}
.pagination ul li {
  margin-right: 10px;
}
.pagination ul li a {
  width: 45px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ebebeb;
  font-weight: bold;
}
@media (max-width: 575.98px) {
  .pagination ul li a {
    width: 20px;
    height: 20px;
  }
}
.pagination ul li.active a {
  background: var(--secondary);
}
.pagination ul li:last-child {
  margin-right: unset;
}
@media (min-width: 1025px) {
  .pagination ul li:hover a {
    background: var(--secondary-light);
  }
}
.pagination.right ul {
  justify-content: flex-end;
}
.pagination.left ul {
  justify-content: flex-start;
}
.pagination.center ul {
  justify-content: center;
}

.customers-clients {
  padding: 80px 0;
}
@media (max-width: 1024.98px) {
  .customers-clients {
    padding: 50px 0;
  }
}
@media (max-width: 575.98px) {
  .customers-clients {
    padding: 35px 0;
  }
}
.customers-clients.has-bg {
  background: var(--url-background-customers-clients);
}

.slider-customers-clients {
  position: relative;
  margin-top: 38px;
}
.slider-customers-clients .item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 160px;
  width: auto;
  border: 1px solid #d3d3d3;
  background: var(--white);
}

.Section-Image-Content-Global {
  position: relative;
  height: 550px;
}
.Section-Image-Content-Global [class*=col-] {
  align-self: center;
}
.Section-Image-Content-Global [class*=col-]:first-child {
  display: none;
}
@media (max-width: 1024.98px) {
  .Section-Image-Content-Global [class*=col-] {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .Section-Image-Content-Global [class*=col-]:last-child {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.Section-Image-Content-Global .container,
.Section-Image-Content-Global .row {
  height: 100%;
}
@media (max-width: 1024.98px) {
  .Section-Image-Content-Global .container,
.Section-Image-Content-Global .row {
    height: unset;
  }
}
.Section-Image-Content-Global .content {
  margin-top: 24px;
}
.Section-Image-Content-Global .content p {
  color: var(--primary);
}
.Section-Image-Content-Global .content p + p {
  margin-top: 28px;
}
@media (max-width: 1024.98px) {
  .Section-Image-Content-Global .content p + p {
    margin-bottom: 15px;
  }
}
.Section-Image-Content-Global .content ul {
  margin-top: 20px;
  margin-right: 40px;
}
@media (max-width: 1024.98px) {
  .Section-Image-Content-Global .content ul {
    margin-right: 20px;
  }
}
.Section-Image-Content-Global .content ul li {
  padding: 10px;
  background: var(--white);
  margin-bottom: 10px;
  cursor: pointer;
}
.Section-Image-Content-Global .content ul li div {
  display: none;
  margin-top: 10px;
}
@media (min-width: 1025px) {
  .Section-Image-Content-Global .content ul li:hover {
    background: var(--primary);
  }
  .Section-Image-Content-Global .content ul li:hover b {
    color: var(--white);
  }
  .Section-Image-Content-Global .content ul li:hover p {
    color: var(--white);
  }
}
.Section-Image-Content-Global .content ul li b {
  display: block;
  color: var(--primary);
  font-weight: bold;
}
.Section-Image-Content-Global .content ul li b i {
  padding-right: 10px;
}
.Section-Image-Content-Global .content ul li p {
  color: var(--primary);
}
.Section-Image-Content-Global .content.color-white p {
  color: white;
}
.Section-Image-Content-Global .content.max-heigt-370px {
  max-height: 370px;
  overflow-y: auto;
  padding-right: 40px;
}
.Section-Image-Content-Global .content.max-heigt-370px::-webkit-scrollbar-track {
  background-color: var(--neutral-gray);
}
.Section-Image-Content-Global .content.max-heigt-370px::-webkit-scrollbar-thumb {
  background-color: var(--primary);
}
.Section-Image-Content-Global .content.max-heigt-370px::-webkit-scrollbar {
  width: 8px;
  background-color: var(--primary);
}
@media (max-width: 1024.98px) {
  .Section-Image-Content-Global .content.max-heigt-370px {
    margin: 20px 0;
    max-height: 250px;
  }
}
@media (max-width: 1024.98px) {
  .Section-Image-Content-Global .content {
    margin-top: 20px;
  }
}
.Section-Image-Content-Global .content,
.Section-Image-Content-Global .title-section {
  padding-right: 80px;
}
@media (max-width: 1439.98px) {
  .Section-Image-Content-Global .content,
.Section-Image-Content-Global .title-section {
    padding-right: 40px;
  }
}
@media (max-width: 1024.98px) {
  .Section-Image-Content-Global .content,
.Section-Image-Content-Global .title-section {
    padding-right: unset;
  }
}
.Section-Image-Content-Global .img {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  height: 100%;
}
@media (max-width: 1024.98px) {
  .Section-Image-Content-Global .img {
    position: relative;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin: 0 auto;
    height: 300px;
    width: 100%;
  }
}
.Section-Image-Content-Global.img-left [class*=col-]:first-child {
  display: block;
}
.Section-Image-Content-Global.img-left .content,
.Section-Image-Content-Global.img-left .title-section {
  padding-right: 0;
  padding-left: 80px;
}
@media (max-width: 1439.98px) {
  .Section-Image-Content-Global.img-left .content,
.Section-Image-Content-Global.img-left .title-section {
    padding-left: 40px;
  }
}
@media (max-width: 1024.98px) {
  .Section-Image-Content-Global.img-left .content,
.Section-Image-Content-Global.img-left .title-section {
    padding-left: unset;
  }
}
.Section-Image-Content-Global.img-left .img {
  right: unset;
  left: 0;
}
@media (max-width: 767.98px) {
  .Section-Image-Content-Global.img-left .img {
    position: relative;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin: 0 auto;
    height: 300px;
  }
}
.Section-Image-Content-Global.has-background.img-left::before {
  right: 0;
  left: unset;
}
.Section-Image-Content-Global.has-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: var(--bg-before);
  background-size: cover;
  z-index: -1;
}
@media (max-width: 1024.98px) {
  .Section-Image-Content-Global.has-background::before {
    width: 100%;
  }
}
@media (max-width: 1024.98px) {
  .Section-Image-Content-Global {
    height: 100%;
  }
}
.Section-Image-Content-Global .cta-button {
  margin-top: 16px;
}

.tab-container .list-tab .item {
  cursor: pointer;
}
.tab-container .list-tab .item.active {
  color: transparent;
}
.tab-container .tab-content .content {
  display: none;
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.2, 0.5, 0.5, 0.8);
}
.tab-container .tab-content .content.show {
  opacity: 1;
}

.block-product {
  position: relative;
  min-height: 505px;
  border: 1px solid #d3d3d3;
  padding: 24px;
}
.block-product .img {
  position: relative;
  display: block;
  width: auto;
  min-height: 260px;
  max-height: 260px;
  overflow: hidden;
}
.block-product .img img {
  display: block;
  margin: 0 auto;
}
.block-product .img .item-hover {
  position: absolute;
  bottom: 0;
  left: 60%;
  transform: translateX(-60%);
  opacity: 0;
  pointer-events: none;
  z-index: 10;
}
.block-product .description {
  margin-top: 44px;
}
@media (max-width: 767.98px) {
  .block-product .description {
    margin-top: 16px;
  }
}
@media (max-width: 575.98px) {
  .block-product .description {
    text-align: center;
  }
}
.block-product .group-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 26px;
}
@media (max-width: 767.98px) {
  .block-product .group-bottom {
    flex-direction: column;
    margin-top: 8px;
  }
}
.block-product h3 {
  display: inline-block;
  position: relative;
  margin-bottom: 8px;
}
.block-product h3:after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: var(--secondary);
  left: 0;
  bottom: 0;
}
.block-product h3,
.block-product h4 {
  text-transform: uppercase;
  color: var(--primary);
  font-size: 2.2rem;
  letter-spacing: -1px;
}
@media (max-width: 767.98px) {
  .block-product h4 {
    margin-bottom: 8px;
  }
}
.block-product p {
  color: var(--primary);
}
.block-product-fixed {
  position: relative;
  min-height: 505px;
}
.block-product-fixed img {
  position: absolute;
}
.block-product-fixed .logo {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}
.block-product-fixed p {
  font-style: italic;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  color: var(--white);
  text-align: center;
}
.block-product-fixed p:after, .block-product-fixed p:before {
  font-size: 24px;
  font-family: "Font Awesome 5 Pro";
  font-weight: 700;
  position: absolute;
  color: var(--secondary);
}
.block-product-fixed p:before {
  content: "";
  top: -8px;
  right: 103%;
}
.block-product-fixed p:after {
  content: "";
  bottom: -8px;
  left: 100%;
}
.block-product-fixed .cta-button {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 575.98px) {
  .block-product-fixed {
    display: none;
  }
}
@media (min-width: 1025px) {
  .block-product .img .item-hover {
    transition: opacity 0.3s ease-in-out, transform 0.5s ease-in-out;
  }
  .block-product .img:hover .item-hover {
    opacity: 1;
    transition: opacity 0.3s ease-in-out, transform 0.5s ease-in-out;
    transform: translateX(-50%);
  }
  .block-product h3 {
    transition: 0.3s all ease-in-out;
  }
  .block-product h3:after {
    transition: 0.5s all ease-in-out;
  }
  .block-product h3:hover {
    color: var(--secondary);
  }
  .block-product h3:hover:after {
    width: 100%;
  }
  .block-product .btn:hover {
    background: var(--secondary);
    color: var(--primary);
  }
}
@media (max-width: 575.98px) {
  .block-product {
    min-height: auto;
  }
}

.desc-shadow {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 20px;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}
.desc-shadow h4 {
  font-size: 2.5rem;
  color: var(--white);
}
@media (max-width: 1439.98px) {
  .desc-shadow h4 {
    font-size: 1.8rem;
  }
}
@media (min-width: 1025px) {
  .desc-shadow h4 {
    transition: 0.3s all ease-in-out;
  }
  .desc-shadow h4:hover {
    color: var(--secondary);
  }
}
.desc-shadow p {
  color: var(--white);
  margin-top: 10px;
}
@media (min-width: 1025px) {
  .desc-shadow p {
    transition: 0.3s all ease-in-out;
  }
  .desc-shadow p:hover {
    color: var(--secondary);
  }
}
.desc-shadow::before {
  position: absolute;
  width: 100%;
  height: 200%;
  content: "";
  background: linear-gradient(to top, #000, rgba(0, 0, 0, 0));
  background-blend-mode: multiply;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.Index-news {
  background-image: var(--url-background-index-news);
  background-size: 100% 100%;
}

.slider-index-news {
  position: relative;
  margin-top: 38px;
}
.slider-index-news .header-description {
  display: flex;
}
.slider-index-news .description {
  background: var(--white);
  padding: 30px;
}
.slider-index-news .description span {
  text-transform: uppercase;
  font-size: 1.3rem;
}
.slider-index-news .description span:first-child {
  color: var(--secondary);
  font-weight: 900;
}
.slider-index-news .description span:last-child {
  margin-left: auto;
  color: var(--primary);
  font-weight: 500;
}
.slider-index-news .description h3,
.slider-index-news .description p {
  color: var(--primary);
}
.slider-index-news .description h3 {
  display: inline-block;
  position: relative;
  font-size: 2.2rem;
  font-weight: 400;
  margin-top: 16px;
}
.slider-index-news .description p {
  margin-top: 8px;
}
@media (max-width: 767.98px) {
  .slider-index-news .description {
    padding: 16px;
  }
}
.slider-index-news .img {
  position: relative;
  padding-bottom: calc(400 / 600 * 100%);
}
.slider-index-news .img:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  opacity: 0;
}
@media (max-width: 575.98px) {
  .slider-index-news .img {
    height: 250px;
  }
}
.slider-index-news .cta-button {
  margin-top: 20px;
}
@media (min-width: 1025px) {
  .slider-index-news .item .img img {
    transition: 0.3s all ease-in-out;
  }
  .slider-index-news .item .img:after {
    transition: 0.3s all ease-in-out;
  }
  .slider-index-news .item .img:hover img {
    transform: scale(1.1);
  }
  .slider-index-news .item .img:hover:after {
    opacity: 1;
  }
  .slider-index-news .item .description h3 {
    transition: 0.3s all ease-in-out;
  }
  .slider-index-news .item .description h3:hover {
    text-decoration: underline;
    color: var(--secondary);
  }
  .slider-index-news .item .description h3:hover:after {
    width: 100%;
  }
}

.block-news {
  position: relative;
}
.block-news .header-description {
  display: flex;
}
.block-news .description {
  background: var(--white);
  padding: 30px;
}
.block-news .description span {
  text-transform: uppercase;
  font-size: 1.3rem;
}
.block-news .description span:first-child {
  color: var(--secondary);
  font-weight: 900;
  padding-left: 16px;
  position: relative;
}
.block-news .description span:first-child::before {
  position: absolute;
  width: 8px;
  height: 3px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: var(--secondary);
  content: "";
}
.block-news .description span:last-child {
  margin-left: auto;
  color: var(--primary);
  font-weight: 500;
}
.block-news .description h3,
.block-news .description p {
  color: var(--primary);
}
.block-news .description h3 {
  display: inline-block;
  position: relative;
  font-size: 2.2rem;
  font-weight: 400;
  margin-top: 16px;
}
.block-news .description p {
  margin-top: 8px;
}
@media (max-width: 767.98px) {
  .block-news .description {
    padding: 16px;
  }
}
.block-news .img {
  position: relative;
  height: 300px;
  width: auto;
}
.block-news .img:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  opacity: 0;
}
@media (max-width: 575.98px) {
  .block-news .img {
    height: 250px;
  }
}
.block-news .cta-button {
  margin-top: 20px;
}
@media (min-width: 1025px) {
  .block-news .item .img img {
    transition: 0.3s all ease-in-out;
  }
  .block-news .item .img:after {
    transition: 0.3s all ease-in-out;
  }
  .block-news .item .img:hover img {
    transform: scale(1.1);
  }
  .block-news .item .img:hover:after {
    opacity: 1;
  }
  .block-news .item .description h3 {
    transition: 0.3s all ease-in-out;
  }
  .block-news .item .description h3:hover {
    text-decoration: underline;
    color: var(--secondary);
  }
  .block-news .item .description h3:hover:after {
    width: 100%;
  }
}

.Educate-feedback {
  background: var(--primary);
  background-image: var(--url-background-educate-news);
  position: relative;
}
.Educate-feedback .slider-educate-feedback {
  position: relative;
}
.Educate-feedback h2 {
  font-size: 5.5rem;
  font-family: "SFU TradeGothic";
  color: var(--white);
  text-align: center;
  margin-bottom: 40px;
  text-transform: uppercase;
}
.Educate-feedback .item {
  display: block;
  position: relative;
}
.Educate-feedback .item .img {
  position: relative;
  border-radius: 16px;
  padding: 16px;
  background: var(--white);
}
.Educate-feedback .item .img:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border: 30px solid transparent;
  border-top-color: var(--white);
}
.Educate-feedback .item h5 {
  position: relative;
  text-align: center;
  font-size: 2.2rem;
  letter-spacing: -0.01em;
  color: var(--white);
  font-weight: 400;
  margin-top: 30px;
}

.list-share {
  position: relative;
  margin-top: 60px;
  padding-top: 30px;
}
.list-share::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 7px;
  background: url(../../resources/images/educate/line.png);
  content: "";
}
.list-share p {
  width: 100% !important;
}
.list-share ul {
  display: flex;
}
.list-share ul li {
  margin-right: 15px;
}
.list-share ul li:last-child {
  margin-left: auto;
}
.list-share ul li i {
  font-size: 1.4rem;
}
@media (max-width: 575.98px) {
  .list-share ul {
    flex-wrap: wrap;
  }
  .list-share ul li:last-child {
    flex: 0 0 100%;
  }
}

.pc {
  display: block;
}
@media (max-width: 1300.98px) {
  .pc {
    display: none;
  }
}

.sp {
  display: none;
}
@media (max-width: 1300.98px) {
  .sp {
    display: block;
  }
}