.clearfix:after {
  display: table;
  clear: both;
  content: "";
}

.d-none,
[hidden] {
  display: none !important;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.text-last-center {
  text-align-last: center;
}

.text-underline {
  text-decoration: underline;
}

.text-no-underline {
  text-decoration: none;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-start {
  justify-content: flex-start;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-start {
  align-items: flex-start;
}

.fullsize, .object-contain, .object-cover {
  width: 100%;
  height: 100%;
}

.object-cover {
  object-fit: cover;
}

.overflow-hidden {
  overflow: hidden;
}

.object-contain {
  object-fit: contain;
}

.blur-up {
  -webkit-filter: blur(5px);
  filter: blur(5px);
  transition: filter 400ms, -webkit-filter 400ms;
}
.blur-up.lazyloaded {
  -webkit-filter: blur(0);
  filter: blur(0);
}

.pt-section, .pd-section {
  padding-top: 30px;
}
@media (min-width: 768px) {
  .pt-section, .pd-section {
    padding-top: 55px;
  }
}
@media (min-width: 1200px) {
  .pt-section, .pd-section {
    padding-top: 80px;
  }
}

.pb-section, .pd-section {
  padding-bottom: 30px;
}
@media (min-width: 768px) {
  .pb-section, .pd-section {
    padding-bottom: 55px;
  }
}
@media (min-width: 1200px) {
  .pb-section, .pd-section {
    padding-bottom: 80px;
  }
}

.pos-center-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.btn {
  user-select: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  line-height: 20px;
  white-space: nowrap;
  padding: 16px 28px;
  color: var(--white);
  border: 2px solid var(--white);
  border-radius: 4px;
}
.btn.bg-primary {
  background: var(--primary);
  border: 0;
}
.btn.bg-secondary {
  background: var(--secondary);
  color: var(--primary);
  border: 0;
}
.btn.size-small {
  font-size: 1.4rem;
  padding: 8px 16px;
}
.btn svg,
.btn i {
  margin-left: 14px;
}

.title-section h2 {
  color: var(--primary);
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
}
.title-section p {
  color: var(--primary);
  font-size: 2.2rem;
  padding-left: 44px;
}

.button-navigation-slider {
  position: absolute;
  cursor: pointer;
  color: var(--white);
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  overflow: hidden;
  background: var(--primary);
  border-radius: 5px;
}
.button-navigation-slider.center-50px {
  top: 50%;
  transform: translateY(-50%);
}
.button-navigation-slider.center-50px.prev {
  left: 50px;
}
.button-navigation-slider.center-50px.next {
  right: 50px;
}