@charset "UTF-8";
.Index-service {
  padding: 100px 0;
  overflow: hidden;
}
.Index-service .wrapper {
  position: relative;
  max-width: 1070px;
  width: 100%;
  margin: 0 auto;
}
.Index-service .wrapper:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-image: url(../../resources//images/index/index-service-background.png);
  background-size: 100% 100%;
  width: 850px;
  height: 400px;
  pointer-events: none;
  z-index: -1;
}
@media (max-width: 1024.98px) {
  .Index-service .wrapper:after {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 575.98px) {
  .Index-service .wrapper:after {
    height: 50%;
  }
}
.Index-service .item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.Index-service .item .text {
  display: flex;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
}
@media (max-width: 575.98px) {
  .Index-service .item .text {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    order: 2;
  }
}
.Index-service .item h2 {
  font-family: "SFU TradeGothic";
  margin-left: auto;
  font-size: 5rem;
  text-transform: uppercase;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  width: 100%;
  margin: 0;
  float: left;
  color: var(--white);
  text-shadow: -1px -1px 0 var(--primary), 1px -1px 0 var(--primary), -1px 1px 0 var(--primary), 1px 1px 0 var(--primary);
}
@media (max-width: 767.98px) {
  .Index-service .item h2 {
    font-size: 3rem;
  }
}
@media (max-width: 575.98px) {
  .Index-service .item h2 {
    writing-mode: unset;
    transform: unset;
    text-align: center;
  }
}
.Index-service .item .img {
  -ms-flex: 0 0 80%;
  flex: 0 0 80%;
  max-width: 80%;
}
.Index-service .item img {
  display: block;
  margin: 0 auto;
}
@media (min-width: 1025px) {
  .Index-service .item h2 {
    transition: 0.3s all ease-in-out;
  }
  .Index-service .item:hover h2 {
    color: var(--primary);
  }
}
@media (max-width: 1024.98px) {
  .Index-service {
    padding: 50px 0;
  }
}
@media (max-width: 575.98px) {
  .Index-service {
    padding: 35px 0;
  }
  .Index-service [class*=col-]:last-child {
    margin-top: 15px;
  }
  .Index-service [class*=col-]:last-child .item {
    max-width: 50%;
    margin: 0 auto;
  }
}

.Index-about {
  position: relative;
  width: 100%;
  padding-top: 85px;
  background-image: var(--url-background-index-about);
  background-size: 100% 100%;
  overflow: hidden;
}
.Index-about [class*=col-]:first-child {
  position: relative;
}
.Index-about [class*=col-]:first-child img {
  position: absolute;
  bottom: -85px;
}
@media (max-width: 1024.98px) {
  .Index-about [class*=col-]:first-child img {
    bottom: -50px;
    right: 0;
    width: 40%;
  }
}
@media (max-width: 1024.98px) {
  .Index-about [class*=col-]:first-child {
    order: 2;
  }
  .Index-about [class*=col-]:last-child {
    order: 1;
  }
}
.Index-about .content-section {
  margin-top: 30px;
}
.Index-about .content-section p {
  color: var(--primary);
}
.Index-about .content-section p + p {
  margin-top: 30px;
}
.Index-about .img-bottom {
  position: relative;
  z-index: 10;
}
.Index-about .cta-button {
  margin-top: 30px;
}
@media (max-width: 1024.98px) {
  .Index-about {
    padding-top: 50px;
  }
}
@media (max-width: 575.98px) {
  .Index-about {
    padding-top: 35px;
  }
}

.Index-best-seller {
  padding: 80px 0;
}
.Index-best-seller .title-section {
  margin-bottom: 30px;
}
@media (max-width: 1024.98px) {
  .Index-best-seller .title-section {
    margin-bottom: 16px;
  }
}
@media (max-width: 1024.98px) {
  .Index-best-seller {
    padding: 50px 0;
  }
}
@media (max-width: 575.98px) {
  .Index-best-seller {
    padding: 35px 0;
  }
}

.slider-index-best-seller {
  position: relative;
}
.slider-index-best-seller .item {
  min-height: 505px;
  border: 1px solid #d3d3d3;
  border-left: 0;
  padding: 24px;
}
.slider-index-best-seller .item .img {
  position: relative;
  display: block;
  width: auto;
  min-height: 260px;
  max-height: 260px;
  overflow: hidden;
}
.slider-index-best-seller .item .img img {
  display: block;
  margin: 0 auto;
}
.slider-index-best-seller .item .img .item-hover {
  position: absolute;
  bottom: 0;
  left: 60%;
  transform: translateX(-60%);
  opacity: 0;
  pointer-events: none;
  z-index: 10;
}
.slider-index-best-seller .item .description {
  margin-top: 44px;
}
@media (max-width: 767.98px) {
  .slider-index-best-seller .item .description {
    margin-top: 16px;
  }
}
@media (max-width: 575.98px) {
  .slider-index-best-seller .item .description {
    text-align: center;
  }
}
.slider-index-best-seller .item .group-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 26px;
}
@media (max-width: 767.98px) {
  .slider-index-best-seller .item .group-bottom {
    flex-direction: column;
    margin-top: 8px;
  }
}
.slider-index-best-seller .item h3 {
  display: inline-block;
  position: relative;
  margin-bottom: 8px;
}
.slider-index-best-seller .item h3:after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: var(--secondary);
  left: 0;
  bottom: 0;
}
.slider-index-best-seller .item h3,
.slider-index-best-seller .item h4 {
  text-transform: uppercase;
  color: var(--primary);
  font-size: 2.2rem;
  letter-spacing: -1px;
}
@media (max-width: 767.98px) {
  .slider-index-best-seller .item h4 {
    margin-bottom: 8px;
  }
}
.slider-index-best-seller .item p {
  color: var(--primary);
}
.slider-index-best-seller .item-fixed {
  position: relative;
  min-height: 505px;
}
.slider-index-best-seller .item-fixed img {
  position: absolute;
}
.slider-index-best-seller .item-fixed .logo {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}
.slider-index-best-seller .item-fixed p {
  font-style: italic;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  color: var(--white);
  text-align: center;
}
.slider-index-best-seller .item-fixed p:after, .slider-index-best-seller .item-fixed p:before {
  font-size: 24px;
  font-family: "Font Awesome 5 Pro";
  font-weight: 700;
  position: absolute;
  color: var(--secondary);
}
.slider-index-best-seller .item-fixed p:before {
  content: "";
  top: -8px;
  right: 103%;
}
.slider-index-best-seller .item-fixed p:after {
  content: "";
  bottom: -8px;
  left: 100%;
}
.slider-index-best-seller .item-fixed .cta-button {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 575.98px) {
  .slider-index-best-seller .item-fixed {
    display: none;
  }
}
@media (min-width: 1025px) {
  .slider-index-best-seller .item .img .item-hover {
    transition: opacity 0.3s ease-in-out, transform 0.5s ease-in-out;
  }
  .slider-index-best-seller .item h3 {
    transition: 0.3s all ease-in-out;
  }
  .slider-index-best-seller .item h3:after {
    transition: 0.5s all ease-in-out;
  }
  .slider-index-best-seller .item:hover .img .item-hover {
    opacity: 1;
    transition: opacity 0.3s ease-in-out, transform 0.5s ease-in-out;
    transform: translateX(-50%);
  }
  .slider-index-best-seller .item:hover h3 {
    color: var(--secondary);
  }
  .slider-index-best-seller .item:hover h3:after {
    width: 100%;
  }
  .slider-index-best-seller .item:hover .btn {
    background: var(--secondary);
    color: var(--primary);
  }
}
@media (max-width: 575.98px) {
  .slider-index-best-seller .item {
    min-height: auto;
  }
}
@media (max-width: 1199.98px) {
  .slider-index-best-seller .swiper-container {
    border-right: 1px solid #d3d3d3;
  }
}

.Index-educate {
  background-image: var(--url-background-index-edicate);
  background-size: 100% 100%;
  padding: 80px 0;
}
.Index-educate .content {
  margin-top: 30px;
}
.Index-educate .content p {
  color: var(--primary);
}
.Index-educate .content p + p {
  margin-top: 24px;
}
@media (max-width: 575.98px) {
  .Index-educate .content p + p {
    margin-top: 8px;
  }
}
.Index-educate .cta-button {
  margin-top: 44px;
}
@media (max-width: 1024.98px) {
  .Index-educate .cta-button {
    margin-top: 24px;
  }
}
@media (max-width: 575.98px) {
  .Index-educate .cta-button {
    margin-top: 16px;
  }
}
.Index-educate .thumbnail-video {
  position: relative;
}
@media (max-width: 767.98px) {
  .Index-educate .thumbnail-video {
    margin-top: 24px;
  }
}
@media (max-width: 1024.98px) {
  .Index-educate {
    padding: 50px 0;
  }
}
@media (max-width: 575.98px) {
  .Index-educate {
    padding: 35px 0;
  }
}

.Index-setup {
  padding: 100px 0;
}
.Index-setup .title-section {
  margin-bottom: 35px;
}
@media (max-width: 1024.98px) {
  .Index-setup .title-section {
    margin-bottom: 16px;
  }
}
.Index-setup .description h3,
.Index-setup .description p {
  color: var(--primary);
}
.Index-setup .description h3 {
  font-size: 2rem;
}
.Index-setup .description p {
  margin-top: 8px;
}
.Index-setup .big-item {
  position: relative;
}
.Index-setup .big-item .img {
  height: 600px;
  width: auto;
}
@media (max-width: 991.98px) {
  .Index-setup .big-item .img {
    height: 350px;
    margin-bottom: 15px;
  }
}
.Index-setup .big-item .description {
  position: absolute;
  left: 30px;
  right: 30px;
  bottom: 30px;
  z-index: 10;
}
.Index-setup .big-item .description h3 {
  color: var(--white);
  font-size: 2.2rem;
}
.Index-setup .big-item .description p {
  color: var(--white);
}
.Index-setup .big-item .description .cta-button {
  margin-top: 20px;
}
.Index-setup .big-item:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background: #020024;
  background: linear-gradient(180deg, rgba(2, 0, 36, 0) 0%, rgba(0, 0, 0, 0.8) 90%);
}
@media (min-width: 1025px) {
  .Index-setup .big-item .description h3 {
    transition: 0.3s all ease-in-out;
  }
  .Index-setup .big-item .img img {
    transition: transform 0.5s ease-in-out;
  }
  .Index-setup .big-item:hover .img img {
    transform: scale(1.1);
  }
  .Index-setup .big-item:hover .description h3 {
    color: var(--secondary);
    text-decoration: underline;
  }
  .Index-setup .big-item:hover .btn {
    color: var(--primary);
    background: var(--secondary);
  }
}
@media (min-width: 1336px) {
  .Index-setup [class*=col-]:last-child {
    padding-left: 45px;
  }
}
.Index-setup .item {
  display: flex;
  align-items: center;
}
.Index-setup .item .img {
  position: relative;
  -ms-flex: 0 0 180px;
  flex: 0 0 180px;
  max-width: 180px;
  height: 180px;
}
.Index-setup .item .img:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
}
@media (max-width: 575.98px) {
  .Index-setup .item .img {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.Index-setup .item .description {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
  padding-left: 30px;
  max-height: 180px;
  overflow-y: auto;
}
.Index-setup .item .description::-webkit-scrollbar {
  display: none;
}
@media (max-width: 1024.98px) {
  .Index-setup .item .description {
    padding-left: 16px;
  }
}
@media (max-width: 575.98px) {
  .Index-setup .item .description {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 0;
    margin-top: 16px;
  }
}
.Index-setup .item + .item {
  margin-top: 30px;
}
@media (max-width: 991.98px) {
  .Index-setup .item + .item {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid #dedede;
  }
}
@media (min-width: 1025px) {
  .Index-setup .item .img:after {
    transition: opacity 0.3s ease-in-out;
  }
  .Index-setup .item .img img {
    transition: transform 0.3s ease-in-out;
  }
  .Index-setup .item .description h3 {
    transition: 0.3s all ease-in-out;
  }
  .Index-setup .item:hover .img:after {
    opacity: 1;
  }
  .Index-setup .item:hover .img img {
    transform: scale(1.05);
  }
  .Index-setup .item:hover .description h3 {
    color: var(--secondary);
  }
  .Index-setup .item:hover .description .btn {
    color: var(--secondary);
  }
}
@media (max-width: 575.98px) {
  .Index-setup .item {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 1024.98px) {
  .Index-setup {
    padding: 50px 0;
  }
}
@media (max-width: 575.98px) {
  .Index-setup {
    padding: 35px 0;
  }
}

.Index-recipe {
  position: relative;
  padding: 80px 0;
  background-image: var(--url-background-index-recipe);
  background-size: cover;
}
.Index-recipe .header-recipe {
  display: flex;
  align-items: flex-end;
}
@media (max-width: 1199.98px) {
  .Index-recipe .header-recipe {
    display: block;
  }
}
.Index-recipe .list-tab {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
}
.Index-recipe .list-tab .item-tab {
  cursor: pointer;
  user-select: none;
  font-weight: 900;
  color: var(--white);
  text-transform: uppercase;
}
.Index-recipe .list-tab .item-tab + .item-tab {
  margin-left: 20px;
}
@media (max-width: 575.98px) {
  .Index-recipe .list-tab .item-tab + .item-tab {
    margin-left: 0;
  }
}
.Index-recipe .list-tab .item-tab.active {
  color: var(--secondary);
}
@media (min-width: 1025px) {
  .Index-recipe .list-tab .item-tab {
    transition: 0.3s all ease-in-out;
  }
  .Index-recipe .list-tab .item-tab:hover {
    color: var(--secondary);
  }
}
@media (max-width: 1199.98px) {
  .Index-recipe .list-tab .item-tab {
    margin-top: 16px;
    margin-right: 20px;
  }
}
@media (max-width: 1199.98px) {
  .Index-recipe .list-tab {
    margin-top: 24px;
  }
}
@media (max-width: 1024.98px) {
  .Index-recipe {
    padding: 50px 0;
  }
}
@media (max-width: 575.98px) {
  .Index-recipe {
    padding: 35px 0;
  }
}

.slider-index-recipe {
  position: relative;
  margin-top: 35px;
}
.slider-index-recipe .img {
  position: relative;
  height: 300px;
  width: auto;
}
.slider-index-recipe .img:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background: #020024;
  background: linear-gradient(180deg, rgba(2, 0, 36, 0) 50%, rgba(0, 0, 0, 0.8) 90%);
}
.slider-index-recipe .description {
  position: absolute;
  left: 30px;
  bottom: 30px;
  right: 30px;
}
.slider-index-recipe .description h3 {
  color: var(--white);
  font-size: 2.2rem;
}
.slider-index-recipe .item {
  position: relative;
}
@media (min-width: 1025px) {
  .slider-index-recipe .item .description h3 {
    transition: 0.3s all ease-in-out;
  }
  .slider-index-recipe .item .img img {
    transition: 0.3s all ease-in-out;
  }
  .slider-index-recipe .item:hover .img img {
    transform: scale(1.1);
  }
  .slider-index-recipe .item:hover .description h3 {
    color: var(--secondary);
  }
}

.customers-clients {
  padding: 80px 0;
}
@media (max-width: 1024.98px) {
  .customers-clients {
    padding: 50px 0;
  }
}
@media (max-width: 575.98px) {
  .customers-clients {
    padding: 35px 0;
  }
}

.slider-index-customer {
  position: relative;
  margin-top: 38px;
}
.slider-index-customer .item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 160px;
  width: auto;
  border: 1px solid #d3d3d3;
}

.Index-news {
  padding: 80px 0;
  background-image: var(--url-background-index-news);
  background-size: 100% 100%;
}
@media (max-width: 1024.98px) {
  .Index-news {
    padding: 50px 0;
  }
}
@media (max-width: 575.98px) {
  .Index-news {
    padding: 35px 0;
  }
}

.slider-index-news {
  position: relative;
  margin-top: 38px;
}
.slider-index-news .header-description {
  display: flex;
}
.slider-index-news .description {
  background: var(--white);
  padding: 30px;
}
.slider-index-news .description span {
  text-transform: uppercase;
  font-size: 1.3rem;
}
.slider-index-news .description span:first-child {
  color: var(--secondary);
  font-weight: 900;
}
.slider-index-news .description span:last-child {
  margin-left: auto;
  color: var(--primary);
  font-weight: 500;
}
.slider-index-news .description h3,
.slider-index-news .description p {
  color: var(--primary);
}
.slider-index-news .description h3 {
  font-size: 2.2rem;
  font-weight: 400;
  margin-top: 16px;
}
.slider-index-news .description p {
  margin-top: 8px;
}
@media (max-width: 767.98px) {
  .slider-index-news .description {
    padding: 16px;
  }
}
.slider-index-news .img {
  height: 300px;
  width: auto;
}
@media (max-width: 575.98px) {
  .slider-index-news .img {
    height: 250px;
  }
}
.slider-index-news .cta-button {
  margin-top: 20px;
}
@media (min-width: 1025px) {
  .slider-index-news .item .img img {
    transition: 0.3s all ease-in-out;
  }
  .slider-index-news .item .description h3 {
    transition: 0.3s all ease-in-out;
  }
  .slider-index-news .item:hover .img img {
    transform: scale(1.1);
  }
  .slider-index-news .item:hover .description h3 {
    color: var(--secondary);
  }
  .slider-index-news .item:hover .btn {
    color: var(--secondary);
  }
}