.News-list {
  padding: 80px 0;
}
@media (max-width: 1439.98px) {
  .News-list {
    padding: 40px 0;
  }
}
@media (max-width: 767.98px) {
  .News-list {
    padding: 20px 0;
  }
}
.News-list [class*=col-] {
  margin-bottom: 30px;
}
@media (max-width: 1024.98px) {
  .News-list [class*=col-] {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (max-width: 575.98px) {
  .News-list [class*=col-] {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 15px;
  }
}

.News-menu {
  padding: 40px 0;
}
@media (max-width: 1439.98px) {
  .News-menu {
    padding: 20px 0;
  }
}
.News-menu ul {
  display: flex;
  flex-wrap: wrap;
}
.News-menu li {
  font-family: "SFU TradeGothic";
  margin-right: 30px;
  font-size: 1.6rem;
  cursor: pointer;
  color: var(--primary);
  transition: all 0.3s ease;
}
@media (max-width: 1439.98px) {
  .News-menu li {
    margin-right: 20px;
  }
}
@media (max-width: 767.98px) {
  .News-menu li {
    margin-right: 10px;
  }
}
.News-menu li.active {
  color: var(--secondary);
}
@media (min-width: 1025px) {
  .News-menu li:hover {
    color: var(--secondary);
    transition: all 0.3s ease;
  }
}

.News-view {
  padding-top: 90px;
}
@media (max-width: 1439.98px) {
  .News-view {
    padding-top: 40px;
  }
}
@media (max-width: 575.98px) {
  .News-view {
    padding-top: 20px;
  }
}
.News-view .title-section {
  margin-bottom: 25px;
}
@media (max-width: 1024.98px) {
  .News-view .title-section {
    margin-bottom: 15px;
  }
}
.News-view p,
.News-view h3 {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 2rem;
}
.News-view p.desc,
.News-view h3.desc {
  width: 100%;
  margin-bottom: 3rem;
  font-weight: 600;
}
@media (max-width: 575.98px) {
  .News-view p.desc,
.News-view h3.desc {
    margin-bottom: 20px;
  }
}
@media (max-width: 1024.98px) {
  .News-view p,
.News-view h3 {
    width: 100%;
  }
}
@media (max-width: 575.98px) {
  .News-view p,
.News-view h3 {
    margin-bottom: 15px;
  }
}
.News-view h3 {
  font-size: 2.2rem;
}
@media (max-width: 575.98px) {
  .News-view h3 {
    font-size: 1.8rem;
  }
}
.News-view img {
  margin-bottom: 1.5rem;
}
@media (max-width: 575.98px) {
  .News-view img {
    margin-bottom: 15px;
  }
}