@charset "UTF-8";
.Product-list {
  position: relative;
  background: #f5f5f5;
}
.Product-list dd {
  text-align: center;
  max-width: 50%;
  margin: 0 auto;
  margin-top: 30px;
}
@media (max-width: 1024.98px) {
  .Product-list dd {
    max-width: 70%;
  }
}
@media (max-width: 767.98px) {
  .Product-list dd {
    max-width: 90%;
    margin-top: 15px;
  }
}
@media (max-width: 575.98px) {
  .Product-list dd {
    max-width: unset;
    margin-top: 10px;
  }
}
.Product-list .container {
  position: relative;
}
.Product-list .container > .btn {
  position: absolute;
  top: 0;
  right: 15px;
}
@media (max-width: 575.98px) {
  .Product-list .container > .btn {
    position: relative;
    top: unset;
    right: unset;
    margin-top: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
}
.Product-list .container h2 {
  line-height: 1;
}
.Product-list .container h3 a {
  font-size: 2rem;
}
@media (max-width: 1260.98px) {
  .Product-list .container [class*=col-] {
    -ms-flex: 0 0 calc((100% / 3));
    flex: 0 0 calc((100% / 3));
    max-width: calc((100% / 3));
  }
}
@media (max-width: 1024.98px) {
  .Product-list .container [class*=col-] {
    padding: 0 0;
    flex: 0 0 calc((100% / 2) - 16px);
    max-width: calc((100% / 2) - 16px);
    margin: 0 8px;
  }
}
@media (max-width: 575.98px) {
  .Product-list .container [class*=col-] {
    padding: 0 15px;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.Product-list .row {
  margin-top: 40px;
}
@media (max-width: 1439.98px) {
  .Product-list .row {
    margin-top: 20px;
  }
}
.Product-list .row .block-product {
  margin-bottom: 30px;
}
@media (max-width: 1024.98px) {
  .Product-list .row .block-product {
    margin-bottom: 16px;
  }
}
@media (max-width: 575.98px) {
  .Product-list .row .block-product {
    margin-bottom: 15px;
  }
}

.Product-group-video {
  padding: 100px 0;
  position: relative;
  background: var(--bg-section);
}
.Product-group-video .video {
  width: 50%;
  margin: 0 auto;
}
.Product-group-video .img {
  position: relative;
  height: 560px;
  width: auto;
}
.Product-group-video .img:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background: #020024;
  background: linear-gradient(180deg, rgba(2, 0, 36, 0) 50%, rgba(0, 0, 0, 0.8) 90%);
}
.Product-group-video .description {
  position: absolute;
  left: 30px;
  bottom: 30px;
  right: 30px;
}
.Product-group-video .description h3 {
  color: var(--white);
  font-size: 2.2rem;
  text-align: center;
}
.Product-group-video .item {
  position: relative;
}
@media (min-width: 1025px) {
  .Product-group-video .item .description h3 {
    transition: 0.3s all ease-in-out;
  }
  .Product-group-video .item .img img {
    transition: 0.3s all ease-in-out;
  }
  .Product-group-video .item:hover .img img {
    transform: scale(1.1);
  }
  .Product-group-video .item:hover .description h3 {
    color: var(--secondary);
  }
}

.Products-view .thumbs .swiper-container {
  height: 620px;
}
@media (max-width: 1024.98px) {
  .Products-view .thumbs .swiper-container {
    height: 150px;
  }
}
.Products-view .thumbs .swiper-slide-thumb-active .item {
  position: relative;
}
.Products-view .thumbs .swiper-slide-thumb-active .item::before {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  content: "";
  z-index: 1;
  opacity: 1;
}
.Products-view .thumbs .swiper-slide-thumb-active .item::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-self: center;
  font-family: "Font Awesome 5 Pro";
  color: var(--white);
  font-size: 2rem;
  z-index: 2;
  content: "";
  opacity: 2;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 767.98px) {
  .Products-view .thumbs .swiper-slide-thumb-active .item::after {
    font-size: 2rem;
  }
}
.Products-view .thumbs .item {
  height: 100%;
  position: relative;
}
.Products-view .thumbs .item::before {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  content: "";
  z-index: 1;
  opacity: 0;
}
.Products-view .thumbs .item::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-self: center;
  font-family: "Font Awesome 5 Pro";
  color: var(--white);
  font-size: 2rem;
  z-index: 2;
  content: "";
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 767.98px) {
  .Products-view .thumbs .item::after {
    font-size: 2rem;
  }
}
@media (min-width: 1025px) {
  .Products-view .thumbs .item:hover::before, .Products-view .thumbs .item:hover::after {
    transition: all 0.3s ease-in-out;
    opacity: 1;
  }
}
.Products-view .images {
  position: relative;
  height: 620px;
}
@media (max-width: 1024.98px) {
  .Products-view .images {
    height: 100%;
  }
}
.Products-view .images .swiper-container {
  width: 100%;
  height: 100%;
}
.Products-view .images .item {
  height: 100%;
}
@media (max-width: 1024.98px) {
  .Products-view .product-view-img {
    margin-bottom: 20px;
    order: 1;
  }
  .Products-view .product-view-thumb {
    order: 2;
  }
  .Products-view .product-view-cnt {
    order: 3;
  }
}
.Products-view [class*=col-] {
  position: relative;
  height: 100%;
}
@media (max-width: 1024.98px) {
  .Products-view [class*=col-] {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.Products-view h4,
.Products-view .information {
  padding-bottom: 20px;
  margin-bottom: 20px;
}
@media (max-width: 767.98px) {
  .Products-view h4,
.Products-view .information {
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
}
.Products-view h2,
.Products-view h3 {
  font-family: "SFU TradeGothic";
  text-transform: uppercase;
}
.Products-view h2 {
  font-size: 5.5rem;
}
@media (max-width: 767.98px) {
  .Products-view h2 {
    font-size: 4rem;
  }
}
.Products-view h3 {
  font-size: 5rem;
  margin-bottom: 20px;
  text-decoration: underline;
  color: var(--secondary);
}
@media (max-width: 767.98px) {
  .Products-view h3 {
    font-size: 3.5rem;
    margin-bottom: 10px;
  }
}
.Products-view h3 sup {
  text-transform: lowercase;
}
.Products-view h4 {
  font-size: 2rem;
  border-bottom: 1px solid var(--neutral-gray);
}
.Products-view h4 span {
  color: var(--secondary);
}
@media (max-width: 575.98px) {
  .Products-view h4 {
    font-size: 1.6rem;
  }
}
.Products-view h5 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}
@media (max-width: 575.98px) {
  .Products-view h5 {
    font-size: 1.4rem;
  }
}
.Products-view .information {
  padding-top: 20px;
  margin-top: 20px;
  border-top: 1px solid var(--neutral-gray);
  border-bottom: 1px solid var(--neutral-gray);
}
@media (max-width: 767.98px) {
  .Products-view .information {
    padding-top: 10px;
    margin-top: 10px;
  }
}
.Products-view .list-btn-action {
  display: flex;
  flex-wrap: wrap;
}
.Products-view .list-btn-action li {
  position: relative;
  margin-right: 20px;
}
.Products-view .list-btn-action li:first-child {
  padding-right: 20px;
}
.Products-view .list-btn-action li:first-child label {
  margin-right: 10px;
}
@media (max-width: 575.98px) {
  .Products-view .list-btn-action li:first-child {
    margin-bottom: 10px;
  }
}
@media (max-width: 320.98px) {
  .Products-view .list-btn-action li:first-child {
    text-align: center;
  }
}
.Products-view .list-btn-action li:first-child span {
  position: absolute;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  border-right: 1px solid var(--primary);
  border-top: 1px solid var(--primary);
  right: 0;
  color: var(--primary);
  cursor: pointer;
}
.Products-view .list-btn-action li:first-child span.qty-up {
  top: 0;
}
.Products-view .list-btn-action li:first-child span.qty-down {
  bottom: 0;
  border-bottom: 1px solid var(--primary);
}
@media (min-width: 1025px) {
  .Products-view .list-btn-action li:first-child span:hover {
    color: var(--secondary);
    background: var(--primary);
  }
}
.Products-view .list-btn-action li:first-child input {
  border: 1px solid var(--primary);
  border-radius: 5px 0 0 5px;
  width: 51px;
  height: 100%;
  appearance: none;
  padding: 0 10px;
  font-weight: bold;
  color: var(--primary);
}
.Products-view .list-btn-action li:first-child input::-webkit-outer-spin-button, .Products-view .list-btn-action li:first-child input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}
@media (max-width: 767.98px) {
  .Products-view .list-btn-action li:first-child input {
    height: 36px;
    border-radius: 3px 0 0 3px;
  }
}
.Products-view .list-btn-action li:last-child {
  margin-right: 0;
}
.Products-view .list-btn-action li:last-child a {
  margin-right: 20px;
}
@media (max-width: 320.98px) {
  .Products-view .list-btn-action li:last-child a {
    margin-bottom: 10px;
    width: 100%;
  }
}
.Products-view .list-btn-action li:last-child a:last-child {
  margin-right: 0;
  margin-bottom: 0;
}

.Products-description {
  position: relative;
}
.Products-description .container {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  padding: 40px;
}
@media (max-width: 767.98px) {
  .Products-description {
    padding: 15px;
  }
  .Products-description [class*=col-] {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 15px;
    padding: 0 0;
  }
  .Products-description [class*=col-]:last-child {
    margin-bottom: 30px;
  }
}
.Products-description h3 {
  font-size: 2rem;
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
}
.Products-description h3::before {
  position: absolute;
  width: 100%;
  content: "";
  height: 2px;
  background: var(--secondary);
  bottom: 0;
  left: 0;
}
.Products-description p {
  margin-bottom: 20px;
}
.Products-description ul li {
  padding: 20px 0;
  border-top: 1px solid var(--neutral-gray);
}
@media (max-width: 767.98px) {
  .Products-description ul li {
    padding: 10px 0;
  }
}
.Products-description ul li:last-child {
  padding-bottom: 0;
}

.slider-product-view-more {
  position: relative;
}