@charset "UTF-8";
.Setup-introduce {
  position: relative;
}
.Setup-introduce::before {
  position: absolute;
  width: 50%;
  height: 100%;
  background-image: url(../../resources/images/setup/setup-intro-2.png);
  background-color: var(--primary);
  content: "";
  top: 0;
  left: 0;
}
@media (max-width: 767.98px) {
  .Setup-introduce::before {
    width: 100%;
  }
}
@media (max-width: 1001.98px) {
  .Setup-introduce .container {
    width: 100%;
    max-width: 100%;
  }
}
.Setup-introduce [class*=col-] {
  padding: 95px 0;
  padding-right: 85px;
}
@media (max-width: 1439.98px) {
  .Setup-introduce [class*=col-] {
    padding: 40px;
  }
}
@media (max-width: 1001.98px) {
  .Setup-introduce [class*=col-] {
    padding: 20px;
    flex: 0 0 50%;
  }
}
@media (max-width: 767.98px) {
  .Setup-introduce [class*=col-] {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.Setup-introduce .img {
  position: absolute;
  width: 50%;
  height: 100%;
  right: 0;
  top: 0;
  min-width: 300px;
}
@media (max-width: 767.98px) {
  .Setup-introduce .img {
    position: relative;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin: 0 auto;
    height: 300px;
  }
}
.Setup-introduce .content {
  margin-top: 30px;
}
.Setup-introduce .content p {
  color: var(--white);
  margin-bottom: 35px;
}
@media (max-width: 1001.98px) {
  .Setup-introduce .content p {
    margin-bottom: 20px;
  }
}
.Setup-introduce .content p:last-child {
  margin-bottom: 0;
}

.Setup-option {
  padding-bottom: 100px;
}
@media (max-width: 1024.98px) {
  .Setup-option {
    padding-bottom: 50px;
  }
}
.Setup-option .tab-menu {
  background: #f5f5f5;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.104);
  margin-bottom: 60px;
  cursor: pointer;
}
@media (max-width: 1024.98px) {
  .Setup-option .tab-menu {
    margin-bottom: 30px;
  }
}
.Setup-option .tab-menu ul {
  display: flex;
}
@media (max-width: 575.98px) {
  .Setup-option .tab-menu ul {
    flex-wrap: wrap;
  }
}
.Setup-option .tab-menu li {
  width: calc(100% / 3);
  background: #f5f5f5;
  padding: 30px 0;
  text-align: center;
  user-select: none;
  font-weight: bold;
}
.Setup-option .tab-menu li.active {
  position: relative;
  background: var(--secondary-light);
}
.Setup-option .tab-menu li.active::before {
  position: absolute;
  content: "";
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid var(--secondary-light);
  left: calc(50% - 55px);
  width: 0;
  height: 0;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 1439.98px) {
  .Setup-option .tab-menu li {
    padding: 20px 5px;
  }
}
@media (max-width: 767.98px) {
  .Setup-option .tab-menu li {
    font-size: 10px;
  }
}
@media (max-width: 575.98px) {
  .Setup-option .tab-menu li {
    font-size: 12px;
    width: calc(100%);
  }
  .Setup-option .tab-menu li.active::before {
    content: none;
  }
}
.Setup-option .tab-content {
  padding: 0 200px;
}
@media (max-width: 1439.98px) {
  .Setup-option .tab-content {
    padding: 0 100px;
  }
}
@media (max-width: 1024.98px) {
  .Setup-option .tab-content {
    padding: 0 10px;
  }
}
.Setup-option .tab-content h5 {
  font-size: 2.2rem;
  color: var(--primary);
  font-family: "SFU TradeGothic";
  margin-bottom: 25px;
}
.Setup-option .tab-content p {
  color: var(--primary);
  margin-bottom: 35px;
}
@media (max-width: 1024.98px) {
  .Setup-option .tab-content p {
    margin-bottom: 20px;
  }
}
.Setup-option .tab-content table {
  width: 100%;
  position: relative;
}
.Setup-option .tab-content table thead {
  position: relative;
  background: var(--primary);
}
.Setup-option .tab-content table thead th {
  padding: 27px;
  color: var(--white);
  font-family: "SFU TradeGothic";
  font-size: 17px;
}
.Setup-option .tab-content table thead th:first-child {
  text-align: center;
  width: 30%;
}
.Setup-option .tab-content table thead th:last-child {
  border-left: 1px solid #7f899c;
}
.Setup-option .tab-content table tr:nth-child(odd) td {
  background: #f8f8f8;
}
.Setup-option .tab-content table tr:nth-child(even) td {
  background: #ffffff;
}
.Setup-option .tab-content table td {
  padding: 27px;
  color: var(--primary);
  border: 1px solid #7f899c;
}
.Setup-option .tab-content table td:first-child {
  vertical-align: top;
  font-size: 25px;
  text-transform: uppercase;
}
.Setup-option .tab-content table td:last-child {
  border-left: 1px solid #f5f5f5;
}
.Setup-option .tab-content table td li {
  position: relative;
  padding-left: 20px;
  margin-bottom: 20px;
}
.Setup-option .tab-content table td li::before {
  left: 0;
  position: absolute;
  content: "";
  font-size: 16px;
  color: var(--primary);
  font-family: "Font Awesome 5 Pro";
}
@media (max-width: 1024.98px) {
  .Setup-option .tab-content table td li {
    margin-bottom: 10px;
  }
}
.Setup-option .tab-content table td li:last-child {
  margin-bottom: 0;
}

.Setup-experts {
  position: relative;
  padding: 80px 0;
  background: var(--url-background-setup-experts) no-repeat;
}
@media (max-width: 1024.98px) {
  .Setup-experts {
    padding: 40px 0;
  }
}
@media (max-width: 575.98px) {
  .Setup-experts {
    padding: 20px 0;
  }
}
.Setup-experts h2 {
  margin-bottom: 40px;
}
.Setup-experts .slider-setup-info {
  position: relative;
}
.Setup-experts .slider-setup-info .description {
  padding-left: 105px;
  position: relative;
  margin-top: 20px;
  text-align: center;
}
.Setup-experts .slider-setup-info .description::before {
  position: absolute;
  content: "";
  width: 52px;
  height: 57px;
  border-left: 2px solid var(--white);
  border-bottom: 2px solid var(--white);
  bottom: 0;
  left: 0;
}
.Setup-experts .slider-setup-info .description h4 {
  font-size: 2.5rem;
  font-weight: normal;
  color: var(--white);
}
.Setup-experts .slider-setup-info .description p {
  font-size: 1.7rem;
  color: var(--white);
}
@media (max-width: 1439.98px) {
  .Setup-experts .slider-setup-info .description p {
    font-size: 1.5rem;
  }
}
.Setup-experts .slider-setup-info .img {
  position: relative;
  height: 425px;
}
@media (max-width: 1439.98px) {
  .Setup-experts .slider-setup-info .img {
    height: 400px;
  }
}
@media (max-width: 575.98px) {
  .Setup-experts .slider-setup-info .img {
    height: 100%;
  }
}
.Setup-experts .slider-setup-info .img .plus {
  position: absolute;
  z-index: 1;
  width: 60px;
  height: 60px;
  background: var(--primary);
  right: 0;
  bottom: 0;
  cursor: pointer;
  opacity: 1;
  transition: all 0.3s ease;
}
.Setup-experts .slider-setup-info .img .plus::before {
  position: absolute;
  bottom: 0;
  right: 0;
  border-left: 60px solid transparent;
  border-bottom: 60px solid var(--primary-light);
  border-right: none;
  width: 0;
  height: 0;
  content: "";
}
@media (min-width: 1025px) {
  .Setup-experts .slider-setup-info .img .plus:hover {
    opacity: 0.9;
    transition: all 0.3s ease;
  }
}
.Setup-experts .slider-setup-info .img .plus i {
  color: var(--white);
  font-size: 2rem;
  padding: 10px;
}

.Setup-project {
  position: relative;
  padding: 80px 0;
}
@media (max-width: 1024.98px) {
  .Setup-project {
    padding: 40px 0;
  }
}
@media (max-width: 575.98px) {
  .Setup-project {
    padding: 20px 0;
  }
}
.Setup-project h2 {
  margin-bottom: 40px;
}
.Setup-project .slider-setup-project {
  position: relative;
}
.Setup-project .container-fluid {
  position: relative;
  padding: 0 60px;
}
.Setup-project .container-fluid .item {
  display: block;
  position: relative;
}
.Setup-project .container-fluid .item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Font Awesome 5 Pro";
  font-size: 40px;
  font-weight: 500;
  color: var(--white);
  opacity: 0;
  bottom: -100%;
  transition: all 0.3s ease-in-out;
  z-index: 2;
}
@media (min-width: 1025px) {
  .Setup-project .container-fluid .item:hover::before {
    opacity: 1;
    bottom: unset;
    transition: all 0.3s ease-in-out;
  }
  .Setup-project .container-fluid .item:hover .description {
    opacity: 1;
    bottom: 0;
    transition: all 0.3s ease-in-out;
  }
}
@media (max-width: 1024.98px) {
  .Setup-project .container-fluid .item::before {
    opacity: 1;
    bottom: unset;
    transition: all 0.3s ease-in-out;
  }
  .Setup-project .container-fluid .item .description {
    opacity: 1;
    bottom: 0;
    transition: all 0.3s ease-in-out;
  }
}
.Setup-project .container-fluid .img {
  height: 400px;
}
@media (max-width: 1439.98px) {
  .Setup-project .container-fluid .img {
    height: 300px;
  }
}
@media (max-width: 575.98px) {
  .Setup-project .container-fluid .img {
    height: 100%;
  }
}
.Setup-project .container-fluid .description {
  position: absolute;
  left: 0px;
  bottom: 0;
  width: 100%;
  padding: 30px;
  font-size: 2.5rem;
  font-weight: normal;
  color: var(--white);
  z-index: 1;
  opacity: 0;
  bottom: -100%;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 1439.98px) {
  .Setup-project .container-fluid .description {
    font-size: 1.6rem;
  }
}
.Setup-project .container-fluid .description::before {
  position: absolute;
  width: 100%;
  height: 200%;
  content: "";
  background: linear-gradient(to top, #000, rgba(0, 0, 0, 0));
  background-blend-mode: multiply;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.Setup-feedback {
  position: relative;
  background: var(--primary);
  padding: 80px 0;
}
@media (max-width: 1024.98px) {
  .Setup-feedback {
    padding: 40px 0;
  }
}
@media (max-width: 575.98px) {
  .Setup-feedback {
    padding: 30px 0;
  }
}
.Setup-feedback .slider-setup-feedback {
  position: relative;
}
.Setup-feedback h2 {
  margin-bottom: 40px;
}
.Setup-feedback .item {
  display: block;
  position: relative;
}
.Setup-feedback .item h5 {
  position: relative;
  text-align: center;
  font-size: 2.2rem;
  letter-spacing: -0.01em;
  color: var(--white);
  font-weight: 400;
  margin-top: 30px;
}

.Setup-form {
  padding: 100px 0;
}
@media (max-width: 1024.98px) {
  .Setup-form {
    padding: 40px 0;
  }
}
@media (max-width: 575.98px) {
  .Setup-form {
    padding: 20px 0;
  }
}
.Setup-form .block-form {
  padding: 50px;
  background: var(--primary);
  height: 100%;
}
@media (max-width: 1439.98px) {
  .Setup-form .block-form {
    padding: 20px;
  }
}
.Setup-form .block-form h3 {
  font-size: 3rem;
  color: var(--white);
  margin-bottom: 20px;
}
@media (max-width: 1439.98px) {
  .Setup-form .block-form h3 {
    margin-bottom: 10px;
    font-size: 2.5rem;
  }
}
@media (max-width: 575.98px) {
  .Setup-form .block-form h3 {
    font-size: 2rem;
  }
}
.Setup-form .block-form div {
  margin-bottom: 20px;
}
@media (max-width: 575.98px) {
  .Setup-form .block-form div {
    margin-bottom: 10px;
  }
}
.Setup-form .block-form .bg-secondary {
  border: 1px solid transparent;
}
.Setup-form .block-form .bg-secondary:hover {
  border: 1px solid white;
}
.Setup-form .block-form div:last-child {
  text-align: end;
}
.Setup-form .block-form button {
  text-align: center;
}
.Setup-form [class*=col-] {
  padding-left: 50px;
  position: relative;
}
@media (max-width: 1439.98px) {
  .Setup-form [class*=col-] {
    padding-left: 30px;
  }
}
.Setup-form [class*=col-] .img {
  position: relative;
  height: 400px;
}
@media (max-width: 1439.98px) {
  .Setup-form [class*=col-] .img {
    height: 341px;
  }
}
@media (max-width: 575.98px) {
  .Setup-form [class*=col-] .img {
    height: 100%;
  }
}
.Setup-form [class*=col-] .img::before {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  background: url(../../resources/images/setup/setup-pattern.png) no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 18%;
}
.Setup-form [class*=col-] .desc {
  position: absolute;
  top: 20%;
  left: calc(5% + 50px);
}
.Setup-form [class*=col-] .desc p {
  font-weight: bold;
}
.Setup-form [class*=col-] .desc p:first-child {
  color: var(--white);
}
.Setup-form [class*=col-] .desc p.contact {
  margin-top: 15px;
  color: var(--secondary);
}
.Setup-form [class*=col-] .desc h3 {
  margin-top: 35px;
  font-family: "SFU TradeGothic";
  font-size: 3.5rem;
  color: var(--white);
}
@media (max-width: 575.98px) {
  .Setup-form [class*=col-] .desc h3 {
    font-size: 1.6rem;
  }
}