.page-banner {
	position: relative;
	.img {
		height: 400px;
		@media (max-width: 767.98px) {
			height: 300px;
		}
		@media (max-width: 575.98px) {
			height: 250px;
		}
	}
	.wrapper {
		position: absolute;
		top: 0;
		left: 50%;
		width: 100%;
		transform: translateX(-50%);
		height: 100%;
		.container {
			height: 100%;
		}
	}
	.group-infomation {
		display: flex;
		flex-wrap: wrap;
		height: 100%;
		align-items: flex-end;
		padding-bottom: 50px;
		h1 {
			position: relative;
			color: var(--white);
			font-family: "SFU TradeGothic";
			font-size: 5.5rem;
			text-transform: uppercase;
			line-height: 1;
			text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
			padding-top: 10px;
			span {
				display: block;
				font-size: 1.5rem;
				-ms-flex: 0 0 100%;
				flex: 0 0 100%;
				max-width: 100%;
			}
			&:before {
				content: "";
				top: 0;
				width: 100%;
				position: absolute;
				left: 0;
				height: 2px;
				background: var(--white);
			}
		}
		.breadcrumb {
			margin-left: auto;
			margin-right: 30px;
			@media (max-width: 575.98px) {
				margin-left: 0;
				margin-top: 24px;
			}
		}
		@media (max-width: 575.98px) {
			padding-bottom: 24px;
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-end;
		}
	}
}
