.About-business-areas {
	h3 {
		font-size: 2rem;
		color: var(--white);
		position: absolute;
		bottom: 30px;
		left: 30px;
		right: 30px;
		text-align: center;
		font-weight: 600;
		@media (max-width: 1439.98px) {
			font-size: 1.5rem;
		}
		@media (max-width: 1024.98px) {
			bottom: 20px;
			left: 20px;
			right: 20px;
		}
		@media (max-width: 575.98px) {
			font-size: 1.8rem;
		}
	}
	[class*="col-"] {
		@media (max-width: 1024.98px) {
			-ms-flex: 0 0 50%;
			flex: 0 0 50%;
			max-width: 50%;
			margin-bottom: 30px;
			&:last-child {
				margin-bottom: 0;
			}
		}
		@media (max-width: 575.98px) {
			-ms-flex: 0 0 100%;
			flex: 0 0 100%;
			max-width: 100%;
		}
	}
	.img {
		position: relative;
		margin-bottom: 24px;
		@media (max-width: 1439.98px) {
			margin-bottom: 15px;
		}
		@media (max-width: 767.98px) {
			margin-bottom: 10px;
		}
		&::before {
			position: absolute;
			width: 100%;
			height: 50%;
			content: "";
			background: linear-gradient(to top, #000, rgba(0, 0, 0, 0));
			background-blend-mode: multiply;
			bottom: 0;
			left: 0;
			z-index: 0;
		}
	}
}

.slider-about-history {
	position: relative;
	margin-top: 44px;
	.swiper-container {
		padding: 0 30px;
		@media (max-width: 1024.98px) {
			padding: unset;
		}
	}
	h3,
	h4,
	p {
		text-align: right;
		@media (max-width: 1024.98px) {
			text-align: center;
			padding: 0 10px;
		}
	}
	h3 {
		font-family: "SFU TradeGothic";
		font-size: 5.5rem;
	}
	h4 {
		margin-top: 4px;
	}
	p {
		margin-top: 30px;
		@media (max-width: 1439.98px) {
			margin-top: 20px;
		}
	}
	.img {
		display: flex;
		align-items: center;
		margin-top: 16px;
		.line {
			height: 5px;
			background: var(--secondary);
			-ms-flex-preferred-size: 0;
			flex-basis: 0;
			-ms-flex-positive: 1;
			flex-grow: 1;
			max-width: 100%;
			margin-right: 50px;
			@media (max-width: 1024.98px) {
				display: none;
			}
		}
		img {
			display: block;
			margin-left: auto;
			@media (max-width: 1024.98px) {
				margin: auto;
			}
		}
	}
}

.About-image-galleries {
	position: relative;
	background-image: var(--url-background-about-gallery);
	background-size: 100% 100%;
	.content-wrapper {
		padding-left: 310px;
		@media (max-width: 1439.98px) {
			padding-left: 0;
		}
	}
	.content {
		margin-top: 32px;
		p {
			+ p {
				margin-top: 30px;
			}
		}
	}
	.images {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -10px;
		position: relative;
		margin-top: 44px;
		@media (max-width: 1000.98px) {
			margin: 0 -5px;
			margin-top: 30px;
		}
		.item {
			-ms-flex: 0 0 25%;
			flex: 0 0 25%;
			max-width: 25%;
			padding: 0 10px;
			cursor: pointer;
			position: relative;
			height: 240px;
			&::after {
				position: absolute;
				top: 50%;
				left: 50%;
				content: "\f002";
				font-family: "Font Awesome 5 Pro";
				transform: translate(-50%, -50%);
				font-size: 3rem;
				color: var(--white);
				background-color: rgba(0, 0, 0, 0.6);
				width: calc(100% - 20px);
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				opacity: 0;
				transition: all 0.3s ease;
				pointer-events: none;
				z-index: 5;
				@media (max-width: 1024.98px) {
					opacity: 1;
					background-color: rgba(0, 0, 0, 0.1);
				}
			}
			p {
				text-align: center;
				font-size: 700;
				color: var(--white);
				position: absolute;
				left: 5%;
				right: 5%;
				bottom: 5%;
				width: 90%;
				z-index: 10;
			}
			@media (min-width: 1025px) {
				&:hover {
					&::after {
						opacity: 1;
						transition: all 0.3s ease;
					}
				}
			}
			@media (max-width: 1024.98px) {
				-ms-flex: 0 0 33.3333%;
				flex: 0 0 33.3333%;
				max-width: 33.3333%;
				&:last-child {
					margin-top: 20px;
				}
			}
			@media (max-width: 767.98px) {
				-ms-flex: 0 0 50%;
				flex: 0 0 50%;
				max-width: 50%;
				&:nth-last-child(2) {
					margin-top: 20px;
				}
			}
			@media (max-width: 575.98px) {
				height: 150px;
			}
		}
	}
	.container {
		position: relative;
		z-index: 2;
	}
	.img-bottom {
		position: absolute;
		left: 0;
		bottom: 0;
		z-index: 1;
		width: 100%;
	}
}

.About-vistion-misstion {
	padding: 80px 0;
	@media (max-width: 1024.98px) {
		padding: 40px 0;
	}
	@media (max-width: 575.98px) {
		padding: 20px 0;
	}
	.col-lg-4 {
		margin-top: 50px;
		@media (max-width: 1024.98px) {
			margin-top: 30px;
		}
		@media (max-width: 575.98px) {
			padding: 20px;
			margin-top: unset;
		}
		h3 {
			font-size: 4.5rem;
			font-family: "SFU TradeGothic";
			padding-left: 17px;
			position: relative;
			line-height: 1;
			&::before {
				position: absolute;
				width: 4px;
				height: 80%;
				left: 0;
				bottom: 0;
				background: var(--secondary);
				content: "";
			}
			@media (max-width: 1024.98px) {
				font-size: 3.5rem;
			}
			@media (max-width: 575.98px) {
				font-size: 2.5rem;
			}
		}
		ul {
			margin-top: 35px;
			@media (max-width: 1024.98px) {
				margin-top: 25px;
			}
			@media (max-width: 768.98px) {
				margin-top: 15px;
			}
		}
		li {
			margin-bottom: 35px;
			font-size: 1.6rem;
			line-height: 22px;
			@media (max-width: 1024.98px) {
				margin-bottom: 25px;
			}
			@media (max-width: 768.98px) {
				margin-bottom: 15px;
			}
			&:last-child {
				margin-bottom: 0;
			}
			span {
				color: var(--secondary);
				font-weight: bold;
			}
			b {
				color: var(--primary);
			}
		}
	}
}
