.Educate-value {
	[class*="col-"] {
		text-align: center;
		&:first-child,
		&:nth-child(2),
		&:nth-child(3) {
			margin-bottom: 44px;
		}
		@media (max-width: 767.98px) {
			margin-bottom: 24px !important;
		}
	}
	.icon {
		margin: 0 auto;
		width: 120px;
		height: 120px;
		border-radius: 100%;
		background: var(--secondary);
		display: flex;
		align-items: center;
		justify-content: center;
		i {
			font-size: 6rem;
			color: var(--primary);
		}
		@media (max-width: 575.98px) {
			width: 100px;
			height: 100px;
			i {
				font-size: 4rem;
			}
		}
	}
	.desc {
		margin-top: 25px;
		@media (max-width: 1439.98px) {
			margin-top: 20px;
		}
		@media (max-width: 575.98px) {
			margin-top: 10px;
		}
		text-align: center;
		h3,
		p {
			color: var(--primary);
		}
		p {
			max-width: 85%;
			margin: 0 auto;
			@media (max-width: 1024.98px) {
				max-width: 95%;
			}
			@media (max-width: 575.98px) {
				max-width: 70%;
			}
			@media (max-width: 425.98px) {
				max-width: 95%;
			}
		}
		h3 {
			font-size: 2.5rem;
			font-family: "SFU TradeGothic";
			margin-bottom: 20px;
			@media (max-width: 1439.98px) {
				font-size: 2rem;
				margin-bottom: 10px;
			}
		}
	}
}

.Educate-images {
	position: relative;
}

.slider-educate-images {
	position: relative;
	padding: 0 60px;
	&.no-padding {
		padding: 0 !important;
	}
	.item {
		cursor: pointer;
		position: relative;
		.img {
			position: relative;
			padding-bottom: calc(400 / 580 * 100%);
		}
		@media (min-width: 1025px) {
			.img {
				img {
					transition: 0.3s all ease-in-out;
				}
			}
			&:hover {
				.img {
					img {
						transform: scale(1.1);
					}
				}
			}
		}
	}
	@media (max-width: 575.98px) {
		padding: 0 15px;
	}
}

.Educate-info {
	position: relative;
}

.slider-educate-info {
	position: relative;
	.item {
		.img {
			position: relative;
			padding-bottom: calc(360 / 430 * 100%);
		}
		@media (min-width: 1025px) {
			.img {
				img {
					transition: 0.3s all ease-in-out;
				}
			}
			&:hover {
				.img {
					img {
						transform: scale(1.1);
					}
				}
			}
		}
	}
}

.Educate-gallery {
	position: relative;
	[class*="col-"] {
		margin-bottom: 30px;
		@media (max-width: 575.98px) {
			margin-bottom: 15px;
		}
	}
	.item {
		display: block;
		position: relative;
		.img {
			position: relative;
			padding-bottom: calc(400 / 580 * 100%);
		}
		@media (min-width: 1025px) {
			.img {
				img {
					transition: 0.3s all ease-in-out;
				}
			}
			&:hover {
				.img {
					img {
						transform: scale(1.1);
					}
				}
			}
		}
	}
}

.Educate-gallery-view {
	position: relative;
	.list-img {
		position: relative;
		margin-top: 40px;
		@media (max-width: 1024.98px) {
			margin-top: 24px;
		}
		ul {
			display: flex;
			flex-wrap: wrap;
			margin: 0 -7.5px;
			li {
				-ms-flex: 0 0 20%;
				flex: 0 0 20%;
				max-width: 20%;
				padding: 0 7.5px;
				margin-bottom: 15px;
				a {
					overflow: hidden;
					position: relative;
					transition: all 0.3s ease;
					cursor: pointer;
					width: 100%;
					height: 100%;
					display: block;
					&::before {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						background: rgba(0, 0, 0, 0.564);
						z-index: 1;
						content: "";
						opacity: 0;
						transition: all 0.3s ease-in-out;
					}
					&::after {
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						display: flex;
						align-items: center;
						justify-self: center;
						font-family: "Font Awesome 5 Pro";
						color: var(--white);
						font-size: 2rem;
						z-index: 2;
						content: "\f002";
						opacity: 0;
						transition: all 0.3s ease-in-out;
						@media (max-width: 767.98px) {
							font-size: 2rem;
						}
					}
				}
				@media (min-width: 1025px) {
					img {
						transition: 0.3s all ease-in-out;
					}
					&:hover {
						img {
							transform: scale(1.1);
						}
						a {
							&::before {
								opacity: 1;
								transition: all 0.3s ease-in-out;
							}
							&:after {
								opacity: 1;
								transition: all 0.3s ease-in-out;
							}
						}
					}
				}
				@media (max-width: 1024.98px) {
					a {
						&::before {
							opacity: 1;
						}
						&:after {
							opacity: 1;
						}
					}
				}
				@media (max-width: 1024.98px) {
					-ms-flex: 0 0 33.3333%;
					flex: 0 0 33.3333%;
					max-width: 33.3333%;
				}
				@media (max-width: 767.98px) {
					-ms-flex: 0 0 50%;
					flex: 0 0 50%;
					max-width: 50%;
				}
			}
		}
	}
	.load-more {
		position: relative;
		text-align: center;
		margin-top: 45px;
	}
}

.Educate-teacher {
	position: relative;
	[class*="col-"] {
		margin-bottom: 40px;
	}
	h2 {
		margin-bottom: 40px;
	}
	.description {
		position: relative;
		margin-top: 20px;
		text-align: center;
		&::before {
			position: absolute;
			content: "";
			width: 52px;
			height: 57px;
			border-left: 2px solid var(--primary);
			border-bottom: 2px solid var(--primary);
			bottom: 0;
			left: 0;
			@media (max-width: 768.98px) {
				width: 40px;
				height: 40px;
			}
		}
		h4 {
			font-size: 2.5rem;
			font-weight: normal;
			color: var(--primary);
			@media (min-width: 1025px) {
				transition: all 0.3s ease;
				&:hover {
					color: var(--secondary);
					text-decoration: underline;
				}
			}
		}
		p {
			font-size: 1.7rem;
			color: var(--primary);
			@media (max-width: 1439.98px) {
				font-size: 1.5rem;
			}
		}
	}
	.img {
		position: relative;
		padding-bottom: calc(425 / 425 * 100%);
		.plus {
			position: absolute;
			z-index: 1;
			width: 60px;
			height: 60px;
			background: var(--primary);
			right: 0;
			bottom: 0;
			cursor: pointer;
			opacity: 1;
			transition: all 0.3s ease;
			&::before {
				position: absolute;
				bottom: 0;
				right: 0;
				border-left: 60px solid transparent;
				border-bottom: 60px solid var(--neutral-light);
				border-right: none;
				width: 0;
				height: 0;
				content: "";
			}
			i {
				color: var(--white);
				font-size: 2rem;
				padding: 10px;
			}
			@media (min-width: 1025px) {
				transition: all 0.3s ease;
				&:hover {
					background: var(--secondary);
				}
			}
		}
		@media (min-width: 1025px) {
			img {
				transition: 0.3s all ease-in-out;
			}
			&:hover {
				img {
					transform: scale(1.1);
				}
			}
		}
	}
}

.Educate-teacher-view {
	[class*="col-"] {
		&:first-child {
			padding-right: 80px;
			@media (max-width: 1439.98px) {
				padding-right: 40px;
			}
			@media (max-width: 1024.98px) {
				padding-right: 20px;
			}
			@media (max-width: 767.98px) {
				padding-right: unset;
			}
			p {
				margin-bottom: 15px;
				&:last-child {
					margin-bottom: 0;
				}
				&.option {
					display: inline-block;
				}
			}
			ul {
				display: block;
			}
		}
		@media (max-width: 767.98px) {
			flex: 0 0 100%;
		}
	}
	.title-section {
		margin-bottom: 25px;
		@media (max-width: 1439.98px) {
			margin-bottom: 20px;
		}
	}
	b {
		color: var(--primary);
	}
	.content {
		h4 {
			color: var(--primary);
		}
		p {
			margin-bottom: 25px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	ul {
		padding: 15px 0;
		li {
			margin-left: 20px;
			padding-left: 20px;
			position: relative;
			margin-bottom: 15px;
			&:last-child {
				margin-bottom: 0;
			}
			&::before {
				position: absolute;
				width: 6px;
				height: 6px;
				background: var(--secondary);
				top: 50%;
				left: 0;
				transform: translateY(-50%);
				content: "";
			}
		}
	}
	.img {
		margin-bottom: 25px;
		img {
			max-width: 600px;
			min-height: 600px;
			width: 100%;
			height: 100%;
		}
	}
}

.Educate-teacher-view-more {
	position: relative;
	.educate-teacher-more {
		position: relative;
		.description {
			position: relative;
			margin-top: 20px;
			text-align: center;
			&::before {
				position: absolute;
				content: "";
				width: 52px;
				height: 57px;
				border-left: 2px solid var(--primary);
				border-bottom: 2px solid var(--primary);
				bottom: 0;
				left: 0;
			}
			h4 {
				font-size: 2.5rem;
				font-weight: normal;
				color: var(--primary);
				@media (min-width: 1025px) {
					transition: all 0.3s ease;
					&:hover {
						color: var(--secondary);
						text-decoration: underline;
					}
				}
			}
			p {
				font-size: 1.7rem;
				color: var(--primary);
				@media (max-width: 1439.98px) {
					font-size: 1.5rem;
				}
			}
		}
		.img {
			position: relative;
			padding-bottom: calc(425 / 425 * 100%);
			.plus {
				position: absolute;
				z-index: 1;
				width: 60px;
				height: 60px;
				background: var(--primary);
				right: 0;
				bottom: 0;
				cursor: pointer;
				opacity: 1;
				transition: all 0.3s ease;
				&::before {
					position: absolute;
					bottom: 0;
					right: 0;
					border-left: 60px solid transparent;
					border-bottom: 60px solid var(--neutral-light);
					border-right: none;
					width: 0;
					height: 0;
					content: "";
				}
				@media (min-width: 1025px) {
					&:hover {
						background: var(--secondary);
					}
				}
				i {
					color: var(--white);
					font-size: 2rem;
					padding: 10px;
				}
			}
			@media (min-width: 1025px) {
				img {
					transition: 0.3s all ease-in-out;
				}
				&:hover {
					img {
						transform: scale(1.1);
					}
				}
			}
		}
	}
}
