.Educate-value {
	.icon {
		background: transparent;
	}
}
.hero-banner {
	.button-navigation-slider {
		@media (max-width: 1599.98px) {
			display: none;
		}
	}
}

.back-to-top {
	@media (max-width: 767.98px) {
		display: none;
	}
}

.phone-fixed {
	@media (max-width: 767.98px) {
		right: 8px;
		width: 32px;
		height: 32px;
		transform: unset;
		top: unset;
		bottom: 25%;
		&:after {
			width: 20px;
			height: 20px;
		}
	}
}

.socials-fixed {
	@media (max-width: 767.98px) {
		right: 8px;
		top: unset;
		bottom: 24px;
		.button-hover {
			display: none;
		}
		.list-social {
			position: relative;
			opacity: 1;
			visibility: visible;
			margin-bottom: 0;
			border-radius: 4px;
			padding: 8px;
			transform: unset;
			left: unset;
			&:after {
				content: none;
			}
			i {
				font-size: 16px;
			}
			img {
				width: 16px;
			}
		}
	}
}

.slider-index-best-seller {
	@media (max-width: 575.98px) {
		.swiper-container {
			border: 0;
		}
		.item {
			border: 0;
		}
	}
}

.Index-service {
	@media (max-width: 575.98px) {
		[class*="col-"] {
			&:last-child {
				.item {
					max-width: 100%;
					margin: 0;
				}
			}
		}
	}
}

.page-banner {
	@media (max-width: 1024.98px) {
		.group-infomation {
			flex-direction: row;
			align-items: center;
			justify-content: center;
			padding-bottom: 0;
			h1 {
				-ms-flex: 0 0 100%;
				flex: 0 0 100%;
				max-width: 100%;
				padding-top: 0;
				margin-top: 8;
				&::before {
					content: none;
				}
			}
			.breadcrumb {
				-ms-flex: 0 0 100%;
				flex: 0 0 100%;
				max-width: 100%;
				margin-right: 0;
				margin-left: 0;
			}
		}
	}
}

.breadcrumb {
	@media (max-width: 767.98px) {
		li {
			+ li {
				a {
					padding-left: 12px;
					margin-left: 12px;
				}
			}
		}
		a {
			font-size: 1.2rem;
		}
	}
}

.Products-view {
	.information {
		border-top: 1px solid #e6e6f0;
		border-bottom: 1px solid #e6e6f0;
	}
	h4 {
		font-size: 2rem;
		font-weight: 400;
		border-bottom: 1px solid #e6e6f0;
		span {
			font-weight: 700;
		}
	}
}

footer {
	.copy-right {
		padding-top: 24px;
		border-top: 1px solid var(--primary-light);
	}
}
