.clearfix:after {
	display: table;
	clear: both;
	content: "";
}
.d-none,
[hidden] {
	display: none !important;
}
.d-flex {
	display: flex;
}
.fw-300 {
	font-weight: 300;
}
.fw-400 {
	font-weight: 400;
}
.fw-500 {
	font-weight: 500;
}
.fw-600 {
	font-weight: 600;
}
.fw-700 {
	font-weight: 700;
}
.fw-800 {
	font-weight: 800;
}
.fw-900 {
	font-weight: 900;
}
.text-center {
	text-align: center;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.text-justify {
	text-align: justify;
}
.text-last-center {
	text-align-last: center;
}
.text-underline {
	text-decoration: underline;
}
.text-no-underline {
	text-decoration: none;
}
.text-uppercase {
	text-transform: uppercase;
}
.text-capitalize {
	text-transform: capitalize;
}
.justify-content-center {
	justify-content: center;
}
.justify-content-end {
	justify-content: flex-end;
}
.justify-content-start {
	justify-content: flex-start;
}
.align-items-center {
	align-items: center;
}
.align-items-end {
	align-items: flex-end;
}
.align-items-start {
	align-items: flex-start;
}
.fullsize {
	width: 100%;
	height: 100%;
}
.object-cover {
	@extend .fullsize;
	object-fit: cover;
}
.overflow-hidden {
	overflow: hidden;
}
.object-contain {
	@extend .fullsize;
	object-fit: contain;
}
.padding-left-0 {
	padding-left: 0 !important;
}
.padding-right-0 {
	padding-right: 0 !important;
}
.padding-x-0 {
	@extend .padding-left-0;
	@extend .padding-right-0;
}
.lcl {
	overflow: hidden;
	display: -webkit-box;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;

	&-1 {
		-webkit-line-clamp: 1;
	}

	&-2 {
		-webkit-line-clamp: 2;
	}

	&-3 {
		-webkit-line-clamp: 3;
	}

	&-4 {
		-webkit-line-clamp: 4;
	}
}
.blur-up {
	-webkit-filter: blur(5px);
	filter: blur(5px);
	transition: filter 400ms, -webkit-filter 400ms;
	&.lazyloaded {
		-webkit-filter: blur(0);
		filter: blur(0);
	}
}
.pos-center-center {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.btn {
	user-select: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 1.6rem;
	line-height: 20px;
	white-space: nowrap;
	padding: 16px 28px;
	color: var(--white);
	border: 2px solid var(--white);
	border-radius: 4px;
	&.bg-primary {
		background: var(--primary);
		border: 0;
	}
	&.bg-white {
		color: var(--primary);
		background: var(--white);
		border: 0;
	}
	&.bg-secondary {
		background: var(--secondary);
		color: var(--primary);
		border: 0;
	}

	&.size-small {
		font-size: 1.4rem;
		padding: 8px 16px;
	}
	&.only-icon {
		padding: 8px 32px;
		font-size: 2.4rem;
		border-radius: 30px;
		i {
			margin-left: 0;
		}
	}
	svg,
	i {
		margin-left: 14px;
	}
}
.btn-play {
	cursor: pointer;
	font-size: 3rem;
	color: var(--white);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	width: 150px;
	height: 150px;
	background: rgba(255, 255, 255, 0.5);
	i,
	svg {
		position: relative;
		z-index: 10;
	}
	&.size-small {
		width: 100px;
		height: 100px;
		&:after {
			width: 80px;
			height: 80px;
		}
	}
	&.bg-white {
		font-size: 2rem;
		color: var(--primary);
		&:after {
			background: var(--white);
		}
	}
	&:after {
		content: "";
		position: absolute;
		width: 120px;
		height: 120px;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		background: var(--primary);
		border-radius: 50%;
	}
}
.title-section {
	h2,
	p {
		font-family: "SFU TradeGothic";
		color: var(--primary);
	}
	h2 {
		font-size: 4rem;
		text-transform: uppercase;
	}
	p {
		font-style: italic;
		position: relative;
		font-size: 2.2rem;
		padding-left: 44px;
		&:after {
			content: "";
			position: absolute;
			left: 0;
			top: 18px;
			height: 1px;
			width: 32px;
			background: var(--primary);
		}
	}
	&.color-white {
		h2,
		p {
			color: var(--white);
		}
		p {
			&:after {
				background: var(--white);
			}
		}
	}
}
.button-navigation-slider {
	position: absolute;
	cursor: pointer;
	color: var(--white);
	font-size: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60px;
	height: 60px;
	overflow: hidden;
	background: var(--primary);
	border-radius: 5px;
	&.center-50px {
		top: 50%;
		transform: translateY(-50%);
		&.prev {
			left: 50px;
		}
		&.next {
			right: 50px;
		}
	}
}
.form-group {
	input {
		color: var(--white);
		font-size: 1.5rem;
		line-height: 32px;
		width: 100%;
		&::placeholder {
			color: var(--neutral-gray);
		}
		&.no-background {
			background: none;
		}
		&.border-bottom {
			border-bottom: 1px solid #203458;
		}
		&.no-bg-bb {
			@extend.no-background;
			@extend.border-bottom;
		}
	}
}
