.Index-service {
	overflow: hidden;
	.wrapper {
		position: relative;
		max-width: 1070px;
		width: 100%;
		margin: 0 auto;
		&:after {
			content: "";
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			background-image: url(../../resources//images/index/index-service-background.png);
			background-size: 100% 100%;
			width: 850px;
			height: 400px;
			pointer-events: none;
			z-index: -1;
		}
		@media (max-width: 1024.98px) {
			&:after {
				width: 100%;
				height: 100%;
			}
		}
		@media (max-width: 575.98px) {
			&:after {
				height: 50%;
			}
		}
	}
	.item {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		.text {
			display: flex;
			-ms-flex: 0 0 20%;
			flex: 0 0 20%;
			max-width: 20%;
			@media (max-width: 575.98px) {
				-ms-flex: 0 0 100%;
				flex: 0 0 100%;
				max-width: 100%;
				order: 2;
			}
		}
		h2 {
			font-family: "SFU TradeGothic";
			margin-left: auto;
			font-size: 5rem;
			text-transform: uppercase;
			writing-mode: vertical-rl;
			transform: rotate(180deg);
			width: 100%;
			margin: 0;
			float: left;
			color: var(--white);
			text-shadow: -1px -1px 0 var(--primary), 1px -1px 0 var(--primary),
				-1px 1px 0 var(--primary), 1px 1px 0 var(--primary);
			@media (max-width: 767.98px) {
				font-size: 3rem;
			}
			@media (max-width: 575.98px) {
				writing-mode: unset;
				transform: unset;
				text-align: center;
			}
		}
		.img {
			-ms-flex: 0 0 80%;
			flex: 0 0 80%;
			max-width: 80%;
		}
		img {
			display: block;
			margin: 0 auto;
		}
		@media (max-width: 1199.98px) {
		}
		@media (min-width: 1025px) {
			h2 {
				transition: 0.3s all ease-in-out;
			}
			&:hover {
				h2 {
					color: var(--primary);
					text-shadow: unset;
				}
			}
		}
	}
	@media (max-width: 575.98px) {
		[class*="col-"] {
			&:last-child {
				margin-top: 15px;
				.item {
					max-width: 50%;
					margin: 0 auto;
				}
			}
		}
	}
}

.Index-about {
	position: relative;
	width: 100%;
	background-image: var(--url-background-index-about);
	background-size: 100% 100%;
	overflow: hidden;
	[class*="col-"] {
		&:first-child {
			position: relative;
			img {
				position: absolute;
				bottom: -85px;
				@media (max-width: 1024.98px) {
					bottom: -50px;
					right: 0;
					width: 40%;
				}
			}
		}
		@media (max-width: 1024.98px) {
			&:first-child {
				order: 2;
			}
			&:last-child {
				order: 1;
			}
		}
	}
	.content-section {
		margin-top: 30px;
		p {
			color: var(--primary);
			+ p {
				margin-top: 30px;
			}
		}
	}
	.img-bottom {
		position: relative;
		z-index: 10;
	}
	.cta-button {
		margin-top: 30px;
	}
}

.slider-index-best-seller {
	position: relative;
	.item {
		min-height: 505px;
		border: 1px solid #d3d3d3;
		border-left: 0;
		padding: 24px;
		.img {
			position: relative;
			display: block;
			width: auto;
			min-height: 260px;
			max-height: 260px;
			overflow: hidden;
			img {
				display: block;
				margin: 0 auto;
			}
			.item-hover {
				position: absolute;
				bottom: 0;
				left: 60%;
				transform: translateX(-60%);
				opacity: 0;
				pointer-events: none;
				z-index: 10;
			}
		}
		.description {
			margin-top: 44px;
			@media (max-width: 767.98px) {
				margin-top: 16px;
			}
			@media (max-width: 575.98px) {
				text-align: center;
			}
		}
		.group-bottom {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-top: 26px;
			@media (max-width: 767.98px) {
				flex-direction: column;
				margin-top: 8px;
			}
		}
		h3 {
			display: inline-block;
			position: relative;
			margin-bottom: 8px;
			&:after {
				content: "";
				position: absolute;
				width: 0;
				height: 2px;
				background: var(--secondary);
				left: 0;
				bottom: 0;
			}
		}
		h3,
		h4 {
			text-transform: uppercase;
			color: var(--primary);
			font-size: 2.2rem;
			letter-spacing: -1px;
		}
		h4 {
			@media (max-width: 767.98px) {
				margin-bottom: 8px;
			}
		}
		p {
			color: var(--primary);
		}
		&-fixed {
			position: relative;
			min-height: 505px;
			img {
				position: absolute;
			}
			.logo {
				position: absolute;
				top: 10%;
				left: 50%;
				transform: translateX(-50%);
			}
			p {
				font-style: italic;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translateX(-50%);
				width: 70%;
				color: var(--white);
				text-align: center;
				&:after,
				&:before {
					font-size: 24px;
					font-family: "Font Awesome 5 Pro";
					font-weight: 700;
					position: absolute;
					color: var(--secondary);
				}
				&:before {
					content: "\f10d";
					top: -8px;
					right: 103%;
				}
				&:after {
					content: "\f10e";
					bottom: -8px;
					left: 100%;
				}
			}
			.cta-button {
				position: absolute;
				top: 80%;
				left: 50%;
				transform: translateX(-50%);
			}
			@media (max-width: 575.98px) {
				display: none;
			}
		}
		@media (min-width: 1025px) {
			.img {
				.item-hover {
					transition: opacity 0.3s ease-in-out,
						transform 0.5s ease-in-out;
				}
				&:hover {
					.item-hover {
						opacity: 1;
						transition: opacity 0.3s ease-in-out,
							transform 0.5s ease-in-out;
						transform: translateX(-50%);
					}
				}
			}
			h3 {
				transition: 0.3s all ease-in-out;
				&:after {
					transition: 0.5s all ease-in-out;
				}
				&:hover {
					color: var(--secondary);
					&:after {
						width: 100%;
					}
				}
			}
			.btn {
				&:hover {
					background: var(--secondary);
					color: var(--primary);
				}
			}
		}
		@media (max-width: 575.98px) {
			min-height: auto;
		}
	}
	@media (max-width: 1199.98px) {
		.swiper-container {
			border-right: 1px solid #d3d3d3;
		}
	}
}

.Index-educate {
	background-image: var(--url-background-index-edicate);
	background-size: 100% 100%;
	.content {
		margin-top: 30px;
		p {
			color: var(--primary);
			+ p {
				margin-top: 24px;
				@media (max-width: 575.98px) {
					margin-top: 8px;
				}
			}
		}
	}
	.cta-button {
		margin-top: 44px;
		@media (max-width: 1024.98px) {
			margin-top: 24px;
		}
		@media (max-width: 575.98px) {
			margin-top: 16px;
		}
	}
	.thumbnail-video {
		position: relative;
		@media (max-width: 767.98px) {
			margin-top: 24px;
		}
	}
	[class*="col-"] {
		&:first-child {
			@media (min-width: 1439.98px) {
				padding-right: 70px;
			}
		}
	}
}

.Index-setup {
	.description {
		h3,
		p {
			color: var(--primary);
		}
		h3 {
			font-size: 2rem;
		}
		p {
			margin-top: 8px;
		}
	}
	.big-item {
		position: relative;
		.img {
			height: 600px;
			width: auto;
			@media (max-width: 575.98px) {
			}
			@media (max-width: 991.98px) {
				height: 350px;
				margin-bottom: 15px;
			}
		}
		.description {
			position: absolute;
			left: 30px;
			right: 30px;
			bottom: 30px;
			z-index: 10;
			h3 {
				color: var(--white);
				font-size: 2.2rem;
			}
			p {
				color: var(--white);
			}
			.cta-button {
				margin-top: 20px;
			}
		}
		&:after {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			pointer-events: none;
			background: rgb(2, 0, 36);
			background: linear-gradient(
				180deg,
				rgba(2, 0, 36, 0) 0%,
				rgba(0, 0, 0, 0.8) 90%
			);
		}
		@media (min-width: 1025px) {
			.description {
				h3 {
					transition: 0.3s all ease-in-out;
					&:hover {
						color: var(--secondary);
						text-decoration: underline;
					}
				}
			}
			.img {
				img {
					transition: transform 0.5s ease-in-out;
					&:hover {
						transform: scale(1.1);
					}
				}
			}
		}
	}
	[class*="col-"] {
		@media (min-width: 1336px) {
			&:last-child {
				padding-left: 45px;
			}
		}
	}
	.item {
		display: flex;
		align-items: center;
		.img {
			position: relative;
			-ms-flex: 0 0 180px;
			flex: 0 0 180px;
			max-width: 180px;
			height: 180px;
			&:after {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				background: rgba($color: #000000, $alpha: 0.5);
				opacity: 0;
				pointer-events: none;
			}
			@media (max-width: 575.98px) {
				-ms-flex: 0 0 100%;
				flex: 0 0 100%;
				max-width: 100%;
			}
		}
		.description {
			-ms-flex-preferred-size: 0;
			flex-basis: 0;
			-ms-flex-positive: 1;
			flex-grow: 1;
			max-width: 100%;
			padding-left: 30px;
			max-height: 180px;
			overflow-y: auto;
			&::-webkit-scrollbar {
				display: none;
			}
			@media (max-width: 1024.98px) {
				padding-left: 16px;
			}
			@media (max-width: 575.98px) {
				-ms-flex: 0 0 100%;
				flex: 0 0 100%;
				max-width: 100%;
				padding-left: 0;
				margin-top: 16px;
			}
		}
		+ .item {
			margin-top: 30px;
			@media (max-width: 991.98px) {
				margin-top: 15px;
				padding-top: 15px;
				border-top: 1px solid #dedede;
			}
		}
		@media (min-width: 1025px) {
			.img {
				&:after {
					transition: opacity 0.3s ease-in-out;
				}
				img {
					transition: transform 0.3s ease-in-out;
				}
				&:hover {
					&:after {
						opacity: 1;
					}
					img {
						transform: scale(1.05);
					}
				}
			}
			h3 {
				transition: 0.3s all ease-in-out;
				&:hover {
					text-decoration: underline;
					color: var(--secondary);
				}
			}
		}
		@media (max-width: 575.98px) {
			flex-direction: column;
			align-items: flex-start;
		}
	}
}

.Index-recipe {
	position: relative;
	background-image: var(--url-background-index-recipe);
	background-size: cover;
	.header-recipe {
		display: flex;
		align-items: flex-end;
		@media (max-width: 1199.98px) {
			display: block;
		}
	}
	.list-tab {
		display: flex;
		flex-wrap: wrap;
		margin-left: auto;
		.item-tab {
			cursor: pointer;
			user-select: none;
			font-weight: 900;
			color: var(--white);
			text-transform: uppercase;
			+ .item-tab {
				margin-left: 20px;
				@media (max-width: 575.98px) {
					margin-left: 0;
				}
			}
			&.active {
				color: var(--secondary);
			}
			@media (min-width: 1025px) {
				transition: 0.3s all ease-in-out;
				&:hover {
					color: var(--secondary);
				}
			}
			@media (max-width: 1199.98px) {
				margin-top: 16px;
				margin-right: 20px;
			}
		}
		@media (max-width: 1199.98px) {
			margin-top: 24px;
		}
	}
}

.slider-index-recipe {
	position: relative;
	margin-top: 35px;
	.img {
		position: relative;
		height: 300px;
		width: auto;
		&:after {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			pointer-events: none;
			background: rgb(2, 0, 36);
			background: linear-gradient(
				180deg,
				rgba(2, 0, 36, 0) 50%,
				rgba(0, 0, 0, 0.8) 90%
			);
		}
	}
	.description {
		position: absolute;
		left: 30px;
		bottom: 30px;
		right: 30px;
		h3 {
			color: var(--white);
			font-size: 2.2rem;
		}
	}
	.item {
		position: relative;
		@media (min-width: 1025px) {
			.description {
				h3 {
					transition: 0.3s all ease-in-out;
				}
			}
			.img {
				img {
					transition: 0.3s all ease-in-out;
				}
			}
			&:hover {
				.img {
					img {
						transform: scale(1.1);
					}
				}
				.description {
					h3 {
						color: var(--secondary);
					}
				}
			}
		}
	}
}
