.Product-list {
    position: relative;
    background: #f5f5f5;
    dd {
        text-align: center;
        max-width: 50%;
        margin: 0 auto;
        margin-top: 30px;
        @media (max-width: 1024.98px) {
            max-width: 70%;
        }
        @media (max-width: 767.98px) {
            max-width: 90%;
            margin-top: 15px;
        }
        @media (max-width: 575.98px) {
            max-width: unset;
            margin-top: 10px;
        }
    }
    .container {
        position: relative;
        >.btn {
            position: absolute;
            top: 0;
            right: 15px;
            @media (max-width: 575.98px) {
                position: relative;
                top: unset;
                right: unset;
                margin-top: 20px;
                left: 50%;
                transform: translateX(-50%);
            }
        }
        h2 {
            line-height: 1;
        }
        h3 {
            a {
                font-size: 2rem;
            }
        }
        [class*="col-"] {
            @media (max-width: 1260.98px) {
                -ms-flex: 0 0 calc((100% / 3));
                flex: 0 0 calc((100% / 3));
                max-width: calc((100% / 3));
            }
            @media (max-width: 1024.98px) {
                padding: 0 0;
                flex: 0 0 calc((100% / 2) - 16px);
                max-width: calc((100% / 2) - 16px);
                margin: 0 8px;
            }
            @media (max-width: 575.98px) {
                padding: 0 15px;
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
    }
    .row {
        margin-top: 40px;
        @media (max-width: 1439.98px) {
            margin-top: 20px;
        }
        .block-product {
            margin-bottom: 30px;
            @media (max-width: 1024.98px) {
                margin-bottom: 16px;
            }
            @media (max-width: 575.98px) {
                margin-bottom: 15px;
            }
        }
    }
}

.Product-group-video {
    padding: 100px 0;
    position: relative;
    background: var(--bg-section);
    .video {
        width: 50%;
        margin: 0 auto;
    }
    .img {
        position: relative;
        height: 560px;
        width: auto;
        &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            pointer-events: none;
            background: rgb(2, 0, 36);
            background: linear-gradient( 180deg, rgba(2, 0, 36, 0) 50%, rgba(0, 0, 0, 0.8) 90%);
        }
    }
    .description {
        position: absolute;
        left: 30px;
        bottom: 30px;
        right: 30px;
        h3 {
            color: var(--white);
            font-size: 2.2rem;
            text-align: center;
        }
    }
    .item {
        position: relative;
        @media (min-width: 1025px) {
            .description {
                h3 {
                    transition: 0.3s all ease-in-out;
                }
            }
            .img {
                img {
                    transition: 0.3s all ease-in-out;
                }
            }
            &:hover {
                .img {
                    img {
                        transform: scale(1.1);
                    }
                }
                .description {
                    h3 {
                        color: var(--secondary);
                    }
                }
            }
        }
    }
}

.Products-view {
    //col-1
    .thumbs {
        .swiper-container {
            height: 620px;
            @media (max-width: 1024.98px) {
                height: 150px;
            }
        }
        .swiper-slide-thumb-active {
            .item {
                position: relative;
                &::before {
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    background: rgba($color: #000000, $alpha: 0.5);
                    content: "";
                    z-index: 1;
                    opacity: 1;
                }
                &::after {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    display: flex;
                    align-items: center;
                    justify-self: center;
                    font-family: "Font Awesome 5 Pro";
                    color: var(--white);
                    font-size: 2rem;
                    z-index: 2;
                    content: "\f002";
                    opacity: 2;
                    transition: all 0.3s ease-in-out;
                    @media (max-width: 767.98px) {
                        font-size: 2rem;
                    }
                }
            }
        }
        .item {
            height: 100%;
            position: relative;
            &::before {
                position: absolute;
                height: 100%;
                width: 100%;
                background: rgba($color: #000000, $alpha: 0.5);
                content: "";
                z-index: 1;
                opacity: 0;
            }
            &::after {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: flex;
                align-items: center;
                justify-self: center;
                font-family: "Font Awesome 5 Pro";
                color: var(--white);
                font-size: 2rem;
                z-index: 2;
                content: "\f002";
                opacity: 0;
                transition: all 0.3s ease-in-out;
                @media (max-width: 767.98px) {
                    font-size: 2rem;
                }
            }
            @media (min-width: 1025px) {
                &:hover {
                    &::before,
                    &::after {
                        transition: all 0.3s ease-in-out;
                        opacity: 1;
                    }
                }
            }
        }
    }
    .images {
        position: relative;
        height: 620px;
        @media (max-width: 1024.98px) {
            height: 100%;
        }
        .swiper-container {
            width: 100%;
            height: 100%;
        }
        .item {
            height: 100%;
        }
    }
    //col-1
    .product-view-thumb {
        padding-right: 0;
    }
    .product-view-img {
        padding-right: 25px;
        @media (max-width: 1439.98px) {
            padding-right: 15px;
        }
        .button-navigation-slider.center-50px.next {
            right: 15px;
        }
        .button-navigation-slider.center-50px.prev {
            left: 15px;
        }
    }
    .product-view-cnt {
        padding-left: 25px;
        @media (max-width: 1439.98px) {
            padding-left: 15px;
        }
    }
    @media (max-width: 1024.98px) {
        .product-view-img {
            margin-bottom: 20px;
            order: 1;
        }
        .product-view-thumb {
            order: 2;
        }
        .product-view-cnt {
            order: 3;
        }
    }
    [class*="col-"] {
        position: relative;
        height: 100%;
        @media (max-width: 1024.98px) {
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
    h4,
    .information {
        padding-bottom: 20px;
        margin-bottom: 20px;
        @media (max-width: 767.98px) {
            padding-bottom: 10px;
            margin-bottom: 10px;
        }
    }
    h2,
    h3 {
        font-family: "SFU TradeGothic";
        text-transform: uppercase;
    }
    h2 {
        font-size: 5.5rem;
        @media (max-width: 767.98px) {
            font-size: 4rem;
        }
    }
    h3 {
        font-size: 5rem;
        margin-bottom: 20px;
        text-decoration: underline;
        color: var(--secondary);
        @media (max-width: 767.98px) {
            font-size: 3.5rem;
            margin-bottom: 10px;
        }
        sup {
            text-transform: lowercase;
        }
    }
    h4 {
        font-size: 2rem;
        border-bottom: 1px solid var(--neutral-gray);
        span {
            color: var(--secondary);
        }
        @media (max-width: 575.98px) {
            font-size: 1.6rem;
        }
    }
    h5 {
        font-size: 1.8rem;
        margin-bottom: 20px;
        @media (max-width: 575.98px) {
            font-size: 1.4rem;
        }
    }
    .information {
        padding-top: 20px;
        margin-top: 20px;
        border-top: 1px solid var(--neutral-gray);
        border-bottom: 1px solid var(--neutral-gray);
        @media (max-width: 767.98px) {
            padding-top: 10px;
            margin-top: 10px;
        }
    }
    .list-btn-action {
        display: flex;
        flex-wrap: wrap;
        li {
            position: relative;
            margin-right: 20px;
            &:first-child {
                label {
                    margin-right: 10px;
                }
                padding-right: 20px;
                @media (max-width: 575.98px) {
                    margin-bottom: 10px;
                }
                @media (max-width: 320.98px) {
                    text-align: center;
                }
                span {
                    position: absolute;
                    width: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 50%;
                    border-right: 1px solid var(--primary);
                    border-top: 1px solid var(--primary);
                    right: 0;
                    color: var(--primary);
                    cursor: pointer;
                    &.qty-up {
                        top: 0;
                    }
                    &.qty-down {
                        bottom: 0;
                        border-bottom: 1px solid var(--primary);
                    }
                    @media (min-width: 1025px) {
                        &:hover {
                            color: var(--secondary);
                            background: var(--primary);
                        }
                    }
                }
                input {
                    border: 1px solid var(--primary);
                    border-radius: 5px 0 0 5px;
                    width: 51px;
                    height: 100%;
                    appearance: none;
                    padding: 0 10px;
                    font-weight: bold;
                    color: var(--primary);
                    &::-webkit-outer-spin-button,
                    &::-webkit-inner-spin-button {
                        margin: 0;
                        -webkit-appearance: none;
                    }
                    @media (max-width: 767.98px) {
                        height: 36px;
                        border-radius: 3px 0 0 3px;
                    }
                }
            }
            &:last-child {
                margin-right: 0;
                a {
                    margin-right: 20px;
                    @media (max-width: 320.98px) {
                        margin-bottom: 10px;
                        width: 100%;
                    }
                    &:last-child {
                        margin-right: 0;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

.Products-description {
    position: relative;
    padding: 40px;
    box-shadow: 1px 1px 2px rgba($color: #000000, $alpha: 0.5);
    [class*='col-'] {
        &:first-child {
            padding-right: 25px;
        }
        &:last-child {
            padding-left: 25px;
        }
        @media (max-width: 1439.98px) {
            &:first-child {
                padding-right: 15px;
            }
            &:last-child {
                padding-left: 15px;
            }
        }
    }
    @media (max-width: 767.98px) {
        padding: 15px;
        [class*="col-"] {
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
            margin-bottom: 15px;
            padding: 0 0;
            &:last-child {
                margin-bottom: 30px;
            }
        }
    }
    h3 {
        font-size: 2rem;
        position: relative;
        display: inline-block;
        margin-bottom: 20px;
        &::before {
            position: absolute;
            width: 100%;
            content: "";
            height: 2px;
            background: var(--secondary);
            bottom: 0;
            left: 0;
        }
    }
    p {
        margin-bottom: 20px;
    }
    ul {
        li {
            padding: 20px 0;
            border-top: 1px solid var(--neutral-gray);
            @media (max-width: 767.98px) {
                padding: 10px 0;
            }
            &:last-child {
                padding-bottom: 0;
            }
        }
    }
}

.slider-product-view-more {
    position: relative;
}