.Setup-introduce {
    position: relative;
    &::before {
        position: absolute;
        width: 50%;
        height: 100%;
        background-image: url(../../resources/images/setup/setup-intro-2.png);
        background-color: var(--primary);
        content: "";
        top: 0;
        left: 0;
        @media (max-width: 767.98px) {
            width: 100%;
        }
    }
    .container {
        @media (max-width: 1001.98px) {
            width: 100%;
            max-width: 100%;
        }
    }
    [class*="col-"] {
        padding: 95px 0;
        padding-right: 85px;
        @media (max-width: 1439.98px) {
            padding: 40px;
        }
        @media (max-width: 1001.98px) {
            padding: 20px;
            flex: 0 0 50%;
        }
        @media (max-width: 767.98px) {
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
    .img {
        position: absolute;
        width: 50%;
        height: 100%;
        right: 0;
        top: 0;
        min-width: 300px;
        @media (max-width: 767.98px) {
            position: relative;
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
            margin: 0 auto;
            height: 300px;
        }
    }
    .content {
        margin-top: 30px;
        p {
            color: var(--white);
            margin-bottom: 35px;
            @media (max-width: 1001.98px) {
                margin-bottom: 20px;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.Setup-option {
    padding-bottom: 100px;
    @media (max-width: 1024.98px) {
        padding-bottom: 50px;
    }
    .tab-menu {
        background: #f5f5f5;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.104);
        margin-bottom: 60px;
        @media (max-width: 1024.98px) {
            margin-bottom: 30px;
        }
        cursor: pointer;
        ul {
            display: flex;
        }
        li {
            width: calc(100% / 3);
            background: #f5f5f5;
            padding: 30px 0;
            text-align: center;
            user-select: none;
            font-weight: bold;
            &.active {
                position: relative;
                background: var(--secondary-light);
                &::before {
                    position: absolute;
                    content: "";
                    border-left: 15px solid transparent;
                    border-right: 15px solid transparent;
                    border-top: 15px solid var(--secondary-light);
                    left: calc(50% - 55px);
                    width: 0;
                    height: 0;
                    bottom: -15px;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }
    }
    .tab-content {
        padding: 0 200px;
        @media (max-width: 1439.98px) {
            padding: 0 100px;
        }
        @media (max-width: 1024.98px) {
            padding: 0 10px;
        }
        h5 {
            font-size: 2.2rem;
            color: var(--primary);
            font-family: "SFU TradeGothic";
            margin-bottom: 25px;
        }
        p {
            color: var(--primary);
            margin-bottom: 35px;
            @media (max-width: 1024.98px) {
                margin-bottom: 20px;
            }
        }
        table {
            width: 100%;
            position: relative;
            thead {
                position: relative;
                background: var(--primary);
                th {
                    padding: 27px;
                    &:first-child {
                        text-align: center;
                        width: 30%;
                    }
                    &:last-child {
                        border-left: 1px solid #7f899c;
                    }
                    color: var(--white);
                    font-family: "SFU TradeGothic";
                    font-size: 17px;
                }
            }
            tr:nth-child(odd) {
                td {
                    background: #f8f8f8;
                }
            }
            tr:nth-child(even) {
                td {
                    background: #ffffff;
                }
            }
            td {
                padding: 27px;
                color: var(--primary);
                border: 1px solid #7f899c;
                &:first-child {
                    vertical-align: top;
                    font-size: 25px;
                    text-transform: uppercase;
                }
                &:last-child {
                    border-left: 1px solid #f5f5f5;
                }
                li {
                    position: relative;
                    padding-left: 20px;
                    margin-bottom: 20px;
                    &::before {
                        left: 0;
                        position: absolute;
                        content: "\f14a";
                        font-size: 16px;
                        color: var(--primary);
                        font-family: "Font Awesome 5 Pro";
                    }
                    @media (max-width: 1024.98px) {
                        margin-bottom: 10px;
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

.Setup-experts {
    position: relative;
    padding: 80px 0;
    @media (max-width: 1024.98px) {
        padding: 40px 0;
    }
    @media (max-width: 575.98px) {
        padding: 20px 0;
    }
    background: var(--url-background-setup-experts) no-repeat;
    h2 {
        font-size: 5.5rem;
        text-align: center;
        margin-bottom: 40px;
    }
    .slider-setup-info {
        position: relative;
        .description {
            padding-left: 105px;
            position: relative;
            margin-top: 20px;
            text-align: center;
            &::before {
                position: absolute;
                content: "";
                width: 52px;
                height: 57px;
                border-left: 2px solid var(--white);
                border-bottom: 2px solid var(--white);
                bottom: 0;
                left: 0;
            }
            h4 {
                font-size: 2.5rem;
                font-weight: normal;
                color: var(--white);
            }
            p {
                font-size: 1.7rem;
                color: var(--white);
                @media (max-width: 1439.98px) {
                    font-size: 1.5rem;
                }
            }
        }
        .img {
            position: relative;
            height: 425px;
            @media (max-width: 1439.98px) {
                height: 400px;
            }
            .plus {
                position: absolute;
                z-index: 1;
                width: 60px;
                height: 60px;
                background: var(--primary);
                right: 0;
                bottom: 0;
                cursor: pointer;
                opacity: 1;
                transition: all 0.3s ease;
                &::before {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    border-left: 60px solid transparent;
                    border-bottom: 60px solid var(--primary-light);
                    border-right: none;
                    width: 0;
                    height: 0;
                    content: "";
                }
                @media (min-width: 1025px) {
                    &:hover {
                        opacity: 0.9;
                        transition: all 0.3s ease;
                    }
                }
                i {
                    color: var(--white);
                    font-size: 2rem;
                    padding: 10px;
                }
            }
        }
    }
}

.Setup-project {
    position: relative;
    padding: 80px 0;
    @media (max-width: 1024.98px) {
        padding: 40px 0;
    }
    @media (max-width: 575.98px) {
        padding: 20px 0;
    }
    h2 {
        font-size: 5.5rem;
        font-family: "SFU TradeGothic";
        color: var(--primary);
        text-align: center;
        margin-bottom: 40px;
    }
    .slider-setup-project {
        position: relative;
    }
    .container-fluid {
        position: relative;
        padding: 0 60px;
        .item {
            display: block;
            position: relative;
            &::before {
                content: "\f002";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-family: "Font Awesome 5 Pro";
                font-size: 40px;
                font-weight: 500;
                color: var(--white);
                opacity: 0;
                bottom: -100%;
                transition: all 0.3s ease-in-out;
                z-index: 2;
            }
            @media (min-width: 1025px) {
                &:hover {
                    &::before {
                        opacity: 1;
                        bottom: unset;
                        transition: all 0.3s ease-in-out;
                    }
                    .description {
                        opacity: 1;
                        bottom: 0;
                        transition: all 0.3s ease-in-out;
                    }
                }
            }
        }
        .img {
            height: 400px;
            @media (max-width: 1439.98px) {
                height: 300px;
            }
        }
        .description {
            position: absolute;
            left: 0px;
            bottom: 0;
            width: 100%;
            padding: 30px;
            font-size: 2.5rem;
            font-weight: normal;
            color: var(--white);
            z-index: 1;
            opacity: 0;
            bottom: -100%;
            transition: all 0.3s ease-in-out;
            @media (max-width: 1439.98px) {
                font-size: 1.6rem;
            }
            &::before {
                position: absolute;
                width: 100%;
                height: 200%;
                content: "";
                background: linear-gradient(to top, #000, rgba(0, 0, 0, 0));
                background-blend-mode: multiply;
                bottom: 0;
                left: 0;
                z-index: -1;
            }
        }
    }
}

.Setup-feedback {
    padding: 100px 0;
    @media (max-width: 1024.98px) {
        padding: 40px 0;
    }
    @media (max-width: 575.98px) {
        padding: 30px 0;
    }
    background: var(--primary);
    position: relative;
    .slider-setup-feedback {
        position: relative;
    }
    h2 {
        font-size: 5.5rem;
        font-family: "SFU TradeGothic";
        color: var(--white);
        text-align: center;
        margin-bottom: 40px;
        text-transform: uppercase;
    }
    .item {
        display: block;
        position: relative;
        h5 {
            position: relative;
            text-align: center;
            font-size: 2.2rem;
            letter-spacing: -0.01em;
            color: var(--white);
            font-weight: 400;
            margin-top: 30px;
        }
    }
}

.Setup-form {
    padding: 100px 0;
    @media (max-width: 1024.98px) {
        padding: 40px 0;
    }
    @media (max-width: 575.98px) {
        padding: 20px 0;
    }
    .block-form {
        padding: 50px;
        background: var(--primary);
        height: 100%;
        @media (max-width: 1439.98px) {
            padding: 20px;
        }
        h3 {
            font-size: 3.5rem;
            color: var(--white);
            margin-bottom: 20px;
            @media (max-width: 1439.98px) {
                margin-bottom: 10px;
                font-size: 3rem;
            }
        }
        div {
            margin-bottom: 20px;
        }
        .bg-secondary {
            border: 1px solid transparent;
            &:hover {
                border: 1px solid white;
            }
        }
        div {
            &:last-child {
                text-align: end;
            }
        }
        button {
            text-align: center;
        }
    }
    [class*="col-"] {
        padding-left: 50px;
        position: relative;
        @media (max-width: 1439.98px) {
            padding-left: 30px;
        }
        .img {
            position: relative;
            height: 400px;
            @media (max-width: 1439.98px) {
                height: 341px;
            }
            &::before {
                position: absolute;
                bottom: 0;
                left: 0;
                content: "";
                background: url(../../resources/images/setup/setup-pattern.png) no-repeat;
                background-size: 100% 100%;
                width: 100%;
                height: 18%;
            }
        }
        .desc {
            position: absolute;
            top: 20%;
            left: calc(5% + 50px);
            p {
                font-weight: bold;
                &:first-child {
                    color: var(--white);
                }
                &.contact {
                    margin-top: 15px;
                    color: var(--secondary);
                }
            }
            h3 {
                margin-top: 35px;
                font-family: "SFU TradeGothic";
                font-size: 35px;
                color: var(--white);
            }
        }
    }
}